<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.channel.ContactChlAblMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.ContactChlAbl">
    <id column="CONTAC_CHL_ABL_ID" jdbcType="BIGINT" property="contacChlAblId" />
    <result column="CONTACT_CHL_CONVERT_CFG_ID" jdbcType="BIGINT" property="contactChlConvertCfgId" />
    <result column="CONTACT_CHL_ID" jdbcType="BIGINT" property="contactChlId" />
    <result column="PUSH_TYPE" jdbcType="VARCHAR" property="pushType" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from contact_chl_abl
    where CONTAC_CHL_ABL_ID = #{contacChlAblId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.ContactChlAbl">
    insert into contact_chl_abl (CONTAC_CHL_ABL_ID, CONTACT_CHL_CONVERT_CFG_ID, 
      CONTACT_CHL_ID, PUSH_TYPE, STATUS_CD, 
      CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, 
      STATUS_DATE, UPDATE_DATE, REMARK
      )
    values (#{contacChlAblId,jdbcType=BIGINT}, #{contactChlConvertCfgId,jdbcType=BIGINT}, 
      #{contactChlId,jdbcType=BIGINT}, #{pushType,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR}, 
      #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.ContactChlAbl">
    update contact_chl_abl
    set CONTACT_CHL_CONVERT_CFG_ID = #{contactChlConvertCfgId,jdbcType=BIGINT},
      CONTACT_CHL_ID = #{contactChlId,jdbcType=BIGINT},
      PUSH_TYPE = #{pushType,jdbcType=VARCHAR},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where CONTAC_CHL_ABL_ID = #{contacChlAblId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select CONTAC_CHL_ABL_ID, CONTACT_CHL_CONVERT_CFG_ID, CONTACT_CHL_ID, PUSH_TYPE, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from contact_chl_abl
    where CONTAC_CHL_ABL_ID = #{contacChlAblId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CONTAC_CHL_ABL_ID, CONTACT_CHL_CONVERT_CFG_ID, CONTACT_CHL_ID, PUSH_TYPE, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from contact_chl_abl
  </select>
</mapper>