<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.channel.IndexLogMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.IndexLog">
    <id column="INDEX_ID" jdbcType="BIGINT" property="indexId" />
    <result column="INDEX_SUFFIX" jdbcType="VARCHAR" property="indexSuffix" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="START_IMPORT_DATE" jdbcType="TIMESTAMP" property="startImportDate" />
    <result column="END_IMPORT_DATE" jdbcType="TIMESTAMP" property="endImportDate" />
    <result column="STATUS_IMPORT" jdbcType="VARCHAR" property="statusImport" />
    <result column="REMAKE" jdbcType="VARCHAR" property="remake" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from index_log
    where INDEX_ID = #{indexId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.IndexLog">
    insert into index_log (INDEX_ID, INDEX_SUFFIX, STATUS_CD, 
      CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, 
      STATUS_DATE, UPDATE_DATE, START_IMPORT_DATE, 
      END_IMPORT_DATE, STATUS_IMPORT, REMAKE
      )
    values (#{indexId,jdbcType=BIGINT}, #{indexSuffix,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR}, 
      #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{startImportDate,jdbcType=TIMESTAMP}, 
      #{endImportDate,jdbcType=TIMESTAMP}, #{statusImport,jdbcType=VARCHAR}, #{remake,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.IndexLog">
    update index_log
    set INDEX_SUFFIX = #{indexSuffix,jdbcType=VARCHAR},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      START_IMPORT_DATE = #{startImportDate,jdbcType=TIMESTAMP},
      END_IMPORT_DATE = #{endImportDate,jdbcType=TIMESTAMP},
      STATUS_IMPORT = #{statusImport,jdbcType=VARCHAR},
      REMAKE = #{remake,jdbcType=VARCHAR}
    where INDEX_ID = #{indexId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select INDEX_ID, INDEX_SUFFIX, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, 
    STATUS_DATE, UPDATE_DATE, START_IMPORT_DATE, END_IMPORT_DATE, STATUS_IMPORT, REMAKE
    from index_log
    where INDEX_ID = #{indexId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select INDEX_ID, INDEX_SUFFIX, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, 
    STATUS_DATE, UPDATE_DATE, START_IMPORT_DATE, END_IMPORT_DATE, STATUS_IMPORT, REMAKE
    from index_log
  </select>
</mapper>