<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.channel.InjectionLabelMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.Label">
    <id column="INJECTION_LABEL_ID" jdbcType="BIGINT" property="injectionLabelId" />
    <result column="INJECTION_LABEL_CODE" jdbcType="VARCHAR" property="injectionLabelCode" />
    <result column="INJECTION_LABEL_NAME" jdbcType="VARCHAR" property="injectionLabelName" />
    <result column="INJECTION_LABEL_DESC" jdbcType="VARCHAR" property="injectionLabelDesc" />
    <result column="LABEL_TYPE" jdbcType="VARCHAR" property="labelType" />
    <result column="LABEL_VALUE_TYPE" jdbcType="VARCHAR" property="labelValueType" />
    <result column="LABEL_DATA_TYPE" jdbcType="VARCHAR" property="labelDataType" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="RIGHT_OPERAND" jdbcType="VARCHAR" property="rightOperand" />
    <result column="CONDITION_TYPE" jdbcType="VARCHAR" property="conditionType" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="SCOPE" jdbcType="INTEGER" property="scope" />
    <result column="TAG_ROW_ID" jdbcType="BIGINT" property="tagRowId" />
    <result column="IS_SHARED" jdbcType="INTEGER" property="isShared" />
    <result column="CATALOG_ID" jdbcType="VARCHAR" property="catalogId" />
    <result column="CLASS_NAME" jdbcType="VARCHAR" property="className" />
    <result column="LAB_RELEVANT_FLAG" jdbcType="VARCHAR" property="labRelevantFlag" />
    <result column="LAB_MISS_RATE" jdbcType="VARCHAR" property="labMissRate" />
    <result column="LAB_OBJECT_CODE" jdbcType="VARCHAR" property="labObjectCode" />
    <result column="LAB_OBJECT" jdbcType="VARCHAR" property="labObject" />
    <result column="LAB_LEVEL1" jdbcType="VARCHAR" property="labLevel1" />
    <result column="LAB_LEVEL1_NAME" jdbcType="VARCHAR" property="labLevel1Name" />
    <result column="LAB_LEVEL2" jdbcType="VARCHAR" property="labLevel2" />
    <result column="LAB_LEVEL2_NAME" jdbcType="VARCHAR" property="labLevel2Name" />
    <result column="LAB_LEVEL3" jdbcType="VARCHAR" property="labLevel3" />
    <result column="LAB_LEVEL3_NAME" jdbcType="VARCHAR" property="labLevel3Name" />
    <result column="LAB_LEVEL4" jdbcType="VARCHAR" property="labLevel4" />
    <result column="LAB_LEVEL4_NAME" jdbcType="VARCHAR" property="labLevel4Name" />
    <result column="LAB_LEVEL5" jdbcType="VARCHAR" property="labLevel5" />
    <result column="LAB_LEVEL5_NAME" jdbcType="VARCHAR" property="labLevel5Name" />
    <result column="LAB_LEVEL6" jdbcType="VARCHAR" property="labLevel6" />
    <result column="LAB_LEVEL6_NAME" jdbcType="VARCHAR" property="labLevel6Name" />
    <result column="LAB_UPDATE_FEQ" jdbcType="VARCHAR" property="labUpdateFeq" />
    <result column="LAB_BUSI_DESC" jdbcType="VARCHAR" property="labBusiDesc" />
    <result column="LAB_TECH_DESC" jdbcType="VARCHAR" property="labTechDesc" />
    <result column="LAB_STATE" jdbcType="VARCHAR" property="labState" />
    <result column="LAB_MANAGE_TYPE" jdbcType="VARCHAR" property="labManageType" />
    <result column="LAB_TAG_CODE" jdbcType="VARCHAR" property="labTagCode" />
    <result column="SYSTEM_INFO_ID" jdbcType="BIGINT" property="systemInfoId" />
    <result column="LAB_EXAMPLE" jdbcType="VARCHAR" property="labExample" />
    <result column="LAB_EFFECTIVE_DATE" jdbcType="TIMESTAMP" property="labEffectiveDate" />
    <result column="LAB_EXPIRATION_DATE" jdbcType="TIMESTAMP" property="labExpirationDate" />
    <result column="DAMANDER" jdbcType="VARCHAR" property="damander" />
    <result column="DAMAND_DEPARTMENT" jdbcType="VARCHAR" property="damandDepartment" />
    <result column="DAMAND_DESCRIPTION" jdbcType="VARCHAR" property="damandDescription" />
    <result column="ORIGINAL_LAB_LEVEL1_NAME" jdbcType="VARCHAR" property="originalLabLevel1Name" />
    <result column="ORIGINAL_LAB_LEVEL2_NAME" jdbcType="VARCHAR" property="originalLabLevel2Name" />
    <result column="ORIGINAL_LAB_LEVEL3_NAME" jdbcType="VARCHAR" property="originalLabLevel3Name" />
    <result column="ORIGINAL_LAB_LEVEL1_CODE" jdbcType="VARCHAR" property="originalLabLevel1Code" />
    <result column="ORIGINAL_LAB_LEVEL2_CODE" jdbcType="VARCHAR" property="originalLabLevel2Code" />
    <result column="ORIGINAL_LAB_LEVEL3_CODE" jdbcType="VARCHAR" property="originalLabLevel3Code" />
  </resultMap>

  <sql id="selectLabelField">
    INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE, OPERATOR,
    SCOPE, TAG_ROW_ID, IS_SHARED, CATALOG_ID, CLASS_NAME, LAB_RELEVANT_FLAG, LAB_MISS_RATE,
    LAB_OBJECT_CODE, LAB_OBJECT, LAB_LEVEL1, LAB_LEVEL1_NAME, LAB_LEVEL2, LAB_LEVEL2_NAME,
    LAB_LEVEL3, LAB_LEVEL3_NAME, LAB_LEVEL4, LAB_LEVEL4_NAME, LAB_LEVEL5, LAB_LEVEL5_NAME,
    LAB_LEVEL6, LAB_LEVEL6_NAME, LAB_UPDATE_FEQ, LAB_BUSI_DESC, LAB_TECH_DESC, LAB_STATE,
    LAB_MANAGE_TYPE, LAB_TAG_CODE, SYSTEM_INFO_ID, ORIGINAL_LAB_LEVEL1_NAME, ORIGINAL_LAB_LEVEL2_NAME,
    ORIGINAL_LAB_LEVEL3_NAME, ORIGINAL_LAB_LEVEL1_CODE, ORIGINAL_LAB_LEVEL2_CODE, ORIGINAL_LAB_LEVEL3_CODE
  </sql>

  <resultMap id="BaseResultMapT" type="com.zjtelcom.cpct.domain.channel.Label">
    <id column="INJECTION_LABEL_ID" jdbcType="BIGINT" property="injectionLabelId" />
    <result column="INJECTION_LABEL_NAME" jdbcType="VARCHAR" property="injectionLabelName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from injection_label
    where INJECTION_LABEL_ID = #{injectionLabelId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.Label" useGeneratedKeys="true" keyProperty="injectionLabelId">
    insert into injection_label (INJECTION_LABEL_ID, INJECTION_LABEL_CODE,
      INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
      LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE,
      STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
      CREATE_DATE, STATUS_DATE, UPDATE_DATE,
      REMARK, RIGHT_OPERAND, CONDITION_TYPE,
      OPERATOR, SCOPE, TAG_ROW_ID,
      IS_SHARED, CATALOG_ID, CLASS_NAME,
      LAB_RELEVANT_FLAG, LAB_MISS_RATE, LAB_OBJECT_CODE,
      LAB_OBJECT, LAB_LEVEL1, LAB_LEVEL1_NAME,
      LAB_LEVEL2, LAB_LEVEL2_NAME, LAB_LEVEL3,
      LAB_LEVEL3_NAME, LAB_LEVEL4, LAB_LEVEL4_NAME,
      LAB_LEVEL5, LAB_LEVEL5_NAME, LAB_LEVEL6,
      LAB_LEVEL6_NAME, LAB_UPDATE_FEQ, LAB_BUSI_DESC,
      LAB_TECH_DESC, LAB_STATE, LAB_MANAGE_TYPE,
      LAB_TAG_CODE,SYSTEM_INFO_ID, LAB_EXAMPLE,
      LAB_EFFECTIVE_DATE, LAB_EXPIRATION_DATE,
      DAMANDER, DAMAND_DEPARTMENT, DAMAND_DESCRIPTION)
    values (#{injectionLabelId,jdbcType=BIGINT}, #{injectionLabelCode,jdbcType=VARCHAR},
      #{injectionLabelName,jdbcType=VARCHAR}, #{injectionLabelDesc,jdbcType=VARCHAR},
      #{labelType,jdbcType=VARCHAR}, #{labelValueType,jdbcType=VARCHAR}, #{labelDataType,jdbcType=VARCHAR},
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT},
      #{createDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR}, #{rightOperand,jdbcType=VARCHAR}, #{conditionType,jdbcType=VARCHAR},
      #{operator,jdbcType=VARCHAR}, #{scope,jdbcType=INTEGER}, #{tagRowId,jdbcType=BIGINT},
      #{isShared,jdbcType=INTEGER}, #{catalogId,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR},
      #{labRelevantFlag,jdbcType=VARCHAR}, #{labMissRate,jdbcType=VARCHAR}, #{labObjectCode,jdbcType=VARCHAR},
      #{labObject,jdbcType=VARCHAR}, #{labLevel1,jdbcType=VARCHAR}, #{labLevel1Name,jdbcType=VARCHAR},
      #{labLevel2,jdbcType=VARCHAR}, #{labLevel2Name,jdbcType=VARCHAR}, #{labLevel3,jdbcType=VARCHAR},
      #{labLevel3Name,jdbcType=VARCHAR}, #{labLevel4,jdbcType=VARCHAR}, #{labLevel4Name,jdbcType=VARCHAR},
      #{labLevel5,jdbcType=VARCHAR}, #{labLevel5Name,jdbcType=VARCHAR}, #{labLevel6,jdbcType=VARCHAR},
      #{labLevel6Name,jdbcType=VARCHAR}, #{labUpdateFeq,jdbcType=VARCHAR}, #{labBusiDesc,jdbcType=VARCHAR},
      #{labTechDesc,jdbcType=VARCHAR}, #{labState,jdbcType=VARCHAR}, #{labManageType,jdbcType=VARCHAR},
      #{labTagCode,jdbcType=VARCHAR},#{systemInfoId,jdbcType=BIGINT},#{labExample,jdbcType=VARCHAR},
      #{labEffectiveDate,jdbcType=TIMESTAMP}, #{labExpirationDate,jdbcType=TIMESTAMP},
      #{damander,jdbcType=VARCHAR}, #{damandDepartment,jdbcType=VARCHAR}, #{damandDescription,jdbcType=VARCHAR})
  </insert>
  <!--<update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.Label">-->
    <!--update injection_label-->
    <!--set INJECTION_LABEL_CODE = #{injectionLabelCode,jdbcType=VARCHAR},-->
      <!--INJECTION_LABEL_NAME = #{injectionLabelName,jdbcType=VARCHAR},-->
      <!--INJECTION_LABEL_DESC = #{injectionLabelDesc,jdbcType=VARCHAR},-->
      <!--LABEL_TYPE = #{labelType,jdbcType=VARCHAR},-->
      <!--LABEL_VALUE_TYPE = #{labelValueType,jdbcType=VARCHAR},-->
      <!--LABEL_DATA_TYPE = #{labelDataType,jdbcType=VARCHAR},-->
      <!--STATUS_CD = #{statusCd,jdbcType=VARCHAR},-->
      <!--CREATE_STAFF = #{createStaff,jdbcType=BIGINT},-->
      <!--UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},-->
      <!--CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},-->
      <!--STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},-->
      <!--UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},-->
      <!--REMARK = #{remark,jdbcType=VARCHAR},-->
      <!--RIGHT_OPERAND = #{rightOperand,jdbcType=VARCHAR},-->
      <!--CONDITION_TYPE = #{conditionType,jdbcType=VARCHAR},-->
      <!--OPERATOR = #{operator,jdbcType=VARCHAR},-->
      <!--SCOPE = #{scope,jdbcType=INTEGER},-->
      <!--TAG_ROW_ID = #{tagRowId,jdbcType=BIGINT},-->
      <!--IS_SHARED = #{isShared,jdbcType=INTEGER},-->
      <!--CATALOG_ID = #{catalogId,jdbcType=VARCHAR},-->
      <!--CLASS_NAME = #{className,jdbcType=VARCHAR},-->
      <!--LAB_RELEVANT_FLAG = #{labRelevantFlag,jdbcType=VARCHAR},-->
      <!--LAB_MISS_RATE = #{labMissRate,jdbcType=VARCHAR},-->
      <!--LAB_OBJECT_CODE = #{labObjectCode,jdbcType=VARCHAR},-->
      <!--LAB_OBJECT = #{labObject,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL1 = #{labLevel1,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL1_NAME = #{labLevel1Name,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL2 = #{labLevel2,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL2_NAME = #{labLevel2Name,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL3 = #{labLevel3,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL3_NAME = #{labLevel3Name,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL4 = #{labLevel4,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL4_NAME = #{labLevel4Name,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL5 = #{labLevel5,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL5_NAME = #{labLevel5Name,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL6 = #{labLevel6,jdbcType=VARCHAR},-->
      <!--LAB_LEVEL6_NAME = #{labLevel6Name,jdbcType=VARCHAR},-->
      <!--LAB_UPDATE_FEQ = #{labUpdateFeq,jdbcType=VARCHAR},-->
      <!--LAB_BUSI_DESC = #{labBusiDesc,jdbcType=VARCHAR},-->
      <!--LAB_TECH_DESC = #{labTechDesc,jdbcType=VARCHAR},-->
      <!--LAB_STATE = #{labState,jdbcType=VARCHAR},-->
      <!--LAB_MANAGE_TYPE = #{labManageType,jdbcType=VARCHAR},-->
      <!--LAB_TAG_CODE = #{labTagCode,jdbcType=VARCHAR},-->
      <!--SYSTEM_INFO_ID = #{systemInfoId,jdbcType=BIGINT},-->
      <!--LAB_EXAMPLE = #{labExample,jdbcType=VARCHAR},-->
      <!--LAB_EFFECTIVE_DATE = #{labEffectiveDate,jdbcType=TIMESTAMP},-->
      <!--LAB_EXPIRATION_DATE = #{labExpirationDate,jdbcType=TIMESTAMP},-->
      <!--DAMANDER = #{damander,jdbcType=VARCHAR},-->
      <!--DAMAND_DEPARTMENT = #{damandDepartment,jdbcType=VARCHAR},-->
      <!--DAMAND_DESCRIPTION = #{damandDescription,jdbcType=VARCHAR},-->
      <!--ORIGINAL_LAB_LEVEL1_NAME = #{originalLabLevel1Name,jdbcType=VARCHAR},-->
      <!--ORIGINAL_LAB_LEVEL2_NAME = #{originalLabLevel2Name,jdbcType=VARCHAR},-->
      <!--ORIGINAL_LAB_LEVEL3_NAME = #{originalLabLevel3Name,jdbcType=VARCHAR},-->
      <!--ORIGINAL_LAB_LEVEL1_CODE = #{originalLabLevel1Code,jdbcType=VARCHAR},-->
      <!--ORIGINAL_LAB_LEVEL2_CODE = #{originalLabLevel2Code,jdbcType=VARCHAR},-->
      <!--ORIGINAL_LAB_LEVEL3_CODE = #{originalLabLevel3Code,jdbcType=VARCHAR}-->
    <!--where INJECTION_LABEL_ID = #{injectionLabelId,jdbcType=BIGINT}-->
  <!--</update>-->
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.Label">
    update injection_label
    set ORIGINAL_LAB_LEVEL1_NAME = #{originalLabLevel1Name,jdbcType=VARCHAR},
      ORIGINAL_LAB_LEVEL2_NAME = #{originalLabLevel2Name,jdbcType=VARCHAR},
      ORIGINAL_LAB_LEVEL3_NAME = #{originalLabLevel3Name,jdbcType=VARCHAR},
      ORIGINAL_LAB_LEVEL1_CODE = #{originalLabLevel1Code,jdbcType=VARCHAR},
      ORIGINAL_LAB_LEVEL2_CODE = #{originalLabLevel2Code,jdbcType=VARCHAR},
      ORIGINAL_LAB_LEVEL3_CODE = #{originalLabLevel3Code,jdbcType=VARCHAR}
    where INJECTION_LABEL_CODE = #{injectionLabelCode,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE, OPERATOR,
    SCOPE, TAG_ROW_ID, IS_SHARED, CATALOG_ID, CLASS_NAME, LAB_RELEVANT_FLAG, LAB_MISS_RATE,
    LAB_OBJECT_CODE, LAB_OBJECT, LAB_LEVEL1, LAB_LEVEL1_NAME, LAB_LEVEL2, LAB_LEVEL2_NAME,
    LAB_LEVEL3, LAB_LEVEL3_NAME, LAB_LEVEL4, LAB_LEVEL4_NAME, LAB_LEVEL5, LAB_LEVEL5_NAME,
    LAB_LEVEL6, LAB_LEVEL6_NAME, LAB_UPDATE_FEQ, LAB_BUSI_DESC, LAB_TECH_DESC, LAB_STATE,
    LAB_MANAGE_TYPE, LAB_TAG_CODE, SYSTEM_INFO_ID
    from injection_label
    where INJECTION_LABEL_ID = #{injectionLabelId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE, OPERATOR,
    SCOPE, TAG_ROW_ID, IS_SHARED, CATALOG_ID, CLASS_NAME, LAB_RELEVANT_FLAG, LAB_MISS_RATE,
    LAB_OBJECT_CODE, LAB_OBJECT, LAB_LEVEL1, LAB_LEVEL1_NAME, LAB_LEVEL2, LAB_LEVEL2_NAME,
    LAB_LEVEL3, LAB_LEVEL3_NAME, LAB_LEVEL4, LAB_LEVEL4_NAME, LAB_LEVEL5, LAB_LEVEL5_NAME,
    LAB_LEVEL6, LAB_LEVEL6_NAME, LAB_UPDATE_FEQ, LAB_BUSI_DESC, LAB_TECH_DESC, LAB_STATE,
    LAB_MANAGE_TYPE, LAB_TAG_CODE, SYSTEM_INFO_ID
    from injection_label
  </select>

  <select id="findByLabel" resultMap="BaseResultMap">
    select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE, OPERATOR,
    SCOPE, TAG_ROW_ID, IS_SHARED, CATALOG_ID, CLASS_NAME, LAB_RELEVANT_FLAG, LAB_MISS_RATE,
    LAB_OBJECT_CODE, LAB_OBJECT, LAB_LEVEL1, LAB_LEVEL1_NAME, LAB_LEVEL2, LAB_LEVEL2_NAME,
    LAB_LEVEL3, LAB_LEVEL3_NAME, LAB_LEVEL4, LAB_LEVEL4_NAME, LAB_LEVEL5, LAB_LEVEL5_NAME,
    LAB_LEVEL6, LAB_LEVEL6_NAME, LAB_UPDATE_FEQ, LAB_BUSI_DESC, LAB_TECH_DESC, LAB_STATE,
    LAB_MANAGE_TYPE, LAB_TAG_CODE, SYSTEM_INFO_ID
    from injection_label
    where 1=1
    <if test="injectionLabelId != null and injectionLabelId != 0">
      and INJECTION_LABEL_ID = #{injectionLabelId}
    </if>
    <if test="injectionLabelCode != null and injectionLabelCode != ''">
      and INJECTION_LABEL_CODE = #{injectionLabelCode}
    </if>
    <if test="injectionLabelName != null and injectionLabelName != ''">
      and INJECTION_LABEL_NAME like concat('%',concat(#{injectionLabelName},'%'))
    </if>
    <if test="injectionLabelDesc != null and injectionLabelDesc != ''">
      and INJECTION_LABEL_DESC = #{injectionLabelDesc}
    </if>
    <if test="labelType != null and labelType != ''">
      and LABEL_TYPE = #{labelType}
    </if>
    <if test="labelValueType != null and labelValueType != ''">
      and LABEL_VALUE_TYPE = #{labelValueType}
    </if>
    <if test="labelDataType != null and labelDataType != ''">
      and LABEL_DATA_TYPE = #{labelDataType}
    </if>
    <if test="statusCd != null and statusCd != ''">
      and STATUS_CD = #{statusCd}
    </if>
  </select>

  <select id="selectByScope" resultMap="BaseResultMap">
    select <include refid="selectLabelField"/>
    from injection_label
    where SCOPE = #{scope}
    <if test="rightOperand != null and rightOperand != ''">
      and RIGHT_OPERAND = #{rightOperand}
    </if>
  </select>

  <delete id="deleteAll">
  	delete from injection_label
  </delete>

  <!-- 批量插入 -->
  <insert id="insertBatch" parameterType="java.util.List">
    insert into injection_label (INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE,OPERATOR,SCOPE,TAG_ROW_ID,
    IS_SHARED,CATALOG_ID, CLASS_NAME,SYSTEM_INFO_ID)
    values
    <foreach collection="record" item="item" index="i" separator=",">
      (#{injectionLabelId,jdbcType=BIGINT}, #{injectionLabelCode,jdbcType=VARCHAR},
      #{injectionLabelName,jdbcType=VARCHAR}, #{injectionLabelDesc,jdbcType=VARCHAR},
      #{labelType,jdbcType=VARCHAR}, #{labelValueType,jdbcType=VARCHAR}, #{labelDataType,jdbcType=VARCHAR},
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT},
      #{createDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR}, #{rightOperand,jdbcType=VARCHAR},
      #{conditionType,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR},#{scope,jdbcType=INTEGER},
      #{tagRowId,jdbcType=BIGINT}, #{isShared,jdbcType=INTEGER},#{catalogId,jdbcType=VARCHAR},
      #{className,jdbcType=VARCHAR},#{systemInfoId,jdbcType=BIGINT})
    </foreach>
  </insert>
  <!--< 参数查询 >-->
  <select id="findByParam" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE,
    OPERATOR,SCOPE,TAG_ROW_ID,IS_SHARED,CATALOG_ID, CLASS_NAME
    from injection_label
    where 1=1
    <if test="labelName != null and labelName != ''">
      and INJECTION_LABEL_NAME LIKE CONCAT(CONCAT('%',#{labelName}),'%')
    </if>

  </select>

  <!--< 参数查询 >-->
  <select id="selectByLabelCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  select INJECTION_LABEL_ID, INJECTION_LABEL_CODE,
      INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
      LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE,
      STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
      CREATE_DATE, STATUS_DATE, UPDATE_DATE,
      REMARK, RIGHT_OPERAND, CONDITION_TYPE,
      OPERATOR, SCOPE, TAG_ROW_ID,
      IS_SHARED, CATALOG_ID, CLASS_NAME,
      LAB_RELEVANT_FLAG, LAB_MISS_RATE, LAB_OBJECT_CODE,
      LAB_OBJECT, LAB_LEVEL1, LAB_LEVEL1_NAME,
      LAB_LEVEL2, LAB_LEVEL2_NAME, LAB_LEVEL3,
      LAB_LEVEL3_NAME, LAB_LEVEL4, LAB_LEVEL4_NAME,
      LAB_LEVEL5, LAB_LEVEL5_NAME, LAB_LEVEL6,
      LAB_LEVEL6_NAME, LAB_UPDATE_FEQ, LAB_BUSI_DESC,
      LAB_TECH_DESC, LAB_STATE, LAB_MANAGE_TYPE,
      LAB_TAG_CODE,SYSTEM_INFO_ID
  from injection_label
  where INJECTION_LABEL_CODE = #{labelCode}
  </select>


  <select id="queryTriggerByLeftOpers" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE,
    OPERATOR,SCOPE,TAG_ROW_ID,IS_SHARED,CATALOG_ID, CLASS_NAME
    from fpc_system.injection_label
    <where>
      <if test="null != record and record.size > 0">
        INJECTION_LABEL_ID in
        <foreach collection="record" item="item" open="(" close=")" separator=",">
          #{item.injectionLabelId}
        </foreach>
      </if>
    </where>
  </select>

  <!--< 参数查询 >-->
  <select id="selectByTagRowId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
  LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
  CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE,
  OPERATOR,SCOPE,TAG_ROW_ID,IS_SHARED, CATALOG_ID,CLASS_NAME
  from injection_label
  where TAG_ROW_ID = #{tagRowId}
  </select>


  <select id="findLabelList" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE,
    OPERATOR,SCOPE,TAG_ROW_ID,IS_SHARED,CATALOG_ID, CLASS_NAME
    from injection_label
    where 1=1
    <if test="labelName != null and labelName != ''">
      and INJECTION_LABEL_NAME LIKE CONCAT(CONCAT('%',#{labelName}),'%')
    </if>
    <if test="labelCode != null and labelCode != ''">
      and INJECTION_LABEL_CODE LIKE CONCAT(CONCAT('%',#{labelCode}),'%')
    </if>
    <if test="scope != null">
      and SCOPE = #{scope}
    </if>
    <if test="conditionType != null and conditionType != ''">
      and CONDITION_TYPE = #{conditionType}
    </if>
    order by CREATE_DATE desc
  </select>

  <select id="queryLabelsExceptSelected" parameterType="java.util.List" resultMap="BaseResultMap">
      select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
        LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
        CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE,
        OPERATOR,SCOPE,TAG_ROW_ID,IS_SHARED,CATALOG_ID, CLASS_NAME
      from injection_label
    <where>
      <if test="null != injectionLabelIds and injectionLabelIds.size > 0">
        INJECTION_LABEL_ID not in
        <foreach collection="injectionLabelIds" item="item" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="labelName != null and labelName != ''">
        and INJECTION_LABEL_NAME LIKE CONCAT(CONCAT('%',#{labelName}),'%')
      </if>
    </where>

  </select>

  <select id="listLabelByIdList" parameterType="java.util.List" resultMap="BaseResultMap">
    select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE,
    OPERATOR,SCOPE,TAG_ROW_ID,IS_SHARED,CATALOG_ID, CLASS_NAME
    from injection_label
    <where>
      <if test="null != injectionLabelIds and injectionLabelIds.size > 0">
        INJECTION_LABEL_ID  in
        <foreach collection="injectionLabelIds" item="item" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
    </where>

  </select>

  <select id="findLabelListByCatalogId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE,
    OPERATOR,SCOPE,TAG_ROW_ID,IS_SHARED,CATALOG_ID, CLASS_NAME
    from injection_label
    where CATALOG_ID = #{catalogId}
  </select>

  <select id="listLabelByCodeList" parameterType="java.util.List" resultType="com.zjtelcom.cpct.dto.grouping.SimpleInfo">
    select INJECTION_LABEL_NAME as name,INJECTION_LABEL_CODE as value
    from injection_label
    <where>
      <if test="null != codeList and codeList.size > 0">
        INJECTION_LABEL_CODE  in
        <foreach collection="codeList" item="item" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
    </where>

  </select>

  <!--< 参数查询 >-->
  <select id="listLabelByGrpId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select label.INJECTION_LABEL_ID, label.INJECTION_LABEL_CODE, label.INJECTION_LABEL_NAME, label.INJECTION_LABEL_DESC,
  label.LABEL_TYPE, label.LABEL_VALUE_TYPE, label.LABEL_DATA_TYPE, label.STATUS_CD, label.CREATE_STAFF, label.UPDATE_STAFF,
  label.CREATE_DATE, label.STATUS_DATE, label.UPDATE_DATE, label.REMARK, label.RIGHT_OPERAND, label.CONDITION_TYPE,
  label.OPERATOR,label.SCOPE,label.TAG_ROW_ID,label.IS_SHARED, label.CATALOG_ID,label.CLASS_NAME
  from injection_label label left join injection_label_grp_mbr  mbr on label.INJECTION_LABEL_ID = mbr.INJECTION_LABEL_ID
  left join injection_label_grp grp on grp.GRP_ID = mbr.GRP_ID
  where grp.GRP_ID = #{grpId}
  </select>

  <select id="selectAllByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
    select INJECTION_LABEL_ID, INJECTION_LABEL_CODE, INJECTION_LABEL_NAME, INJECTION_LABEL_DESC,
    LABEL_TYPE, LABEL_VALUE_TYPE, LABEL_DATA_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK, RIGHT_OPERAND, CONDITION_TYPE,
    OPERATOR,SCOPE,TAG_ROW_ID,IS_SHARED,CATALOG_ID, CLASS_NAME
    from injection_label
    where CONDITION_TYPE = 2
  </select>

  <select id="listLabelByDisplayId" parameterType="java.lang.Long" resultType="Map">
    select i.INJECTION_LABEL_CODE as labelCode, i.LABEL_TYPE as labelType, i.INJECTION_LABEL_NAME as labelName,dcl.MESSAGE_TYPE as typeCode,m.MESSAGE_NAME as typeName
    from injection_label i
    left join display_column_label dcl
    on i.INJECTION_LABEL_ID = dcl.INJECTION_LABEL_ID
    left join message m
    on dcl.MESSAGE_TYPE = m.MESSAGE_ID
    where dcl.DISPLAY_ID = #{grpId,jdbcType=BIGINT}
  </select>

  <select id="listLabelByRuleId" parameterType="java.lang.Long" resultType="java.lang.String">
    select i.LABEL_TYPE
    from injection_label i
    left join tar_grp_condition con
    on con.LEFT_PARAM = i.INJECTION_LABEL_ID
    left join tar_grp grp
    on grp.TAR_GRP_ID = con.TAR_GRP_ID
    left join mkt_strategy_conf_rule rule
    on rule.TAR_GRP_ID = grp.TAR_GRP_ID
    where rule.MKT_STRATEGY_CONF_RULE_ID = #{ruleId}
  </select>

  <!--根据LABEL_DATA_TYPE查询对应的INJECTION_LABEL_CODE集合-->
  <select id="selectLabelCodeByType" parameterType="java.lang.String" resultType="java.lang.String">
    select INJECTION_LABEL_CODE
    from injection_label
    where LABEL_DATA_TYPE = #{labelDataType}
  </select>

  <select id="selectDistributeLabelByType" resultType="java.util.Map">
    select LABEL_CODE labelCode,LABEL_NAME labelName
    from label_distribute_rel
    where LABEL_TYPE = #{labelType}
  </select>

  <select id="selectDistributeLabelByCode" resultType="java.util.Map">
    select LABEL_CODE labelCode,LABEL_NAME labelName, CONCAT(LABEL_TYPE, '') labelType
    from label_distribute_rel
    where LABEL_CODE = #{labelCode}
  </select>


</mapper>