<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.channel.MktCamResourceMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.MktCamResource">
    <id column="MKT_CAM_RESOURCE_ID" jdbcType="BIGINT" property="mktCamResourceId" />
    <result column="MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="mktCampaignId" />
    <result column="RULE_ID" jdbcType="BIGINT" property="ruleId" />
    <result column="RESOURCE_ID" jdbcType="BIGINT" property="resourceId" />
    <result column="RESOURCE_TYPE" jdbcType="VARCHAR" property="resourceType" />
    <result column="RESOURCE_SUBTYPE" jdbcType="VARCHAR" property="resourceSubtype" />
    <result column="RESOURCE_TOTAL_NUM" jdbcType="BIGINT" property="resourceTotalNum" />
    <result column="RESOURCE_APPLY_NUM" jdbcType="BIGINT" property="resourceApplyNum" />
    <result column="RECEIVE_TYPE" jdbcType="VARCHAR" property="receiveType" />
    <result column="DAYS" jdbcType="BIGINT" property="days" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="OFFER_ID" jdbcType="VARCHAR" property="offerId" />
    <result column="DEPEND_OFFER_ID" jdbcType="VARCHAR" property="dependOfferId" />
    <result column="DEPEND_PRODUCT_ID" jdbcType="VARCHAR" property="dependProductId" />
    <result column="FRAME_FLG" jdbcType="VARCHAR" property="frameFlg" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="LAN_ID" jdbcType="BIGINT" property="lanId" />
    <result column="OFFER_CODE" jdbcType="VARCHAR" property="offerCode" />
    <result column="OFFER_NAME" jdbcType="VARCHAR" property="offerName" />
    <result column="CAM_RESOURCE_NAME" jdbcType="VARCHAR" property="camResourceName" />
    <result column="FACE_AMOUNT" jdbcType="VARCHAR" property="faceAmount" />
    <result column="DIFFERENT_PRICE" jdbcType="VARCHAR" property="differentPrice" />
    <result column="RELEASE_TYPE" jdbcType="VARCHAR" property="releaseType" />
    <result column="GET_START_TIME" jdbcType="TIMESTAMP" property="getStartTime" />
    <result column="GET_END_TIME" jdbcType="TIMESTAMP" property="getEndTime" />
    <result column="QC_CODE_URL" jdbcType="VARCHAR" property="qcCodeUrl" />
    <result column="USE_AREA" jdbcType="VARCHAR" property="useArea" />
    <result column="USE_AREA_C4" jdbcType="VARCHAR" property="useAreaC4" />
    <result column="PUBLISH_AREA" jdbcType="VARCHAR" property="publishArea" />
    <result column="APPLY_USER" jdbcType="VARCHAR" property="applyUser" />
    <result column="APPLY_USER_PHONE" jdbcType="VARCHAR" property="applyUserPhone" />
    <result column="RESOURCE_ODD_NUM" jdbcType="BIGINT" property="resourceOddNum" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="DIFFERENT_OFFER_ID" jdbcType="VARCHAR" property="differentOfferId" />
    <result column="DEAL_SHOPS" jdbcType="VARCHAR" property="dealShops" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mkt_cam_resource
    where MKT_CAM_RESOURCE_ID = #{mktCamResourceId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCampaignId" parameterType="java.lang.Long">
    delete from mkt_cam_resource
    where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.MktCamResource">
    insert into mkt_cam_resource (MKT_CAM_RESOURCE_ID, MKT_CAMPAIGN_ID, RULE_ID,
      RESOURCE_ID, RESOURCE_TYPE, RESOURCE_SUBTYPE,
      RESOURCE_TOTAL_NUM, RESOURCE_APPLY_NUM, RECEIVE_TYPE,
      DAYS, START_TIME, END_TIME,
      OFFER_ID, DEPEND_OFFER_ID, DEPEND_PRODUCT_ID,
      FRAME_FLG, STATUS_CD, CREATE_STAFF,
      CREATE_DATE, UPDATE_STAFF, UPDATE_DATE,
      REMARK, LAN_ID, OFFER_CODE,
      OFFER_NAME, CAM_RESOURCE_NAME, FACE_AMOUNT,
      DIFFERENT_PRICE, RELEASE_TYPE, GET_START_TIME,
      GET_END_TIME, QC_CODE_URL, USE_AREA,
      USE_AREA_C4, PUBLISH_AREA, APPLY_USER,
      APPLY_USER_PHONE, RESOURCE_ODD_NUM, PARENT_ID,
      DIFFERENT_OFFER_ID, DEAL_SHOPS)
    values (#{mktCamResourceId,jdbcType=BIGINT}, #{mktCampaignId,jdbcType=BIGINT}, #{ruleId,jdbcType=BIGINT},
      #{resourceId,jdbcType=BIGINT}, #{resourceType,jdbcType=VARCHAR}, #{resourceSubtype,jdbcType=VARCHAR},
      #{resourceTotalNum,jdbcType=BIGINT}, #{resourceApplyNum,jdbcType=BIGINT}, #{receiveType,jdbcType=VARCHAR},
      #{days,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
      #{offerId,jdbcType=VARCHAR}, #{dependOfferId,jdbcType=VARCHAR}, #{dependProductId,jdbcType=VARCHAR},
      #{frameFlg,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT},
      #{createDate,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR}, #{lanId,jdbcType=BIGINT}, #{offerCode,jdbcType=VARCHAR},
      #{offerName,jdbcType=VARCHAR}, #{camResourceName,jdbcType=VARCHAR}, #{faceAmount,jdbcType=VARCHAR},
      #{differentPrice,jdbcType=VARCHAR}, #{releaseType,jdbcType=VARCHAR}, #{getStartTime,jdbcType=TIMESTAMP},
      #{getEndTime,jdbcType=TIMESTAMP}, #{qcCodeUrl,jdbcType=VARCHAR}, #{useArea,jdbcType=VARCHAR},
      #{useAreaC4,jdbcType=VARCHAR}, #{publishArea,jdbcType=VARCHAR}, #{applyUser,jdbcType=VARCHAR},
      #{applyUserPhone,jdbcType=VARCHAR}, #{resourceOddNum,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
      #{differentOfferId,jdbcType=VARCHAR}, #{dealShops,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.MktCamResource">
  update mkt_cam_resource
  set MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT},
    <if test="ruleId!=null">
      RULE_ID = #{ruleId,jdbcType=BIGINT},
    </if>
    <if test="resourceId!=null">
     RESOURCE_ID = #{resourceId,jdbcType=BIGINT},
    </if>
    <if test="resourceType!=null">
      RESOURCE_TYPE = #{resourceType,jdbcType=VARCHAR},
    </if>
    <if test="resourceSubtype!=null">
      RESOURCE_SUBTYPE = #{resourceSubtype,jdbcType=VARCHAR},
    </if>
    <if test="resourceTotalNum!=null">
      RESOURCE_TOTAL_NUM = #{resourceTotalNum,jdbcType=BIGINT},
    </if>
    <if test="resourceApplyNum!=null">
      RESOURCE_APPLY_NUM = #{resourceApplyNum,jdbcType=BIGINT},
    </if>
    <if test="receiveType!=null">
      RECEIVE_TYPE = #{receiveType,jdbcType=VARCHAR},
    </if>
    <if test="days!=null">
      DAYS = #{days,jdbcType=BIGINT},
    </if>
    <if test="startTime!=null">
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
    </if>
    <if test="endTime!=null">
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
    </if>
    <if test="endTime!=null">
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
    </if>
    <if test="offerId!=null">
      OFFER_ID = #{offerId,jdbcType=VARCHAR},
    </if>
    <if test="dependOfferId!=null">
      DEPEND_OFFER_ID = #{dependOfferId,jdbcType=VARCHAR},
    </if>
    <if test="dependProductId!=null">
      DEPEND_PRODUCT_ID = #{dependProductId,jdbcType=VARCHAR},
    </if>
    <if test="frameFlg!=null">
      FRAME_FLG = #{frameFlg,jdbcType=VARCHAR},
    </if>
    <if test="statusCd!=null">
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
    </if>
    <if test="createStaff!=null">
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
    </if>
    <if test="createDate!=null">
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
    </if>
    <if test="updateStaff!=null">
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
    </if>
    <if test="dealShops!=null">
      DEAL_SHOPS = #{dealShops,jdbcType=VARCHAR}
    </if>
    <if test="remark!=null">
      REMARK = #{remark,jdbcType=VARCHAR},
    </if>
    <if test="lanId!=null">
      LAN_ID = #{lanId,jdbcType=BIGINT},
    </if>
    <if test="offerCode!=null">
      OFFER_CODE = #{offerCode,jdbcType=VARCHAR},
    </if>
    <if test="offerName!=null">
      OFFER_NAME = #{offerName,jdbcType=VARCHAR},
    </if>
    <if test="camResourceName!=null">
      CAM_RESOURCE_NAME = #{camResourceName,jdbcType=VARCHAR},
    </if>
    <if test="faceAmount!=null">
      FACE_AMOUNT = #{faceAmount,jdbcType=VARCHAR},
    </if>
    <if test="differentPrice!=null">
      DIFFERENT_PRICE = #{differentPrice,jdbcType=VARCHAR},
    </if>
    <if test="releaseType!=null">
      RELEASE_TYPE = #{releaseType,jdbcType=VARCHAR},
    </if>
    <if test="getStartTime!=null">
      GET_START_TIME = #{getStartTime,jdbcType=TIMESTAMP},
    </if>
    <if test="getEndTime!=null">
      GET_END_TIME = #{getEndTime,jdbcType=TIMESTAMP},
    </if>
    <if test="resourceApplyNum!=null">
      QC_CODE_URL = #{qcCodeUrl,jdbcType=VARCHAR},
    </if>
    <if test="useArea!=null">
      USE_AREA = #{useArea,jdbcType=VARCHAR},
    </if>
    <if test="useAreaC4!=null">
      USE_AREA_C4 = #{useAreaC4,jdbcType=VARCHAR},
    </if>
    <if test="publishArea!=null">
      PUBLISH_AREA = #{publishArea,jdbcType=VARCHAR},
    </if>
    <if test="applyUser!=null">
      APPLY_USER = #{applyUser,jdbcType=VARCHAR},
    </if>
    <if test="applyUserPhone!=null">
      APPLY_USER_PHONE = #{applyUserPhone,jdbcType=VARCHAR},
    </if>
    <if test="resourceOddNum!=null">
      RESOURCE_ODD_NUM = #{resourceOddNum,jdbcType=BIGINT},
    </if>
    <if test="parentId!=null">
      PARENT_ID = #{parentId,jdbcType=BIGINT},
    </if>
    <if test="differentOfferId!=null">
      DIFFERENT_OFFER_ID = #{differentOfferId,jdbcType=VARCHAR},
    </if>
    UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
    UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
  where MKT_CAM_RESOURCE_ID = #{mktCamResourceId,jdbcType=BIGINT}
</update>

  <update id="updateResourceId" parameterType="com.zjtelcom.cpct.domain.channel.MktCamResource">
    update mkt_cam_resource
    set RESOURCE_ID = #{resourceId,jdbcType=BIGINT}
    where MKT_CAM_RESOURCE_ID = #{mktCamResourceId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_CAM_RESOURCE_ID, MKT_CAMPAIGN_ID, RULE_ID, RESOURCE_ID, RESOURCE_TYPE,
    RESOURCE_SUBTYPE, RESOURCE_TOTAL_NUM, RESOURCE_APPLY_NUM, RECEIVE_TYPE, DAYS, START_TIME,
    END_TIME, OFFER_ID, DEPEND_OFFER_ID, DEPEND_PRODUCT_ID, FRAME_FLG, STATUS_CD, CREATE_STAFF,
    CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, OFFER_CODE, OFFER_NAME, CAM_RESOURCE_NAME,
    FACE_AMOUNT, DIFFERENT_PRICE, RELEASE_TYPE, GET_START_TIME, GET_END_TIME, QC_CODE_URL,
    USE_AREA, USE_AREA_C4, PUBLISH_AREA, APPLY_USER, APPLY_USER_PHONE, RESOURCE_ODD_NUM,
    PARENT_ID, DIFFERENT_OFFER_ID, DEAL_SHOPS
    from mkt_cam_resource
    where MKT_CAM_RESOURCE_ID = #{mktCamResourceId,jdbcType=BIGINT}
  </select>
  <select id="selectByCampaignId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_CAM_RESOURCE_ID, MKT_CAMPAIGN_ID, CAM_RESOURCE_NAME, FACE_AMOUNT, DIFFERENT_PRICE,
    RELEASE_TYPE, GET_START_TIME, GET_END_TIME, QC_CODE_URL, USE_AREA, USE_AREA_C4, PUBLISH_AREA,
    APPLY_USER, APPLY_USER_PHONE, RULE_ID, RESOURCE_ID, RESOURCE_TYPE, RESOURCE_SUBTYPE,
    RESOURCE_TOTAL_NUM, RESOURCE_APPLY_NUM, RECEIVE_TYPE, DAYS, START_TIME, END_TIME,
    OFFER_ID, DEPEND_OFFER_ID, DEPEND_PRODUCT_ID, FRAME_FLG, STATUS_CD, CREATE_STAFF,
    CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, OFFER_CODE, OFFER_NAME
    from mkt_cam_resource
    where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
    <if test="ruleId!=null">
      AND RULE_ID = #{ruleId}
    </if>
    <if test="frameFlg!=null and frameFlg!=''">
      AND FRAME_FLG = #{frameFlg}
    </if>
  </select>
  <select id="selectByRuleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_CAM_RESOURCE_ID, MKT_CAMPAIGN_ID, CAM_RESOURCE_NAME, FACE_AMOUNT, DIFFERENT_PRICE,
    RELEASE_TYPE, GET_START_TIME, GET_END_TIME, QC_CODE_URL, USE_AREA, USE_AREA_C4, PUBLISH_AREA,
    APPLY_USER, APPLY_USER_PHONE, RULE_ID, RESOURCE_ID, RESOURCE_TYPE, RESOURCE_SUBTYPE,
    RESOURCE_TOTAL_NUM, RESOURCE_APPLY_NUM, RECEIVE_TYPE, DAYS, START_TIME, END_TIME,
    OFFER_ID, DEPEND_OFFER_ID, DEPEND_PRODUCT_ID, FRAME_FLG, STATUS_CD, CREATE_STAFF,
    CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, OFFER_CODE, OFFER_NAME
    from mkt_cam_resource
    where RULE_ID = #{ruleId,jdbcType=BIGINT}
    <if test="frameFlg!=null and frameFlg!=''">
      AND FRAME_FLG = #{frameFlg}
    </if>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MKT_CAM_RESOURCE_ID, MKT_CAMPAIGN_ID, RULE_ID, RESOURCE_ID, RESOURCE_TYPE,
    RESOURCE_SUBTYPE, RESOURCE_TOTAL_NUM, RESOURCE_APPLY_NUM, RECEIVE_TYPE, DAYS, START_TIME,
    END_TIME, OFFER_ID, DEPEND_OFFER_ID, DEPEND_PRODUCT_ID, FRAME_FLG, STATUS_CD, CREATE_STAFF,
    CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, OFFER_CODE, OFFER_NAME, CAM_RESOURCE_NAME,
    FACE_AMOUNT, DIFFERENT_PRICE, RELEASE_TYPE, GET_START_TIME, GET_END_TIME, QC_CODE_URL,
    USE_AREA, USE_AREA_C4, PUBLISH_AREA, APPLY_USER, APPLY_USER_PHONE, RESOURCE_ODD_NUM,
    PARENT_ID, DIFFERENT_OFFER_ID, DEAL_SHOPS
    from mkt_cam_resource
  </select>
  <select id="listPage" resultMap="BaseResultMap">
    select cr.MKT_CAM_RESOURCE_ID, cr.MKT_CAMPAIGN_ID, cr.RULE_ID, cr.RESOURCE_ID, cr.RESOURCE_TYPE,
    cr.RESOURCE_SUBTYPE, cr.RESOURCE_TOTAL_NUM, cr.RESOURCE_APPLY_NUM, cr.RECEIVE_TYPE, cr.DAYS, cr.START_TIME,
    cr.END_TIME, cr.OFFER_ID, cr.DEPEND_OFFER_ID, cr.DEPEND_PRODUCT_ID, cr.FRAME_FLG, cr.STATUS_CD, cr.CREATE_STAFF,
    cr.CREATE_DATE, cr.UPDATE_STAFF, cr.UPDATE_DATE, cr.REMARK, cr.LAN_ID, cr.OFFER_CODE, cr.OFFER_NAME,
    cam.MKT_CAMPAIGN_NAME as CAM_RESOURCE_NAME ,
    cr.FACE_AMOUNT, cr.DIFFERENT_PRICE, cr.RELEASE_TYPE, cr.GET_START_TIME, cr.GET_END_TIME, cr.QC_CODE_URL,
    cr.USE_AREA, cr.USE_AREA_C4, cr.PUBLISH_AREA, cr.APPLY_USER, cr.APPLY_USER_PHONE, cr.RESOURCE_ODD_NUM,
    cr.PARENT_ID, cr.DIFFERENT_OFFER_ID, cr.DEAL_SHOPS
    from mkt_cam_resource cr
    LEFT JOIN mkt_campaign cam on cam.MKT_CAMPAIGN_ID = cr.MKT_CAMPAIGN_ID
    where cam.MKT_CAMPAIGN_TYPE = 8000
    <if test="frameFlg!=null and frameFlg != ''" >
      AND cam.MANAGE_TYPE in ${frameFlg}
    </if>
    <if test="camResourceName!=null and camResourceName != ''" >
      AND cam.MKT_CAMPAIGN_NAME like CONCAT('%',#{camResourceName,jdbcType=VARCHAR},'%')
    </if>
    <if test="resourceType!=null and resourceType != ''">
      AND cr.RESOURCE_TYPE = #{resourceType}
    </if>
    <if test="resourceSubtype!=null and resourceSubtype != ''">
      AND cr.RESOURCE_SUBTYPE = #{resourceSubtype}
    </if>
    <if test="statusCd!=null and statusCd != ''">
      AND cam.STATUS_CD = #{statusCd}
    </if>
    <if test="useArea!=null and useArea != ''">
      AND cr.USE_AREA like CONCAT('%',#{useArea,jdbcType=VARCHAR},'%')
    </if>
    <if test="getStartTime!=null ">
      AND cr.GET_START_TIME >= #{getStartTime}
    </if>
    <if test="getEndTime!=null">
      AND cr.GET_END_TIME &lt;= #{getEndTime}
    </if>
    order by CREATE_DATE DESC
  </select>



</mapper>