<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.channel.OfferRestrictMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.OfferRestrictEntity">
    <id column="OFFER_RESTRICT_ID" jdbcType="BIGINT" property="offerRestrictId" />
    <result column="OFFER_ID" jdbcType="BIGINT" property="offerId" />
    <result column="RSTR_OBJ_TYPE" jdbcType="VARCHAR" property="rstrObjType" />
    <result column="RSTR_OBJ_ID" jdbcType="BIGINT" property="rstrObjId" />
    <result column="POLICY_ID" jdbcType="BIGINT" property="policyId" />
    <result column="APPLY_REGION_ID" jdbcType="BIGINT" property="applyRegionId" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from offer_restrict
    where OFFER_RESTRICT_ID = #{offerRestrictId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.OfferRestrictEntity">
    insert into offer_restrict (OFFER_RESTRICT_ID, OFFER_ID, RSTR_OBJ_TYPE, 
      RSTR_OBJ_ID, POLICY_ID, APPLY_REGION_ID, 
      STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
      STATUS_DATE, CREATE_DATE, UPDATE_DATE, 
      REMARK)
    values (#{offerRestrictId,jdbcType=BIGINT}, #{offerId,jdbcType=BIGINT}, #{rstrObjType,jdbcType=VARCHAR}, 
      #{rstrObjId,jdbcType=BIGINT}, #{policyId,jdbcType=BIGINT}, #{applyRegionId,jdbcType=BIGINT}, 
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, 
      #{statusDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.OfferRestrictEntity">
    update offer_restrict
    set OFFER_ID = #{offerId,jdbcType=BIGINT},
      RSTR_OBJ_TYPE = #{rstrObjType,jdbcType=VARCHAR},
      RSTR_OBJ_ID = #{rstrObjId,jdbcType=BIGINT},
      POLICY_ID = #{policyId,jdbcType=BIGINT},
      APPLY_REGION_ID = #{applyRegionId,jdbcType=BIGINT},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where OFFER_RESTRICT_ID = #{offerRestrictId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select OFFER_RESTRICT_ID, OFFER_ID, RSTR_OBJ_TYPE, RSTR_OBJ_ID, POLICY_ID, APPLY_REGION_ID, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, STATUS_DATE, CREATE_DATE, UPDATE_DATE, REMARK
    from offer_restrict
    where OFFER_RESTRICT_ID = #{offerRestrictId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select OFFER_RESTRICT_ID, OFFER_ID, RSTR_OBJ_TYPE, RSTR_OBJ_ID, POLICY_ID, APPLY_REGION_ID, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, STATUS_DATE, CREATE_DATE, UPDATE_DATE, REMARK
    from offer_restrict
  </select>

  <select id="selectByOfferId" resultMap="BaseResultMap">
    select OFFER_RESTRICT_ID, OFFER_ID, RSTR_OBJ_TYPE, RSTR_OBJ_ID, POLICY_ID, APPLY_REGION_ID,
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, STATUS_DATE, CREATE_DATE, UPDATE_DATE, REMARK
    from offer_restrict where OFFER_ID = #{offerId} and RSTR_OBJ_TYPE = #{type}
  </select>

  <select id="selectBatchNoNum" resultType="java.lang.Long">
    select smt_bss_cpc_batchno_sequence.nextval
  </select>

</mapper>