<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.channel.OrganizationMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.Organization">
    <id column="ORG_ID" jdbcType="BIGINT" property="orgId" />
    <result column="PARTY_ID" jdbcType="BIGINT" property="partyId" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId" />
    <result column="ORG_TYPE" jdbcType="VARCHAR" property="orgType" />
    <result column="ORG_SUBTYPE" jdbcType="VARCHAR" property="orgSubtype" />
    <result column="VILLAGE_FLAG" jdbcType="VARCHAR" property="villageFlag" />
    <result column="PARENT_ORG_ID" jdbcType="BIGINT" property="parentOrgId" />
    <result column="ORG_LEVEL" jdbcType="INTEGER" property="orgLevel" />
    <result column="ORG_INDEX" jdbcType="INTEGER" property="orgIndex" />
    <result column="SALESORG_CODE" jdbcType="VARCHAR" property="salesorgCode" />
    <result column="DIVORG_FLAG" jdbcType="SMALLINT" property="divorgFlag" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="ORG_DIVISION" jdbcType="VARCHAR" property="orgDivision" />
    <result column="org_id_4a" jdbcType="BIGINT" property="orgId4a" />
    <result column="ORG_CONTRACT_TYPE" jdbcType="VARCHAR" property="orgContractType" />
    <result column="ORG_AREA_LEVEL" jdbcType="VARCHAR" property="orgAreaLevel" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ORG_DESC" jdbcType="VARCHAR" property="orgDesc" />
    <result column="ORG_NAME_C3" jdbcType="VARCHAR" property="orgNameC3" />
    <result column="ORG_NAME_C4" jdbcType="VARCHAR" property="orgNameC4" />
    <result column="ORG_NAME_C5" jdbcType="VARCHAR" property="orgNameC5" />
    <result column="ORG_PATH_NAME" jdbcType="VARCHAR" property="orgPathName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from organization
    where ORG_ID = #{orgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.Organization">
    insert into organization (ORG_ID, PARTY_ID, ORG_CODE, 
      ORG_NAME, REGION_ID, ORG_TYPE, 
      ORG_SUBTYPE, VILLAGE_FLAG, PARENT_ORG_ID, 
      ORG_LEVEL, ORG_INDEX, SALESORG_CODE, 
      DIVORG_FLAG, CREATE_DATE, CREATE_STAFF, 
      STATUS_CD, STATUS_DATE, UPDATE_DATE, 
      UPDATE_STAFF, ORG_DIVISION, org_id_4a, 
      ORG_CONTRACT_TYPE, ORG_AREA_LEVEL, REMARK, 
      ORG_DESC)
    values (#{orgId,jdbcType=BIGINT}, #{partyId,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{regionId,jdbcType=BIGINT}, #{orgType,jdbcType=VARCHAR}, 
      #{orgSubtype,jdbcType=VARCHAR}, #{villageFlag,jdbcType=VARCHAR}, #{parentOrgId,jdbcType=BIGINT}, 
      #{orgLevel,jdbcType=INTEGER}, #{orgIndex,jdbcType=INTEGER}, #{salesorgCode,jdbcType=VARCHAR}, 
      #{divorgFlag,jdbcType=SMALLINT}, #{createDate,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=BIGINT}, 
      #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateStaff,jdbcType=BIGINT}, #{orgDivision,jdbcType=VARCHAR}, #{orgId4a,jdbcType=BIGINT}, 
      #{orgContractType,jdbcType=VARCHAR}, #{orgAreaLevel,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{orgDesc,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.Organization">
    update organization
    set PARTY_ID = #{partyId,jdbcType=BIGINT},
      ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      REGION_ID = #{regionId,jdbcType=BIGINT},
      ORG_TYPE = #{orgType,jdbcType=VARCHAR},
      ORG_SUBTYPE = #{orgSubtype,jdbcType=VARCHAR},
      VILLAGE_FLAG = #{villageFlag,jdbcType=VARCHAR},
      PARENT_ORG_ID = #{parentOrgId,jdbcType=BIGINT},
      ORG_LEVEL = #{orgLevel,jdbcType=INTEGER},
      ORG_INDEX = #{orgIndex,jdbcType=INTEGER},
      SALESORG_CODE = #{salesorgCode,jdbcType=VARCHAR},
      DIVORG_FLAG = #{divorgFlag,jdbcType=SMALLINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      ORG_DIVISION = #{orgDivision,jdbcType=VARCHAR},
      org_id_4a = #{orgId4a,jdbcType=BIGINT},
      ORG_CONTRACT_TYPE = #{orgContractType,jdbcType=VARCHAR},
      ORG_AREA_LEVEL = #{orgAreaLevel,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ORG_DESC = #{orgDesc,jdbcType=VARCHAR}
    where ORG_ID = #{orgId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ORG_ID, PARTY_ID, ORG_CODE, ORG_NAME, REGION_ID, ORG_TYPE, ORG_SUBTYPE, VILLAGE_FLAG, 
    PARENT_ORG_ID, ORG_LEVEL, ORG_INDEX, SALESORG_CODE, DIVORG_FLAG, CREATE_DATE, CREATE_STAFF, 
    STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, ORG_DIVISION, org_id_4a, ORG_CONTRACT_TYPE, 
    ORG_AREA_LEVEL, REMARK, ORG_DESC, ORG_NAME_C3, ORG_NAME_C4, ORG_NAME_C5
    from organization
    where ORG_ID = #{orgId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORG_ID, PARTY_ID, ORG_CODE, ORG_NAME, REGION_ID, ORG_TYPE, ORG_SUBTYPE, VILLAGE_FLAG, 
    PARENT_ORG_ID, ORG_LEVEL, ORG_INDEX, SALESORG_CODE, DIVORG_FLAG, CREATE_DATE, CREATE_STAFF, 
    STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, ORG_DIVISION, org_id_4a, ORG_CONTRACT_TYPE, 
    ORG_AREA_LEVEL, REMARK, ORG_DESC
    from organization
  </select>

  <select id="selectByParentId" resultMap="BaseResultMap">
    select org.ORG_ID, org.PARTY_ID, org.ORG_CODE, org.ORG_NAME, org.REGION_ID, org.ORG_TYPE, org.ORG_SUBTYPE, org.VILLAGE_FLAG,
    org.PARENT_ORG_ID, org.ORG_LEVEL, org.ORG_INDEX, org.SALESORG_CODE, org.DIVORG_FLAG, org.CREATE_DATE, org.CREATE_STAFF,
    org.STATUS_CD, org.STATUS_DATE, org.UPDATE_DATE, org.UPDATE_STAFF, org.ORG_DIVISION, org.org_id_4a, org.ORG_CONTRACT_TYPE,
    org.ORG_AREA_LEVEL, org.REMARK, org.ORG_DESC
    from organization org left join org_rel orel on orel.Z_ORG_ID = org.ORG_ID
    where orel.STATUS_CD = 1000
    and org.ORG_DIVISION in (20,30)
    and org.STATUS_CD = 1000
    and orel.ORG_REL_TYPE = 1900
    and orel.A_ORG_ID = #{parentId}
  </select>

  <select id="selectMenu" resultMap="BaseResultMap">
    select ORG_ID, PARTY_ID, ORG_CODE, ORG_NAME, REGION_ID, ORG_TYPE, ORG_SUBTYPE, VILLAGE_FLAG,
    PARENT_ORG_ID, ORG_LEVEL, ORG_INDEX, SALESORG_CODE, DIVORG_FLAG, CREATE_DATE, CREATE_STAFF,
    STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, ORG_DIVISION, org_id_4a, ORG_CONTRACT_TYPE,
    ORG_AREA_LEVEL, REMARK, ORG_DESC
    from organization
    where ORG_DIVISION in (20,30)
    and STATUS_CD = 1000
    and ORG_LEVEL = 2
  </select>

  <select id="selectBy4aId" resultMap="BaseResultMap">
    select ORG_ID, PARTY_ID, ORG_CODE, ORG_NAME, REGION_ID, ORG_TYPE, ORG_SUBTYPE, VILLAGE_FLAG,
    PARENT_ORG_ID, ORG_LEVEL, ORG_INDEX, SALESORG_CODE, DIVORG_FLAG, CREATE_DATE, CREATE_STAFF,
    STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, ORG_DIVISION, org_id_4a, ORG_CONTRACT_TYPE,
    ORG_AREA_LEVEL, REMARK, ORG_DESC
    from organization where ORG_ID = #{areaId}
  </select>


  <select id="selectByIdList" resultType="java.lang.Long">
    select ORG_ID
    from organization
    where 1=1
    <if test="null != list and list.size > 0">
     and ORG_ID in
      <foreach collection="list" item="item" open="(" close=")" separator=",">
        #{item}
      </foreach>
      and ORG_LEVEL > 3
    </if>
  </select>

  <select id="fuzzySelectByName" resultType="java.util.HashMap">
    select b.org_id orgId, b.org_name orgName
    from org_rel a ,organization b
    where a.status_cd=1000 and a.org_rel_type=1900 and a.z_org_id=b.org_id and b.org_division in (20,30)
    <if test="null != parentIds and parentIds.size > 0">
      and a.A_ORG_ID in
      <foreach collection="parentIds" item="item" open="(" close=")" separator=",">
        #{item}
      </foreach>
    </if>
    <if test="null != orgName and '' != orgName">
      and ORG_NAME like concat('%',concat(#{orgName},'%'))
    </if>
  </select>


  <resultMap id="getOrgIdAndStatusCd" type="java.util.Map">
    <result property="staffOrgRelId" column="STAFF_ORG_REL_ID"/>
    <result property="relType" column="REL_TYPE"/>
    <result property="orgId" column="ORG_ID"/>
    <result property="orgCode" column="ORG_CODE"/>
    <result property="orgName" column="ORG_NAME"/>
    <result property="statusCd" column="STATUS_CD"/>
    <result property="orgDivision" column="ORG_DIVISION"/>
  </resultMap>

  <select id="getStaffOrgId" parameterType="java.lang.Long" resultMap="getOrgIdAndStatusCd">
      SELECT
        b.STAFF_ORG_REL_ID,
        b.REL_TYPE,
        a.ORG_ID,
        a.ORG_CODE,
        a.ORG_NAME,
        b.STATUS_CD,
        a.ORG_DIVISION,
        a.ORG_NAME_C3,
		a.ORG_NAME_C4,
		a.ORG_NAME_C5
    FROM
        organization a,
        staff_org_rel b
    WHERE
        a.ORG_ID = b.ORG_ID
    AND b.rel_type = 1900
    AND b.STAFF_ID = #{staffId};
  </select>

  <select id="selectByParentIdForLevelFive" resultMap="BaseResultMap">
     select org.ORG_ID, org.PARTY_ID, org.ORG_CODE, org.ORG_NAME, org.REGION_ID, org.ORG_TYPE, org.ORG_SUBTYPE, org.VILLAGE_FLAG,
    org.PARENT_ORG_ID, org.ORG_LEVEL, org.ORG_INDEX, org.SALESORG_CODE, org.DIVORG_FLAG, org.CREATE_DATE, org.CREATE_STAFF,
    org.STATUS_CD, org.STATUS_DATE, org.UPDATE_DATE, org.UPDATE_STAFF, org.ORG_DIVISION, org.org_id_4a, org.ORG_CONTRACT_TYPE,
    org.ORG_AREA_LEVEL, org.REMARK, org.ORG_DESC
    from organization org left join org_rel orel on orel.Z_ORG_ID = org.ORG_ID
    where orel.STATUS_CD = 1000
    and org.ORG_DIVISION in (20,30)
    and org.STATUS_CD = 1000
    and orel.ORG_REL_TYPE = 1900
	and 6 > org.ORG_LEVEL
    and orel.A_ORG_ID = #{parentId}
  </select>

  <select id="selectMenuForLevelFive"  resultMap="BaseResultMap">
      select ORG_ID, PARTY_ID, ORG_CODE, ORG_NAME, REGION_ID, ORG_TYPE, ORG_SUBTYPE, VILLAGE_FLAG,
        PARENT_ORG_ID, ORG_LEVEL, ORG_INDEX, SALESORG_CODE, DIVORG_FLAG, CREATE_DATE, CREATE_STAFF,
        STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, ORG_DIVISION, org_id_4a, ORG_CONTRACT_TYPE,
        ORG_AREA_LEVEL, REMARK, ORG_DESC
        from organization
        where ORG_DIVISION in (20,30)
        and STATUS_CD = 1000
        and 6 > ORG_LEVEL
  </select>

  <select id="getByOrgNameC4" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ORG_ID, PARTY_ID, ORG_CODE, ORG_NAME, REGION_ID, ORG_TYPE, ORG_SUBTYPE, VILLAGE_FLAG,
    PARENT_ORG_ID, ORG_LEVEL, ORG_INDEX, SALESORG_CODE, DIVORG_FLAG, CREATE_DATE, CREATE_STAFF,
    STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, ORG_DIVISION, org_id_4a, ORG_CONTRACT_TYPE,
    ORG_AREA_LEVEL, REMARK, ORG_DESC, ORG_NAME_C3, ORG_NAME_C4, ORG_NAME_C5
    from organization
    where ORG_NAME_C4 = #{orgNameC4}
  </select>

  <select id="getByOrgNameC5" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ORG_ID, PARTY_ID, ORG_CODE, ORG_NAME, REGION_ID, ORG_TYPE, ORG_SUBTYPE, VILLAGE_FLAG,
    PARENT_ORG_ID, ORG_LEVEL, ORG_INDEX, SALESORG_CODE, DIVORG_FLAG, CREATE_DATE, CREATE_STAFF,
    STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, ORG_DIVISION, org_id_4a, ORG_CONTRACT_TYPE,
    ORG_AREA_LEVEL, REMARK, ORG_DESC, ORG_NAME_C3, ORG_NAME_C4, ORG_NAME_C5
    from organization
    where ORG_NAME_C5 = #{orgNameC5}
  </select>

  <select id="selectMenuByEleven" resultMap="BaseResultMap">
    select ORG_ID, PARTY_ID, ORG_CODE, ORG_NAME, REGION_ID, ORG_TYPE, ORG_SUBTYPE, VILLAGE_FLAG,
      PARENT_ORG_ID, ORG_LEVEL, ORG_INDEX, SALESORG_CODE, DIVORG_FLAG, CREATE_DATE, CREATE_STAFF,
      STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, ORG_DIVISION, org_id_4a, ORG_CONTRACT_TYPE,
      ORG_AREA_LEVEL, REMARK, ORG_DESC
      from organization WHERE ORG_ID IN ("800000000021","800000000022","800000000023","800000000024","800000000025","800000000026","800000000037","800000000038","800000000039","800000000040","800000000041")
  </select>

</mapper>