<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.channel.StaffOrgRelMapper">

  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.StaffOrgRel">
    <id column="STAFF_ORG_REL_ID" jdbcType="BIGINT" property="staffOrgRelId" />
    <result column="REL_TYPE" jdbcType="VARCHAR" property="relType" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="STAFF_ID" jdbcType="BIGINT" property="staffId" />
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId" />
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate" />
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from staff_org_rel
    where STAFF_ORG_REL_ID = #{staffOrgRelId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.StaffOrgRel">
    insert into staff_org_rel (STAFF_ORG_REL_ID, REL_TYPE, ROLE_ID, 
      STAFF_ID, ORG_ID, EFF_DATE, 
      EXP_DATE, STATUS_CD, STATUS_DATE, 
      CREATE_DATE, CREATE_STAFF, UPDATE_DATE, 
      UPDATE_STAFF)
    values (#{staffOrgRelId,jdbcType=BIGINT}, #{relType,jdbcType=VARCHAR}, #{roleId,jdbcType=BIGINT}, 
      #{staffId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{effDate,jdbcType=TIMESTAMP}, 
      #{expDate,jdbcType=TIMESTAMP}, #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateStaff,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.StaffOrgRel">
    update staff_org_rel
    set REL_TYPE = #{relType,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=BIGINT},
      STAFF_ID = #{staffId,jdbcType=BIGINT},
      ORG_ID = #{orgId,jdbcType=BIGINT},
      EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT}
    where STAFF_ORG_REL_ID = #{staffOrgRelId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select STAFF_ORG_REL_ID, REL_TYPE, ROLE_ID, STAFF_ID, ORG_ID, EFF_DATE, EXP_DATE, 
    STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_STAFF, UPDATE_DATE, UPDATE_STAFF
    from staff_org_rel
    where STAFF_ORG_REL_ID = #{staffOrgRelId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select STAFF_ORG_REL_ID, REL_TYPE, ROLE_ID, STAFF_ID, ORG_ID, EFF_DATE, EXP_DATE, 
    STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_STAFF, UPDATE_DATE, UPDATE_STAFF
    from staff_org_rel
  </select>

  <select id="selectByOrgId" parameterType="java.lang.Long" resultMap="BaseResultMap">
     select STAFF_ORG_REL_ID, REL_TYPE, ROLE_ID, STAFF_ID, ORG_ID, EFF_DATE, EXP_DATE,
    STATUS_CD, STATUS_DATE, CREATE_DATE, CREATE_STAFF, UPDATE_DATE, UPDATE_STAFF
    from staff_org_rel WHERE  STATUS_CD = 1000 AND REL_TYPE = 1100 AND ORG_ID = #{aLong,jdbcType=BIGINT}
  </select>


  <resultMap id="getStaffNameByStaff" type="java.util.Map">
    <result property="staffId" column="STAFF_ID"/>
    <result property="staffCode" column="STAFF_CODE"/>
    <result property="orgId" column="ORG_ID"/>
    <result property="staffName" column="STAFF_NAME"/>
    <result property="salesStaffCode" column="SALESSTAFF_CODE"/>
  </resultMap>

  <select id="getStaffName" parameterType="java.lang.Long" resultMap="getStaffNameByStaff">
    SELECT STAFF_ID,STAFF_CODE,ORG_ID,STAFF_NAME,SALESSTAFF_CODE FROM staff WHERE
      STATUS_CD =1000  AND STAFF_ID = #{staffId ,jdbcType=BIGINT}
  </select>
</mapper>