<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.channel.VrulGrpMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.VrulGrp">
    <id column="OFFER_VRUL_GRP_ID" jdbcType="BIGINT" property="offerVrulGrpId" />
    <result column="PAR_VRUL_GRP_ID" jdbcType="BIGINT" property="parVrulGrpId" />
    <result column="OFFER_VRUL_GRP_CODE" jdbcType="BIGINT" property="offerVrulGrpCode" />
    <result column="OFFER_VRUL_GRP_NAME" jdbcType="VARCHAR" property="offerVrulGrpName" />
    <result column="COMMON_REGION_ID" jdbcType="BIGINT" property="commonRegionId" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_DT" jdbcType="TIMESTAMP" property="createDt" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="start_dt" jdbcType="TIMESTAMP" property="startDt" />
    <result column="end_dt" jdbcType="TIMESTAMP" property="endDt" />
    <result column="VRUL_GRP_DESC" jdbcType="VARCHAR" property="vrulGrpDesc" />
    <result column="VRUL_GRP_TYPE" jdbcType="VARCHAR" property="vrulGrpType" />
    <result column="CTLG_NAME" jdbcType="VARCHAR" property="ctlgName" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vrul_grp
    where OFFER_VRUL_GRP_ID = #{offerVrulGrpId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.VrulGrp">
    insert into vrul_grp (OFFER_VRUL_GRP_ID, PAR_VRUL_GRP_ID, OFFER_VRUL_GRP_CODE, 
      OFFER_VRUL_GRP_NAME, COMMON_REGION_ID, STATUS_CD, 
      CREATE_DT, VERSION, start_dt, 
      end_dt, VRUL_GRP_DESC, VRUL_GRP_TYPE, 
      CTLG_NAME, CREATE_STAFF, UPDATE_STAFF, 
      UPDATE_DATE)
    values (#{offerVrulGrpId,jdbcType=BIGINT}, #{parVrulGrpId,jdbcType=BIGINT}, #{offerVrulGrpCode,jdbcType=BIGINT}, 
      #{offerVrulGrpName,jdbcType=VARCHAR}, #{commonRegionId,jdbcType=BIGINT}, #{statusCd,jdbcType=VARCHAR}, 
      #{createDt,jdbcType=TIMESTAMP}, #{version,jdbcType=VARCHAR}, #{startDt,jdbcType=TIMESTAMP}, 
      #{endDt,jdbcType=TIMESTAMP}, #{vrulGrpDesc,jdbcType=VARCHAR}, #{vrulGrpType,jdbcType=VARCHAR}, 
      #{ctlgName,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.VrulGrp">
    update vrul_grp
    set PAR_VRUL_GRP_ID = #{parVrulGrpId,jdbcType=BIGINT},
      OFFER_VRUL_GRP_CODE = #{offerVrulGrpCode,jdbcType=BIGINT},
      OFFER_VRUL_GRP_NAME = #{offerVrulGrpName,jdbcType=VARCHAR},
      COMMON_REGION_ID = #{commonRegionId,jdbcType=BIGINT},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=VARCHAR},
      start_dt = #{startDt,jdbcType=TIMESTAMP},
      end_dt = #{endDt,jdbcType=TIMESTAMP},
      VRUL_GRP_DESC = #{vrulGrpDesc,jdbcType=VARCHAR},
      VRUL_GRP_TYPE = #{vrulGrpType,jdbcType=VARCHAR},
      CTLG_NAME = #{ctlgName,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where OFFER_VRUL_GRP_ID = #{offerVrulGrpId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select OFFER_VRUL_GRP_ID, PAR_VRUL_GRP_ID, OFFER_VRUL_GRP_CODE, OFFER_VRUL_GRP_NAME, 
    COMMON_REGION_ID, STATUS_CD, CREATE_DT, VERSION, start_dt, end_dt, VRUL_GRP_DESC, 
    VRUL_GRP_TYPE, CTLG_NAME, CREATE_STAFF, UPDATE_STAFF, UPDATE_DATE
    from vrul_grp
    where OFFER_VRUL_GRP_ID = #{offerVrulGrpId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select OFFER_VRUL_GRP_ID, PAR_VRUL_GRP_ID, OFFER_VRUL_GRP_CODE, OFFER_VRUL_GRP_NAME, 
    COMMON_REGION_ID, STATUS_CD, CREATE_DT, VERSION, start_dt, end_dt, VRUL_GRP_DESC, 
    VRUL_GRP_TYPE, CTLG_NAME, CREATE_STAFF, UPDATE_STAFF, UPDATE_DATE
    from vrul_grp
  </select>
</mapper>