<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <property name="logPath" value="/app/logs/cpct/cpct-web"/>
    <property name="appName" value="cpct-web"/>
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${appName}-%d{yyyy-MM-dd}/${appName}-%d{yyyy-MM-dd}-%i.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logPath}/${appName}-%d{yyyy-MM-dd}/${appName}-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1024MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--level-->
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile" />
    </logger>
    <logger name="com.ctg.itrdc.cache.pool.CtgJedisPool" level="warn" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile" />
    </logger>
    <logger name="com.alibaba.dubbo.rpc.protocol.dubbo.DubboProtocol" level="error" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile" />
    </logger>
    <logger name="com.zjtelcom.cpct" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile" />
    </logger>



    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile" />
    </root>

</configuration>