<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.filter.FilterRuleMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.dto.filter.FilterRule">
        <id column="RULE_ID" jdbcType="BIGINT" property="ruleId"/>
        <result column="RULE_NAME" jdbcType="VARCHAR" property="ruleName"/>
        <result column="FILTER_TYPE" jdbcType="VARCHAR" property="filterType"/>
        <result column="EXECUTION_CHANNEL" jdbcType="VARCHAR" property="executionChannel"/>
        <result column="CHANNEL_CONTACTS" jdbcType="VARCHAR" property="channelContacts"/>
        <result column="EFFECTIVE_DATE" jdbcType="TIMESTAMP" property="effectiveDate"/>
        <result column="FAILURE_DATE" jdbcType="TIMESTAMP" property="failureDate"/>
        <result column="LABEL_CODE" jdbcType="VARCHAR" property="labelCode"/>
        <result column="CHOOSE_PRODUCT" jdbcType="VARCHAR" property="chooseProduct"/>
        <result column="EXPRESSION" jdbcType="VARCHAR" property="expression"/>
        <result column="DAY_START" jdbcType="TIMESTAMP" property="dayStart"/>
        <result column="DAY_END" jdbcType="TIMESTAMP" property="dayEnd"/>
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="USER_LIST" jdbcType="VARCHAR" property="userList"/>
        <result column="CONDITION_ID" jdbcType="BIGINT" property="conditionId"/>
        <result column="DAYS" jdbcType="VARCHAR" property="days"/>
        <result column="TIMES" jdbcType="VARCHAR" property="times"/>
        <result column="OFFER_INFO" jdbcType="VARCHAR" property="offerInfo"/>
        <result column="OPERATOR" jdbcType="VARCHAR" property="operator"/>
    </resultMap>

    <resultMap id="FilterRuleModelMap" type="com.zjtelcom.cpct.dto.filter.FilterRuleModel">
        <id column="RULE_ID" jdbcType="BIGINT" property="ruleId"/>
        <result column="RULE_NAME" jdbcType="VARCHAR" property="ruleName"/>
        <result column="FILTER_TYPE" jdbcType="VARCHAR" property="filterType"/>
        <result column="INJECTION_LABEL_CODE" jdbcType="VARCHAR" property="labelCode"/>
        <result column="INJECTION_LABEL_NAME" jdbcType="VARCHAR" property="labelName"/>
        <result column="OPER_TYPE" jdbcType="VARCHAR" property="operType"/>
        <result column="RIGHT_PARAM" jdbcType="VARCHAR" property="rightParam"/>
        <result column="DAYS" jdbcType="VARCHAR" property="days"/>
        <result column="TIMES" jdbcType="VARCHAR" property="times"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from filter_rule
    where RULE_ID = #{ruleId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.zjtelcom.cpct.dto.filter.FilterRule">
    insert into filter_rule (RULE_ID, RULE_NAME, FILTER_TYPE, 
      EXECUTION_CHANNEL, CHANNEL_CONTACTS, EFFECTIVE_DATE, 
      FAILURE_DATE,LABEL_CODE,CHOOSE_PRODUCT, EXPRESSION,DAY_START,DAY_END,STATUS_CD, CREATE_STAFF,
      UPDATE_STAFF, CREATE_DATE, STATUS_DATE, 
      UPDATE_DATE, REMARK, USER_LIST, CONDITION_ID, DAYS,
      TIMES, OFFER_INFO,OPERATOR)
    values (#{ruleId,jdbcType=BIGINT}, #{ruleName,jdbcType=VARCHAR}, #{filterType,jdbcType=VARCHAR}, 
      #{executionChannel,jdbcType=VARCHAR}, #{channelContacts,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=TIMESTAMP}, 
      #{failureDate,jdbcType=TIMESTAMP},  #{labelCode,jdbcType=VARCHAR}, #{chooseProduct,jdbcType=VARCHAR},
      #{expression,jdbcType=VARCHAR}, #{dayStart,jdbcType=TIMESTAMP}, #{dayEnd,jdbcType=TIMESTAMP},
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT},
      #{updateStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{userList,jdbcType=VARCHAR}, #{conditionId,jdbcType=BIGINT},
      #{days,jdbcType=VARCHAR},#{times,jdbcType=VARCHAR}, #{offerInfo,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.dto.filter.FilterRule">
    update filter_rule
    set RULE_NAME = #{ruleName,jdbcType=VARCHAR},
      FILTER_TYPE = #{filterType,jdbcType=VARCHAR},
      EXECUTION_CHANNEL = #{executionChannel,jdbcType=VARCHAR},
      CHANNEL_CONTACTS = #{channelContacts,jdbcType=VARCHAR},
      EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP},
      FAILURE_DATE = #{failureDate,jdbcType=TIMESTAMP},
      LABEL_CODE =  #{labelCode,jdbcType=VARCHAR},
      CHOOSE_PRODUCT = #{chooseProduct,jdbcType=VARCHAR},
      EXPRESSION = #{expression,jdbcType=VARCHAR},
      DAY_START = #{dayStart,jdbcType=TIMESTAMP},
      DAY_END =  #{dayEnd,jdbcType=TIMESTAMP},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
        <if test="userList != null and userList != ''">
      USER_LIST = #{userList,jdbcType=VARCHAR},
        </if>
      CONDITION_ID = #{conditionId,jdbcType=BIGINT},
      DAYS = #{days,jdbcType=VARCHAR},
      TIMES = #{times,jdbcType=VARCHAR},
      OFFER_INFO = #{offerInfo,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR}
    where RULE_ID = #{ruleId,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select RULE_ID, RULE_NAME, FILTER_TYPE,
      EXECUTION_CHANNEL, CHANNEL_CONTACTS, EFFECTIVE_DATE,
      FAILURE_DATE,LABEL_CODE,CHOOSE_PRODUCT, EXPRESSION,DAY_START,DAY_END,STATUS_CD, CREATE_STAFF,
      UPDATE_STAFF, CREATE_DATE, STATUS_DATE,
      UPDATE_DATE, REMARK,USER_LIST,CONDITION_ID,DAYS,TIMES,OFFER_INFO,OPERATOR
    from filter_rule
    where RULE_ID = #{ruleId,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select RULE_ID, RULE_NAME, FILTER_TYPE,
      EXECUTION_CHANNEL, CHANNEL_CONTACTS, EFFECTIVE_DATE,
      FAILURE_DATE,LABEL_CODE,CHOOSE_PRODUCT, EXPRESSION,DAY_START,DAY_END,STATUS_CD, CREATE_STAFF,
      UPDATE_STAFF, CREATE_DATE, STATUS_DATE,
      UPDATE_DATE, REMARK, USER_LIST, CONDITION_ID,
    DAYS, TIMES, OFFER_INFO,OPERATOR
    from filter_rule
  </select>

    <select id="qryFilterRule" resultMap="BaseResultMap">
        select RULE_ID, RULE_NAME, FILTER_TYPE,
        EXECUTION_CHANNEL, CHANNEL_CONTACTS, EFFECTIVE_DATE,
        FAILURE_DATE,LABEL_CODE,CHOOSE_PRODUCT, EXPRESSION,DAY_START,DAY_END,STATUS_CD, CREATE_STAFF,
        UPDATE_STAFF, CREATE_DATE, STATUS_DATE,
        UPDATE_DATE, REMARK, USER_LIST, CONDITION_ID,
        DAYS, TIMES, OFFER_INFO,OPERATOR
        from filter_rule
        where 1 = 1
        <if test="ruleName != null and ruleName != ''">
            AND RULE_NAME like concat('%',concat(#{ruleName},'%'))
        </if>
        <if test="filterType != null and filterType != ''">
            AND FILTER_TYPE = #{filterType}
        </if>
        ORDER BY UPDATE_DATE DESC
    </select>

    <delete id="delFilterRule" parameterType="com.zjtelcom.cpct.dto.filter.FilterRule">
        delete from filter_rule
        where RULE_ID = #{ruleId,jdbcType=BIGINT}
    </delete>

    <select id="getFilterRule" parameterType="com.zjtelcom.cpct.dto.filter.FilterRule" resultMap="BaseResultMap">
        select RULE_ID, RULE_NAME, FILTER_TYPE,
      EXECUTION_CHANNEL, CHANNEL_CONTACTS, EFFECTIVE_DATE,
      FAILURE_DATE,LABEL_CODE,CHOOSE_PRODUCT, EXPRESSION,DAY_START,DAY_END,STATUS_CD, CREATE_STAFF,
      UPDATE_STAFF, CREATE_DATE, STATUS_DATE,
      UPDATE_DATE, REMARK, USER_LIST, CONDITION_ID,
    DAYS, TIMES, OFFER_INFO,OPERATOR
        from filter_rule
        where RULE_ID = #{ruleId,jdbcType=BIGINT}
    </select>

    <insert id="createFilterRule" parameterType="com.zjtelcom.cpct.dto.filter.FilterRule" useGeneratedKeys="true" keyProperty="ruleId">
        insert into filter_rule (RULE_ID, RULE_NAME, FILTER_TYPE,
        EXECUTION_CHANNEL, CHANNEL_CONTACTS, EFFECTIVE_DATE,
        FAILURE_DATE,LABEL_CODE,CHOOSE_PRODUCT, EXPRESSION,DAY_START,DAY_END, STATUS_CD, CREATE_STAFF,
        UPDATE_STAFF, CREATE_DATE, STATUS_DATE,
        UPDATE_DATE, REMARK, USER_LIST, CONDITION_ID,
    DAYS, TIMES, OFFER_INFO,OPERATOR)
        values (#{ruleId,jdbcType=BIGINT}, #{ruleName,jdbcType=VARCHAR}, #{filterType,jdbcType=VARCHAR},
        #{executionChannel,jdbcType=VARCHAR}, #{channelContacts,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=TIMESTAMP},
        #{failureDate,jdbcType=TIMESTAMP},#{labelCode,jdbcType=VARCHAR},#{chooseProduct,jdbcType=VARCHAR},
         #{expression,jdbcType=VARCHAR},#{dayStart,jdbcType=TIMESTAMP}, #{dayEnd,jdbcType=TIMESTAMP},
         #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT},
        #{updateStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP},
        #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{userList,jdbcType=VARCHAR},
        #{conditionId,jdbcType=BIGINT}, #{days,jdbcType=VARCHAR},
      #{times,jdbcType=VARCHAR}, #{offerInfo,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR})
    </insert>

    <update id="modFilterRule" parameterType="com.zjtelcom.cpct.dto.filter.FilterRule">
        update filter_rule
        set
        <if test="ruleName != null and ruleName != ''">
            RULE_NAME = #{ruleName,jdbcType=VARCHAR},
        </if>
        <if test="filterType != null and filterType != ''">
            FILTER_TYPE = #{filterType,jdbcType=VARCHAR},
        </if>
        <if test="executionChannel != null and executionChannel != ''">
            EXECUTION_CHANNEL = #{executionChannel,jdbcType=VARCHAR},
        </if>
        <if test="channelContacts != null and channelContacts != ''">
            CHANNEL_CONTACTS = #{channelContacts,jdbcType=VARCHAR},
        </if>
        <if test="effectiveDate != null">
            EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP},
        </if>
        <if test="failureDate != null">
            FAILURE_DATE = #{failureDate,jdbcType=TIMESTAMP},
        </if>
        <if test="labelCode != null and labelCode != ''">
            LABEL_CODE = #{labelCode,jdbcType=VARCHAR},
        </if>
        <if test="chooseProduct != null and chooseProduct != ''">
            CHOOSE_PRODUCT = #{chooseProduct,jdbcType=VARCHAR},
        </if>
        <if test="expression != null and expression != ''">
            EXPRESSION = #{expression,jdbcType=VARCHAR},
        </if>
        <if test="dayStart != null ">
            DAY_START = #{dayStart,jdbcType=TIMESTAMP},
        </if>
        <if test="dayEnd != null ">
            DAY_END = #{dayEnd,jdbcType=TIMESTAMP},
        </if>
        <if test="updateStaff != null and updateStaff != 0">
            UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        </if>
        <if test="updateDate != null">
            UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="remark != null and remark != ''">
            REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        <if test="userList !=null and userList !=''">
            USER_LIST = #{userList,jdbcType=VARCHAR},
        </if>
        RULE_ID = #{ruleId,jdbcType=BIGINT},
        OPERATOR = #{OPERATOR,jdbcType=VARCHAR},
        where RULE_ID = #{ruleId,jdbcType=BIGINT}
    </update>

    <select id="selectFilterRuleByStrategyId" parameterType="java.lang.Long" resultMap="FilterRuleModelMap">
    SELECT
        f.RULE_ID,
        f.RULE_NAME,
        f.FILTER_TYPE,
        f.DAYS,
        f.TIMES,
        c.OPER_TYPE,
        c.RIGHT_PARAM,
        l.INJECTION_LABEL_CODE,
        l.INJECTION_LABEL_NAME
    FROM
        filter_rule f,
        mkt_verbal_condition c,
        injection_label l,
        mkt_strategy_filter_rule_rel r
    WHERE
        r.STRATEGY_ID = #{strategyId, jdbcType=VARCHAR}
        AND f.RULE_ID = r.RULE_ID
        AND f.FILTER_TYPE = 6000
        AND c.CONDITION_ID = f.CONDITION_ID
        AND c.LEFT_PARAM = l.INJECTION_LABEL_ID
    </select>

    <select id="selectFilterRuleByStrategyIdArrayList" parameterType="java.lang.Long" resultMap="FilterRuleModelMap">
    SELECT
        f.RULE_ID,
        f.RULE_NAME,
        f.FILTER_TYPE,
        f.DAYS,
        f.TIMES,
        c.OPER_TYPE,
        c.RIGHT_PARAM,
        l.INJECTION_LABEL_CODE,
        l.INJECTION_LABEL_NAME
    FROM
        filter_rule f,
        mkt_verbal_condition c,
        injection_label l,
        mkt_strategy_filter_rule_rel r
    WHERE
        r.STRATEGY_ID = #{strategyId, jdbcType=VARCHAR}
        AND f.RULE_ID = r.RULE_ID
        AND f.FILTER_TYPE = 6000
        AND c.CONDITION_ID = f.CONDITION_ID
        AND c.LEFT_PARAM = l.INJECTION_LABEL_ID
    </select>

    <select id="selectFilterRuleList" resultMap="BaseResultMap">
        SELECT
            t.RULE_ID, t.RULE_NAME, t.FILTER_TYPE,
            t.EXECUTION_CHANNEL, t.CHANNEL_CONTACTS, t.EFFECTIVE_DATE,
            t.FAILURE_DATE, t.LABEL_CODE, t.CHOOSE_PRODUCT, t.EXPRESSION, t.DAY_START, t.DAY_END, t.STATUS_CD, t.CREATE_STAFF,
            t.UPDATE_STAFF, t.CREATE_DATE, t.STATUS_DATE, t.UPDATE_DATE, t.REMARK, t.USER_LIST, t.CONDITION_ID,
            t.DAYS, t.TIMES, t.OFFER_INFO, t.OPERATOR
        FROM
          filter_rule t,
          mkt_strategy_filter_rule_rel r
        WHERE
          r.STRATEGY_ID = #{strategyId, jdbcType=VARCHAR}
        AND t.RULE_ID = r.RULE_ID
    </select>

    <select id="selectFilterRuleListByStrategyId" resultMap="BaseResultMap">
        SELECT
        t.RULE_ID, t.RULE_NAME, t.FILTER_TYPE,
        t.EXECUTION_CHANNEL, t.CHANNEL_CONTACTS, t.EFFECTIVE_DATE,
        t.FAILURE_DATE, t.LABEL_CODE, t.CHOOSE_PRODUCT, t.EXPRESSION, t.DAY_START, t.DAY_END, t.STATUS_CD, t.CREATE_STAFF,
        t.UPDATE_STAFF, t.CREATE_DATE, t.STATUS_DATE, t.UPDATE_DATE, t.REMARK, t.USER_LIST, t.CONDITION_ID,
        t.DAYS, t.TIMES, t.OFFER_INFO, t.OPERATOR
        FROM
        filter_rule t,
        mkt_strategy_filter_rule_rel r
        WHERE
        r.STRATEGY_ID = #{strategyId, jdbcType=VARCHAR}
        AND t.RULE_ID = r.RULE_ID
        and t.FILTER_TYPE in
        <foreach item='item' index='index' collection='strategyTypeList' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </select>

    <update id="updateExpression2" parameterType="java.lang.String" >
        UPDATE filter_rule SET EXPRESSION = #{expression,jdbcType=VARCHAR} WHERE RULE_ID = #{filterRule}
    </update>

</mapper>