<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.filter.MktStrategyCloseRuleRelMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.strategy.MktStrategyCloseRuleRelDO">
    <id column="MKT_STRATEGY_FILTER_RULE_REL_ID" jdbcType="BIGINT" property="mktStrategyFilterRuleRelId" />
    <result column="STRATEGY_ID" jdbcType="BIGINT" property="strategyId" />
    <result column="RULE_ID" jdbcType="BIGINT" property="ruleId" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <select id="selectByRuleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_STRATEGY_FILTER_RULE_REL_ID, STRATEGY_ID, RULE_ID, CREATE_STAFF, CREATE_DATE,
    UPDATE_STAFF, UPDATE_DATE
    from mkt_strategy_close_rule_rel
    where RULE_ID = #{ruleId,jdbcType=BIGINT}
  </select>

</mapper>