<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.CatalogMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.Catalog">
    <id column="CATALOG_ID" jdbcType="BIGINT" property="catalogId" />
    <result column="CATALOG_NAME" jdbcType="VARCHAR" property="catalogName" />
    <result column="CATALOG_TYPE" jdbcType="VARCHAR" property="catalogType" />
    <result column="CATALOG_DESC" jdbcType="VARCHAR" property="catalogDesc" />
    <result column="CATALOG_NBR" jdbcType="VARCHAR" property="catalogNbr" />
    <result column="CATALOG_USAGE" jdbcType="VARCHAR" property="catalogUsage" />
    <result column="APPLY_REGION_ID" jdbcType="BIGINT" property="applyRegionId" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from catalog
    where CATALOG_ID = #{catalogId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.Catalog">
    insert into catalog (CATALOG_ID, CATALOG_NAME, CATALOG_TYPE, 
      CATALOG_DESC, CATALOG_NBR, CATALOG_USAGE, 
      APPLY_REGION_ID, STATUS_CD, CREATE_STAFF, 
      UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, 
      STATUS_DATE, REMARK)
    values (#{catalogId,jdbcType=BIGINT}, #{catalogName,jdbcType=VARCHAR}, #{catalogType,jdbcType=VARCHAR}, 
      #{catalogDesc,jdbcType=VARCHAR}, #{catalogNbr,jdbcType=VARCHAR}, #{catalogUsage,jdbcType=VARCHAR}, 
      #{applyRegionId,jdbcType=BIGINT}, #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, 
      #{updateStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{statusDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.Catalog">
    update catalog
    set CATALOG_NAME = #{catalogName,jdbcType=VARCHAR},
      CATALOG_TYPE = #{catalogType,jdbcType=VARCHAR},
      CATALOG_DESC = #{catalogDesc,jdbcType=VARCHAR},
      CATALOG_NBR = #{catalogNbr,jdbcType=VARCHAR},
      CATALOG_USAGE = #{catalogUsage,jdbcType=VARCHAR},
      APPLY_REGION_ID = #{applyRegionId,jdbcType=BIGINT},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where CATALOG_ID = #{catalogId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select CATALOG_ID, CATALOG_NAME, CATALOG_TYPE, CATALOG_DESC, CATALOG_NBR, CATALOG_USAGE, 
    APPLY_REGION_ID, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, 
    STATUS_DATE, REMARK
    from catalog
    where CATALOG_ID = #{catalogId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CATALOG_ID, CATALOG_NAME, CATALOG_TYPE, CATALOG_DESC, CATALOG_NBR, CATALOG_USAGE, 
    APPLY_REGION_ID, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, 
    STATUS_DATE, REMARK
    from catalog
  </select>
</mapper>