<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.EventInstItemMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.EventInstItem">
    <id column="EVT_INST_ITEM_ID" jdbcType="BIGINT" property="evtInstItemId" />
    <result column="EVT_INST_ID" jdbcType="BIGINT" property="evtInstId" />
    <result column="EVT_ITEM_ID" jdbcType="BIGINT" property="evtItemId" />
    <result column="EVT_ITEM_CODE" jdbcType="VARCHAR" property="evtItemCode" />
    <result column="EVT_ITEM_VALUE" jdbcType="VARCHAR" property="evtItemValue" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from event_inst_item
    where EVT_INST_ITEM_ID = #{evtInstItemId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.EventInstItem">
    insert into event_inst_item (EVT_INST_ITEM_ID, EVT_INST_ID, EVT_ITEM_ID, 
      EVT_ITEM_CODE, EVT_ITEM_VALUE, STATUS_CD, 
      CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, 
      STATUS_DATE, UPDATE_DATE, REMARK
      )
    values (#{evtInstItemId,jdbcType=BIGINT}, #{evtInstId,jdbcType=BIGINT}, #{evtItemId,jdbcType=BIGINT}, 
      #{evtItemCode,jdbcType=VARCHAR}, #{evtItemValue,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR}, 
      #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.EventInstItem">
    update event_inst_item
    set EVT_INST_ID = #{evtInstId,jdbcType=BIGINT},
      EVT_ITEM_ID = #{evtItemId,jdbcType=BIGINT},
      EVT_ITEM_CODE = #{evtItemCode,jdbcType=VARCHAR},
      EVT_ITEM_VALUE = #{evtItemValue,jdbcType=VARCHAR},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where EVT_INST_ITEM_ID = #{evtInstItemId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select EVT_INST_ITEM_ID, EVT_INST_ID, EVT_ITEM_ID, EVT_ITEM_CODE, EVT_ITEM_VALUE, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from event_inst_item
    where EVT_INST_ITEM_ID = #{evtInstItemId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select EVT_INST_ITEM_ID, EVT_INST_ID, EVT_ITEM_ID, EVT_ITEM_CODE, EVT_ITEM_VALUE, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from event_inst_item
  </select>
</mapper>