<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.SysStaffRoleMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.SysStaffRole">
    <id column="STAFF_ROLE_ID" jdbcType="BIGINT" property="staffRoleId" />
    <result column="STAFF_ID" jdbcType="BIGINT" property="staffId" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_staff_role
    where STAFF_ROLE_ID = #{staffRoleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.SysStaffRole">
    insert into sys_staff_role (STAFF_ROLE_ID, STAFF_ID, ROLE_ID
      )
    values (#{staffRoleId,jdbcType=BIGINT}, #{staffId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.SysStaffRole">
    update sys_staff_role
    set STAFF_ID = #{staffId,jdbcType=BIGINT},
      ROLE_ID = #{roleId,jdbcType=BIGINT}
    where STAFF_ROLE_ID = #{staffRoleId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select STAFF_ROLE_ID, STAFF_ID, ROLE_ID
    from sys_staff_role
    where STAFF_ROLE_ID = #{staffRoleId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select STAFF_ROLE_ID, STAFF_ID, ROLE_ID
    from sys_staff_role
  </select>
</mapper>