<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct_prd.dao.label.MessageLabelPrdMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.MessageLabel">
        <id column="MESSAGE_LABEL_ID" jdbcType="BIGINT" property="messageLabelId"/>
        <result column="MESSAGE_ID" jdbcType="BIGINT" property="messageId"/>
        <result column="INJECTION_LABEL_ID" jdbcType="BIGINT" property="injectionLabelId"/>
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from message_label
    where MESSAGE_LABEL_ID = #{messageLabelId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.MessageLabel">
    insert into message_label (MESSAGE_LABEL_ID, MESSAGE_ID, INJECTION_LABEL_ID, 
      STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
      CREATE_DATE, STATUS_DATE, UPDATE_DATE, 
      REMARK)
    values (#{messageLabelId,jdbcType=BIGINT}, #{messageId,jdbcType=BIGINT}, #{injectionLabelId,jdbcType=BIGINT}, 
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.MessageLabel">
    update message_label
    set MESSAGE_ID = #{messageId,jdbcType=BIGINT},
      INJECTION_LABEL_ID = #{injectionLabelId,jdbcType=BIGINT},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where MESSAGE_LABEL_ID = #{messageLabelId,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MESSAGE_LABEL_ID, MESSAGE_ID, INJECTION_LABEL_ID, STATUS_CD, CREATE_STAFF, 
    UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from message_label
    where MESSAGE_LABEL_ID = #{messageLabelId,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select MESSAGE_LABEL_ID, MESSAGE_ID, INJECTION_LABEL_ID, STATUS_CD, CREATE_STAFF, 
    UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from message_label
  </select>

    <select id="qureyMessageLabel" parameterType="com.zjtelcom.cpct.domain.channel.Message" resultMap="BaseResultMap">
    select MESSAGE_LABEL_ID, MESSAGE_ID, INJECTION_LABEL_ID, STATUS_CD, CREATE_STAFF,
    UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from message_label
    where MESSAGE_ID = #{messageId,jdbcType=BIGINT}
  </select>

    <select id="qureyMessageLabelByMessageId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MESSAGE_LABEL_ID, MESSAGE_ID, INJECTION_LABEL_ID, STATUS_CD, CREATE_STAFF,
    UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from message_label
    where MESSAGE_ID = #{messageId,jdbcType=BIGINT}
  </select>



</mapper>