<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.event.ContactEvtTypeMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.dto.event.ContactEvtType">
        <id column="EVT_TYPE_ID" jdbcType="BIGINT" property="evtTypeId"/>
        <result column="EVT_TYPE_NBR" jdbcType="VARCHAR" property="contactEvtTypeCode"/>
        <result column="EVT_TYPE_NAME" jdbcType="VARCHAR" property="contactEvtName"/>
        <result column="PAR_EVT_TYPE_ID" jdbcType="BIGINT" property="parEvtTypeId"/>
        <result column="EVT_TYPE_DESC" jdbcType="VARCHAR" property="evtTypeDesc"/>
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from event_type
    where EVT_TYPE_ID = #{evtTypeId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.zjtelcom.cpct.dto.event.ContactEvtType">
    insert into event_type (EVT_TYPE_ID, EVT_TYPE_NBR, EVT_TYPE_NAME,
      PAR_EVT_TYPE_ID, EVT_TYPE_DESC, STATUS_CD, 
      CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, 
      STATUS_DATE, UPDATE_DATE, REMARK
      )
    values (#{evtTypeId,jdbcType=BIGINT}, #{contactEvtTypeCode,jdbcType=VARCHAR}, #{contactEvtName,jdbcType=VARCHAR},
      #{parEvtTypeId,jdbcType=BIGINT}, #{evtTypeDesc,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR}, 
      #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.dto.event.ContactEvtType">
        update event_type
        set
        <if test="contactEvtTypeCode != null and contactEvtTypeCode != ''">
            EVT_TYPE_NBR = #{contactEvtTypeCode,jdbcType=VARCHAR},
        </if>
        <if test="contactEvtName != null and contactEvtName != ''">
            EVT_TYPE_NAME = #{contactEvtName,jdbcType=VARCHAR},
        </if>
        <if test="parEvtTypeId != null and parEvtTypeId != 0 ">
            PAR_EVT_TYPE_ID = #{parEvtTypeId,jdbcType=BIGINT},
        </if>
        <if test="evtTypeDesc != null and evtTypeDesc != ''">
            EVT_TYPE_DESC = #{evtTypeDesc,jdbcType=VARCHAR},
        </if>
        <if test="statusCd != null and statusCd != ''">
            STATUS_CD = #{statusCd,jdbcType=VARCHAR},
        </if>
        <if test="createStaff != null and createStaff != 0">
            CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
        </if>
        <if test="updateStaff != null and updateStaff != 0">
            UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        </if>
        <if test="createDate != null and createDate != ''">
            CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="statusDate != null and statusDate != ''">
            STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
        </if>
        <if test="updateDate != null and updateDate != ''">
            UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="remark != null and remark != ''">
            REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        EVT_TYPE_ID =#{evtTypeId,jdbcType=BIGINT}
        where EVT_TYPE_ID = #{evtTypeId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select EVT_TYPE_ID, EVT_TYPE_NBR, EVT_TYPE_NAME, PAR_EVT_TYPE_ID, EVT_TYPE_DESC, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from event_type
    where EVT_TYPE_ID = #{evtTypeId,jdbcType=BIGINT}
  </select>

    <select id="selectAll" resultMap="BaseResultMap">
    select EVT_TYPE_ID, EVT_TYPE_NBR, EVT_TYPE_NAME, PAR_EVT_TYPE_ID, EVT_TYPE_DESC, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from event_type
  </select>

    <select id="listEventTypes" resultMap="BaseResultMap">
        select EVT_TYPE_ID, EVT_TYPE_NBR, EVT_TYPE_NAME, PAR_EVT_TYPE_ID, EVT_TYPE_DESC,
        STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
        from event_type
        where 1 = 1
        <if test="evtTypeId != null and evtTypeId != ''">
            and EVT_TYPE_ID = #{evtTypeId}
        </if>
        <if test="parEvtTypeId != null and parEvtTypeId != ''">
            and PAR_EVT_TYPE_ID = #{parEvtTypeId}
        </if>
    </select>

    <insert id="createContactEvtType" parameterType="com.zjtelcom.cpct.dto.event.ContactEvtType">
    insert into event_type (EVT_TYPE_NBR, EVT_TYPE_NAME,
    PAR_EVT_TYPE_ID, EVT_TYPE_DESC, STATUS_CD,
    CREATE_STAFF, UPDATE_STAFF, CREATE_DATE,
    STATUS_DATE, UPDATE_DATE, REMARK
    )
    values (#{contactEvtTypeCode,jdbcType=VARCHAR}, #{contactEvtName,jdbcType=VARCHAR},
    #{parEvtTypeId,jdbcType=BIGINT}, #{evtTypeDesc,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR},
    #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP},
    #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
    )
  </insert>


    <update id="modContactEvtType" parameterType="com.zjtelcom.cpct.dto.event.ContactEvtType">
        update event_type
        set
        <if test="contactEvtTypeCode != null and contactEvtTypeCode != ''">
            EVT_TYPE_NBR = #{contactEvtTypeCode,jdbcType=VARCHAR},
        </if>
        <if test="contactEvtName != null and contactEvtName != ''">
            EVT_TYPE_NAME = #{contactEvtName,jdbcType=VARCHAR},
        </if>
        <if test="parEvtTypeId != null and parEvtTypeId != 0 ">
            PAR_EVT_TYPE_ID = #{parEvtTypeId,jdbcType=BIGINT},
        </if>
        <if test="evtTypeDesc != null and evtTypeDesc != ''">
            EVT_TYPE_DESC = #{evtTypeDesc,jdbcType=VARCHAR},
        </if>
        <if test="statusCd != null and statusCd != ''">
            STATUS_CD = #{statusCd,jdbcType=VARCHAR},
        </if>
        <if test="createStaff != null and createStaff != 0">
            CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
        </if>
        <if test="updateStaff != null and updateStaff != 0">
            UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        </if>
        <if test="createDate != null and createDate != ''">
            CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="statusDate != null and statusDate != ''">
            STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
        </if>
        <if test="updateDate != null and updateDate != ''">
            UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="remark != null and remark != ''">
            REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        EVT_TYPE_ID =#{evtTypeId,jdbcType=BIGINT}
        where EVT_TYPE_ID = #{evtTypeId,jdbcType=BIGINT}
    </update>

    <select id="qryContactEvtTypeList" resultMap="BaseResultMap">
        select EVT_TYPE_ID, EVT_TYPE_NBR, EVT_TYPE_NAME, PAR_EVT_TYPE_ID, EVT_TYPE_DESC,
        STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
        from event_type
        where 1 = 1
        <if test="evtTypeId != null and evtTypeId != 0">
            and EVT_TYPE_ID = #{evtTypeId}
        </if>
        <if test="parEvtTypeId != null and parEvtTypeId != 0">
            and PAR_EVT_TYPE_ID = #{parEvtTypeId}
        </if>
        <if test="contactEvtTypeCode != null and contactEvtTypeCode != ''">
            and EVT_TYPE_NBR = #{contactEvtTypeCode}
        </if>
        <if test="contactEvtName != null and contactEvtName != ''">
            and EVT_TYPE_NAME = #{contactEvtName}
        </if>
        <if test="statusCd != null and statusCd != ''">
            and STATUS_CD = #{statusCd}
        </if>
    </select>

</mapper>