<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.event.EventSceneMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.dto.event.EventScene">
        <id column="EVENT_SCENE_ID" jdbcType="BIGINT" property="eventSceneId"/>
        <result column="EVENT_SCENE_NBR" jdbcType="VARCHAR" property="eventSceneNbr"/>
        <result column="EVENT_SCENE_NAME" jdbcType="VARCHAR" property="eventSceneName"/>
        <result column="EVENT_SCENE_DESC" jdbcType="VARCHAR" property="eventSceneDesc"/>
        <result column="EVENT_ID" jdbcType="BIGINT" property="eventId"/>
        <result column="EXT_EVENT_SCENE_ID" jdbcType="BIGINT" property="extEventSceneId"/>
        <result column="EVENT_SCENE_TYPE_ID" jdbcType="BIGINT" property="eventSceneTypeId" />
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CONTACT_EVT_CODE" jdbcType="VARCHAR" property="contactEvtCode"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from event_scene
    where EVENT_SCENE_ID = #{eventSceneId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.zjtelcom.cpct.dto.event.EventScene" keyProperty="eventSceneId" useGeneratedKeys="true">
    insert into event_scene (EVENT_SCENE_ID, EVENT_SCENE_NBR, EVENT_SCENE_NAME, 
      EVENT_SCENE_DESC, EVENT_ID, EXT_EVENT_SCENE_ID,
      EVENT_SCENE_TYPE_ID, STATUS_CD, STATUS_DATE,
      CREATE_STAFF, UPDATE_STAFF, UPDATE_DATE,
      CREATE_DATE, REMARK, CONTACT_EVT_CODE
      )
    values (#{eventSceneId,jdbcType=BIGINT}, #{eventSceneNbr,jdbcType=VARCHAR}, #{eventSceneName,jdbcType=VARCHAR},
      #{eventSceneDesc,jdbcType=VARCHAR}, #{eventId,jdbcType=BIGINT}, #{extEventSceneId,jdbcType=BIGINT},
      #{eventSceneTypeId,jdbcType=BIGINT}, #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP},
      #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP},
      #{createDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{contactEvtCode,jdbcType=VARCHAR}
      )
  </insert>

    <update id="updateById" parameterType="com.zjtelcom.cpct.dto.event.EventScene">
    update event_scene
    set EVENT_SCENE_NBR = #{eventSceneNbr,jdbcType=VARCHAR},
      EVENT_SCENE_NAME = #{eventSceneName,jdbcType=VARCHAR},
      EVENT_SCENE_DESC = #{eventSceneDesc,jdbcType=VARCHAR},
      EVENT_SCENE_TYPE_ID = #{eventSceneTypeId,jdbcType=BIGINT},
      EVENT_ID = #{eventId,jdbcType=BIGINT},
      EXT_EVENT_SCENE_ID = #{extEventSceneId,jdbcType=BIGINT},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      CONTACT_EVT_CODE = #{contactEvtCode,jdbcType=VARCHAR}
    where EVENT_SCENE_ID = #{eventSceneId,jdbcType=BIGINT}
  </update>


    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.dto.event.EventScene">
        update event_scene
        set
        <if test="eventSceneNbr != null and eventSceneNbr != '' ">
            EVENT_SCENE_NBR = #{eventSceneNbr,jdbcType=VARCHAR},
        </if>
        <if test="eventSceneName != null and eventSceneName != '' ">
            EVENT_SCENE_NAME = #{eventSceneName,jdbcType=VARCHAR},
        </if>
        <if test="eventSceneDesc != null and eventSceneDesc != '' ">
            EVENT_SCENE_DESC = #{eventSceneDesc,jdbcType=VARCHAR},
        </if>
        <if test="eventId != null and eventId != 0 ">
            EVENT_ID = #{eventId,jdbcType=BIGINT},
        </if>
        <if test="extEventSceneId != null and extEventSceneId != 0 ">
            EXT_EVENT_SCENE_ID = #{extEventSceneId,jdbcType=BIGINT},
        </if>
        <if test="eventSceneTypeId != null and eventSceneTypeId != 0 ">
            EVENT_SCENE_TYPE_ID = #{eventSceneTypeId,jdbcType=BIGINT},
        </if>
        <if test="statusCd != null and statusCd != '' ">
            STATUS_CD = #{statusCd,jdbcType=VARCHAR},
        </if>
        <if test="statusDate != null">
            STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
        </if>
        <if test="createStaff != null and createStaff != 0 ">
            CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
        </if>
        <if test="updateStaff != null and updateStaff != 0 ">
            UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        </if>
        <if test="updateDate != null">
            UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="createDate != null">
            CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="remark != null and remark != '' ">
            REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        <if test="contactEvtCode != null and contactEvtCode != '' ">
            CONTACT_EVT_CODE = #{contactEvtCode,jdbcType=VARCHAR}
        </if>
        EVENT_SCENE_ID = #{eventSceneId,jdbcType=BIGINT}
        where EVENT_SCENE_ID = #{eventSceneId,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select EVENT_SCENE_ID, EVENT_SCENE_NBR, EVENT_SCENE_NAME, EVENT_SCENE_DESC, EVENT_ID, 
    EXT_EVENT_SCENE_ID, STATUS_CD, STATUS_DATE, CREATE_STAFF, UPDATE_STAFF, UPDATE_DATE, EVENT_SCENE_TYPE_ID,
    CREATE_DATE, REMARK, CONTACT_EVT_CODE
    from event_scene
    where EVENT_SCENE_ID = #{eventSceneId,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select EVENT_SCENE_ID, EVENT_SCENE_NBR, EVENT_SCENE_NAME, EVENT_SCENE_DESC, EVENT_ID, 
    EXT_EVENT_SCENE_ID, STATUS_CD, STATUS_DATE, CREATE_STAFF, UPDATE_STAFF, UPDATE_DATE, EVENT_SCENE_TYPE_ID,
    CREATE_DATE, REMARK, CONTACT_EVT_CODE
    from event_scene
  </select>

    <select id="qryEventSceneList" parameterType="com.zjtelcom.cpct.dto.event.EventScene"
            resultMap="BaseResultMap">
        select EVENT_SCENE_ID, EVENT_SCENE_NBR, EVENT_SCENE_NAME, EVENT_SCENE_DESC, EVENT_ID,
        EXT_EVENT_SCENE_ID, STATUS_CD, STATUS_DATE, CREATE_STAFF, UPDATE_STAFF, UPDATE_DATE,EVENT_SCENE_TYPE_ID,
        CREATE_DATE, REMARK, CONTACT_EVT_CODE
        from event_scene
        <where>1!=2
        <if test="eventSceneId != null and eventSceneId != 0 ">
            and EVENT_SCENE_ID = #{eventSceneId}
        </if>
        <if test="eventSceneNbr != null and eventSceneNbr != '' ">
            and EVENT_SCENE_NBR like concat('%',concat(#{eventSceneNbr},'%'))
        </if>
        <if test="eventSceneName != null and eventSceneName != '' ">
            and EVENT_SCENE_NAME like concat('%',concat(#{eventSceneName},'%'))
        </if>
        </where>
    </select>

    <insert id="saveEventScene" parameterType="com.zjtelcom.cpct.dto.event.EventScene">
    insert into event_scene (EVENT_SCENE_ID, EVENT_SCENE_NBR, EVENT_SCENE_NAME,
      EVENT_SCENE_DESC, EVENT_ID, EXT_EVENT_SCENE_ID,
      EVENT_SCENE_TYPE_ID, STATUS_CD, STATUS_DATE,
      CREATE_STAFF, UPDATE_STAFF, UPDATE_DATE,
      CREATE_DATE, REMARK, CONTACT_EVT_CODE
      )
    values (#{eventSceneId,jdbcType=BIGINT}, #{eventSceneNbr,jdbcType=VARCHAR}, #{eventSceneName,jdbcType=VARCHAR},
      #{eventSceneDesc,jdbcType=VARCHAR}, #{eventId,jdbcType=BIGINT}, #{extEventSceneId,jdbcType=BIGINT},
      #{eventSceneTypeId,jdbcType=BIGINT}, #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP},
      #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP},
      #{createDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{contactEvtCode,jdbcType=VARCHAR}
      )
  </insert>

    <select id="getEventScene" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select EVENT_SCENE_ID, EVENT_SCENE_NBR, EVENT_SCENE_NAME, EVENT_SCENE_DESC, EVENT_ID,
    EXT_EVENT_SCENE_ID, STATUS_CD, STATUS_DATE, CREATE_STAFF, UPDATE_STAFF, UPDATE_DATE,EVENT_SCENE_TYPE_ID,
    CREATE_DATE, REMARK, CONTACT_EVT_CODE
    from event_scene
    where  EVENT_SCENE_ID = #{eventSceneId}
  </select>

    <insert id="createEventScene" parameterType="com.zjtelcom.cpct.dto.event.EventScene" keyProperty="eventSceneId" useGeneratedKeys="true">
        insert into event_scene ( EVENT_SCENE_NBR, EVENT_SCENE_NAME,
        EVENT_SCENE_DESC, EVENT_ID, EXT_EVENT_SCENE_ID,EVENT_SCENE_TYPE_ID,
        STATUS_CD, STATUS_DATE, CREATE_STAFF,
        UPDATE_STAFF, UPDATE_DATE, CREATE_DATE,
        REMARK, CONTACT_EVT_CODE)
        values ( #{eventSceneNbr,jdbcType=VARCHAR}, #{eventSceneName,jdbcType=VARCHAR}, #{eventSceneTypeId,jdbcType=BIGINT},
        #{eventSceneDesc,jdbcType=VARCHAR}, #{eventId,jdbcType=BIGINT}, #{extEventSceneId,jdbcType=BIGINT},
        #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=BIGINT},
        #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP},
        #{remark,jdbcType=VARCHAR}, #{contactEvtCode,jdbcType=VARCHAR})
    </insert>

    <delete id="delEventScene" parameterType="com.zjtelcom.cpct.dto.event.EventScene">
        delete from event_scene
        where EVENT_SCENE_ID = #{eventSceneId,jdbcType=BIGINT}
    </delete>

    <select id="qryEventSceneByEvtId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select EVENT_SCENE_ID, EVENT_SCENE_NBR, EVENT_SCENE_NAME, EVENT_SCENE_DESC, EVENT_ID,
        EXT_EVENT_SCENE_ID, STATUS_CD, STATUS_DATE, CREATE_STAFF, UPDATE_STAFF, UPDATE_DATE,EVENT_SCENE_TYPE_ID,
        CREATE_DATE, REMARK, CONTACT_EVT_CODE
        from event_scene
        where  EVENT_ID = #{contactEvtId}
    </select>

    <update id="coEventScene" parameterType="com.zjtelcom.cpct.dto.event.EventScene">
        update event_scene
        set
        <if test="statusCd != null and statusCd != '' ">
            STATUS_CD = #{statusCd,jdbcType=VARCHAR}
        </if>
        where EVENT_SCENE_ID = #{eventSceneId,jdbcType=BIGINT}
    </update>

</mapper>