<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjtelcom.cpct.dao.event.EventMapper">
    <resultMap id="resultMapper" type="com.zjtelcom.cpct.domain.event.EventList">
        <id column="EVENT_ID" property="eventId"/>
        <result column="EVENT_NBR" property="eventNbr"/>
        <result column="EVENT_NAME" property="eventName"/>
        <result column="EVENT_TRIG_TYPE" property="eventTrigType"/>
        <result column="EVT_TYPE_NAME" property="evtTypeName"/>
        <result column="EVT_SRC_NAME" property="evtSrcName"/>
    </resultMap>

    <sql id="eventJoin">
        LEFT JOIN interface_cfg c ON c.INTERFACE_CFG_ID = e.INTERFACE_CFG_ID
        LEFT JOIN event_sorce s ON s.EVT_SRC_ID = c.EVT_SRC_ID
        LEFT JOIN event_type t ON t.EVT_TYPE_ID = e.EVT_TYPE_ID
    </sql>


    <!--查询列表方法-->
    <select id="listEvents" resultType="com.zjtelcom.cpct.domain.event.EventList">
        select
        e.EVENT_ID eventId,
        e.EVENT_NBR eventNbr,
        e.EVENT_NAME eventName,
        e.EVENT_TRIG_TYPE eventTrigType,
        e.EVT_MAPPED_ADDR evtMappedAddr,
        t.EVT_TYPE_NAME evtTypeName,
        s.EVT_SRC_NAME evtSrcName
        from event e
        <include refid="eventJoin"/>
        where 1=1
        <if test="evtSrcId != null and evtSrcId != 0">
            and s.EVT_SRC_ID = #{evtSrcId}
        </if>
        <if test="eventName != null and eventName != ''">
            and e.EVENT_NAME LIKE CONCAT(CONCAT('%',#{eventName}),'%')
        </if>
    </select>

    <!--查询方法(只设置id与name两个查询条件)-->
    <select id="query" resultMap="resultMapper">
        select * from event

        where 1=1
        <if test="id != null and id != 0">
            and id = #{id}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
    </select>

    <!--插入操作,useGeneratedKeys代表支持自动生成序列号,keyProperty代表自动生成序列号的属性为id-->
    <!--由于采用了自动生成序列号,因此id不需要在mapper文件中写出来-->
    <insert id="saveEvent" keyProperty="eventId" useGeneratedKeys="true"
            parameterType="com.zjtelcom.cpct.domain.event.DO.EventDO">
        insert into event (
          INTERFACE_CFG_ID,
          EVENT_NBR,
          EVENT_NAME,
          EVT_MAPPED_ADDR,
          EVT_MAPPED_IP,
          EVT_PROCOTOL_TYPE,
          EVT_MAPPED_FUN_NAME,
          EVENT_DESC,
          EVT_TYPE_ID,
          EVENT_TRIG_TYPE,
          EXT_EVENT_ID,
          STATUS_CD,
          CREATE_STAFF,
          UPDATE_STAFF,
          CREATE_DATE,
          STATUS_DATE,
          UPDATE_DATE,
          REMARK)
        values (
          #{interfaceCfgId,jdbcType=BIGINT},
          #{eventNbr,jdbcType=VARCHAR},
          #{eventName,jdbcType=VARCHAR},
          #{evtMappedAddr,jdbcType=VARCHAR},
          #{evtMappedIp,jdbcType=VARCHAR},
          #{evtProcotolType,jdbcType=VARCHAR},
          #{evtMappedFunName,jdbcType=VARCHAR},
          #{eventDesc,jdbcType=VARCHAR},
          #{evtTypeId,jdbcType=BIGINT},
          #{eventTrigType,jdbcType=VARCHAR},
          #{extEventId,jdbcType=BIGINT},
          #{statusCd,jdbcType=VARCHAR},
          #{createStaff,jdbcType=BIGINT},
          #{updateStaff,jdbcType=BIGINT},
          #{createDate,jdbcType=TIMESTAMP},
          #{statusDate,jdbcType=TIMESTAMP},
          #{updateDate,jdbcType=TIMESTAMP},
          #{remark,jdbcType=VARCHAR})
  </insert>

    <!--更新操作-->
    <update id="update">
        update menu
        <set>
            <if test="name != null">name = #{name}</if>
            <if test="remark != null">remark = #{remark}</if>
            <if test="createDate != null">create_datetime = #{createDate}</if>
            <if test="updateDate != null">update_datetime = #{updateDate}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delEvent" parameterType="java.lang.Long">
        delete from event
        where EVENT_ID = #{eventId,jdbcType=BIGINT}
    </delete>

    <!--关闭事件-->
    <update id="updateEventStatusCd">
        update event
        set STATUS_CD = #{statusCd}
        where EVENT_ID = #{eventId,jdbcType=BIGINT}
    </update>

    <!--查询方法，通过id查询-->
    <select id="getEventById" resultType="com.zjtelcom.cpct.domain.event.DO.EventDO">
        select * from event
        where EVENT_ID = #{eventId,jdbcType=BIGINT}
    </select>

    <update id="updateEvent" parameterType="com.zjtelcom.cpct.domain.event.DO.EventDO">
        update event
        set
        <if test="evtSrcId != null and evtSrcId != 0">
            INTERFACE_CFG_ID = #{interfaceCfgId,jdbcType=BIGINT},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            EVENT_NBR = #{eventNbr,jdbcType=VARCHAR},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            EVENT_NAME = #{eventName,jdbcType=VARCHAR},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            EVT_MAPPED_ADDR = #{evtMappedAddr,jdbcType=VARCHAR},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            EVT_MAPPED_IP = #{evtMappedIp,jdbcType=VARCHAR},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            EVT_PROCOTOL_TYPE = #{evtProcotolType,jdbcType=VARCHAR},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            EVT_MAPPED_FUN_NAME = #{evtMappedFunName,jdbcType=VARCHAR},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            EVENT_DESC = #{eventDesc,jdbcType=VARCHAR},
        </if>
        <if test="evtSrcId != null and evtSrcId != 0">
            EVT_TYPE_ID = #{evtTypeId,jdbcType=BIGINT},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            EVENT_TRIG_TYPE = #{eventTrigType,jdbcType=VARCHAR},
        </if>
        <if test="evtSrcId != null and evtSrcId != 0">
            EXT_EVENT_ID = #{extEventId,jdbcType=BIGINT},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            STATUS_CD = #{statusCd,jdbcType=VARCHAR},
        </if>
        <if test="evtSrcId != null and evtSrcId != 0">
            CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
        </if>
        <if test="evtSrcId != null and evtSrcId != 0">
            UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="evtSrcId != null and evtSrcId != ''">
            REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        EVENT_ID = #{eventId,jdbcType=BIGINT}
        where EVENT_ID = #{eventId,jdbcType=BIGINT}
    </update>

</mapper>