<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjtelcom.cpct.dao.event.EventSorceMapper">
    <resultMap id="resultMapper" type="com.zjtelcom.cpct.domain.event.EventSorce">
        <id column="EVT_SRC_ID" property="evtSrcId"/>
        <result column="EVT_SRC_CODE" property="evtSrcCode"/>
        <result column="EVT_SRC_NAME" property="evtSrcName"/>
        <result column="EVT_SRC_DESC" property="evtSrcDesc"/>
        <result column="REGION_ID" property="regionId"/>
        <result column="STATUS_CD" property="statusCd"/>
        <result column="CREATE_STAFF" property="createStaff"/>
        <result column="UPDATE_STAFF" property="updateStaff"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="STATUS_DATE" property="statusDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="REMARK" property="remark"/>
    </resultMap>


    <!--查询方法(只设置id与name两个查询条件)-->
    <select id="listEventSorces" resultMap="resultMapper">
        select * from event_sorce
        where 1=1
        <if test="evtSrcCode != null and evtSrcCode != ''">
            and EVT_SRC_CODE like CONCAT(CONCAT('%',#{evtSrcCode}),'%')
        </if>
        <if test="evtSrcName != null and evtSrcName != ''">
            and EVT_SRC_NAME like CONCAT(CONCAT('%',#{evtSrcName}),'%')
        </if>
    </select>

    <delete id="delEventSorce" parameterType="java.lang.Long">
        delete from event_sorce where EVT_SRC_ID = #{evtSrcId}
    </delete>

    <select id="editEventSorce" resultMap="resultMapper">
        select * from event_sorce where EVT_SRC_ID = #{evtSrcId}
    </select>

    <!--插入操作,useGeneratedKeys代表支持自动生成序列号,keyProperty代表自动生成序列号的属性为id-->
    <!--由于采用了自动生成序列号,因此id不需要在mapper文件中写出来-->
    <insert id="saveEventSorce" parameterType="com.zjtelcom.cpct.domain.event.EventSorce">
        insert into event_sorce (
        EVT_SRC_CODE,
        EVT_SRC_NAME,
        EVT_SRC_DESC,
        REGION_ID,
        STATUS_CD,
        CREATE_STAFF,
        UPDATE_STAFF,
        CREATE_DATE,
        STATUS_DATE,
        UPDATE_DATE,
        REMARK
        ) values (
        #{evtSrcCode,jdbcType=VARCHAR},
        #{evtSrcName,jdbcType=VARCHAR},
        #{evtSrcDesc,jdbcType=VARCHAR},
        #{regionId,jdbcType=BIGINT},
        #{statusCd,jdbcType=VARCHAR},
        #{createStaff,jdbcType=BIGINT},
        #{updateStaff,jdbcType=BIGINT},
        #{createDate,jdbcType=TIMESTAMP},
        #{statusDate,jdbcType=TIMESTAMP},
        #{updateDate,jdbcType=TIMESTAMP},
        #{remark,jdbcType=VARCHAR}
        )

    </insert>

    <!--更新操作-->
    <update id="updateEventSorce">
        update event_sorce
        <set>
            <if test="evtSrcCode != null">EVT_SRC_CODE = #{evtSrcCode},</if>
            <if test="evtSrcName != null">EVT_SRC_NAME = #{evtSrcName},</if>
            <if test="evtSrcDesc != null">EVT_SRC_DESC = #{evtSrcDesc},</if>
            <if test="regionId != null">REGION_ID = #{regionId},</if>
            <if test="statusCd != null">STATUS_CD = #{statusCd},</if>
            <if test="createStaff != null">CREATE_STAFF = #{createStaff},</if>
            <if test="updateStaff != null">UPDATE_STAFF = #{updateStaff},</if>
            <if test="createDate != null">CREATE_DATE = #{createDate},</if>
            <if test="statusDate != null">STATUS_DATE = #{statusDate},</if>
            <if test="updateDate != null">UPDATE_DATE = #{updateDate},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            EVT_SRC_ID = #{evtSrcId}
        </set>
        where EVT_SRC_ID = #{evtSrcId}
    </update>
</mapper>