<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.event.EventMatchRulConditionMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.dto.event.EventMatchRulCondition">
        <id column="CONDITION_ID" jdbcType="BIGINT" property="conditionId"/>
        <result column="EVT_MATCH_RUL_ID" jdbcType="BIGINT" property="evtMatchRulId"/>
        <result column="LEFT_PARAM" jdbcType="VARCHAR" property="leftParam"/>
        <result column="LEFT_PARAM_TYPE" jdbcType="VARCHAR" property="leftParamType"/>
        <result column="OPER_TYPE" jdbcType="VARCHAR" property="operType"/>
        <result column="RIGHT_PARAM" jdbcType="VARCHAR" property="rightParam"/>
        <result column="RIGHT_PARAM_TYPE" jdbcType="VARCHAR" property="rightParamType"/>
        <result column="CONDITION_TEXT" jdbcType="VARCHAR" property="conditionText"/>
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <select id="listEventMatchRulCondition" resultMap="BaseResultMap">
        SELECT CONDITION_ID, EVT_MATCH_RUL_ID, LEFT_PARAM, LEFT_PARAM_TYPE, OPER_TYPE, RIGHT_PARAM, RIGHT_PARAM_TYPE,
                CONDITION_TEXT, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
        FROM event_match_rul_condition
        WHERE EVT_MATCH_RUL_ID = #{evtMatchRulId,jdbcType=BIGINT}
    </select>

    <insert id="insertEventMatchRulCondition" parameterType="com.zjtelcom.cpct.dto.event.EventMatchRulCondition">
        INSERT INTO event_match_rul_condition (CONDITION_ID, EVT_MATCH_RUL_ID, LEFT_PARAM, LEFT_PARAM_TYPE, OPER_TYPE,
                      RIGHT_PARAM, RIGHT_PARAM_TYPE,CONDITION_TEXT, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE,
                      STATUS_DATE, UPDATE_DATE, REMARK)
        VALUES (#{conditionId,jdbcType=BIGINT}, #{evtMatchRulId,jdbcType=BIGINT}, #{leftParam,jdbcType=VARCHAR}, #{leftParamType,jdbcType=VARCHAR},
                #{operType,jdbcType=VARCHAR}, #{rightParam,jdbcType=VARCHAR}, #{rightParamType,jdbcType=VARCHAR},
                #{conditionText,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT},
                #{updateStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP},
                #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
    </insert>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT CONDITION_ID, EVT_MATCH_RUL_ID, LEFT_PARAM, LEFT_PARAM_TYPE, OPER_TYPE, RIGHT_PARAM, RIGHT_PARAM_TYPE,
                CONDITION_TEXT, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
        FROM event_match_rul_condition
        WHERE CONDITION_ID = #{conditionId,jdbcType=BIGINT}
    </select>

    <update id="modEventMatchRulCondition" parameterType="com.zjtelcom.cpct.dto.event.EventMatchRulCondition">
        update event_match_rul_condition
        set
        <if test="evtMatchRulId != null and evtMatchRulId != 0">
            EVT_MATCH_RUL_ID = #{evtMatchRulId,jdbcType=BIGINT},
        </if>
        <if test="leftParamType != null and leftParamType != ''">
            LEFT_PARAM_TYPE = #{leftParamType,jdbcType=VARCHAR},
        </if>
        <if test="leftParam != null and leftParam != ''">
            LEFT_PARAM = #{leftParam,jdbcType=VARCHAR},
        </if>
        <if test="operType != null and operType != ''">
            OPER_TYPE = #{operType,jdbcType=VARCHAR},
        </if>
        <if test="rightParam != null and rightParam != ''">
            RIGHT_PARAM = #{rightParam,jdbcType=VARCHAR},
        </if>
        <if test="rightParamType != null and rightParamType != ''">
            RIGHT_PARAM_TYPE = #{rightParamType,jdbcType=VARCHAR},
        </if>
        <if test="conditionText != null and conditionText != ''">
            CONDITION_TEXT = #{conditionText,jdbcType=VARCHAR},
        </if>
        <if test="statusCd != null and statusCd != ''">
            STATUS_CD = #{statusCd,jdbcType=VARCHAR},
        </if>
        <if test="createStaff != null and createStaff != 0">
            CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
        </if>
        <if test="updateStaff != null and updateStaff != 0">
            UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        </if>
        <if test="createDate != null">
            CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="statusDate != null">
            STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
        </if>
        <if test="updateDate != null">
            UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="remark != null and remark != ''">
            REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        CONDITION_ID = #{conditionId,jdbcType=BIGINT}
        where CONDITION_ID = #{conditionId,jdbcType=BIGINT}
    </update>

    <delete id="delEventMatchRulCondition" parameterType="java.lang.Long">
        DELETE FROM event_match_rul_condition
        WHERE CONDITION_ID = #{conditionId,jdbcType=BIGINT}
    </delete>
</mapper>