<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.grouping.OrgGridRelMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.dto.grouping.OrgGridRel">
    <id column="ORG_GRID_REL_ID" jdbcType="BIGINT" property="orgGridRelId" />
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId" />
    <result column="MKT_ID" jdbcType="BIGINT" property="mktId" />
    <result column="X_ATTRIB" jdbcType="VARCHAR" property="xAttrib" />
    <result column="X_ATTRIB_NAME" jdbcType="VARCHAR" property="xAttribName" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from org_grid_rel
    where ORG_GRID_REL_ID = #{orgGridRelId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.dto.grouping.OrgGridRel">
    insert into org_grid_rel (ORG_GRID_REL_ID, ORG_ID, MKT_ID, 
      X_ATTRIB, X_ATTRIB_NAME, CREATE_DATE, 
      CREATE_STAFF, STATUS_CD, STATUS_DATE, 
      UPDATE_DATE, UPDATE_STAFF, REMARK
      )
    values (#{orgGridRelId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{mktId,jdbcType=BIGINT}, 
      #{xAttrib,jdbcType=VARCHAR}, #{xAttribName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createStaff,jdbcType=BIGINT}, #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.dto.grouping.OrgGridRel">
    update org_grid_rel
    set ORG_ID = #{orgId,jdbcType=BIGINT},
      MKT_ID = #{mktId,jdbcType=BIGINT},
      X_ATTRIB = #{xAttrib,jdbcType=VARCHAR},
      X_ATTRIB_NAME = #{xAttribName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ORG_GRID_REL_ID = #{orgGridRelId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ORG_GRID_REL_ID, ORG_ID, MKT_ID, X_ATTRIB, X_ATTRIB_NAME, CREATE_DATE, CREATE_STAFF, 
    STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, REMARK
    from org_grid_rel
    where ORG_GRID_REL_ID = #{orgGridRelId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORG_GRID_REL_ID, ORG_ID, MKT_ID, X_ATTRIB, X_ATTRIB_NAME, CREATE_DATE, CREATE_STAFF, 
    STATUS_CD, STATUS_DATE, UPDATE_DATE, UPDATE_STAFF, REMARK
    from org_grid_rel
  </select>

  <select id="fuzzySelectByGridName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select X_ATTRIB, X_ATTRIB_NAME
    from org_grid_rel
    where X_ATTRIB_NAME like CONCAT('%', #{gridName, jdbcType=VARCHAR}, '%')
  </select>

  <select id="selectOrgGridByCode" resultMap="BaseResultMap">
    select X_ATTRIB, X_ATTRIB_NAME
    from org_grid_rel
    where X_ATTRIB in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="getC3AndC4" resultType="java.util.Map">
    select b.org_name_c4 as c3, b.org_name_c5 as c4
    from org_grid_rel a,organization b
    where a.x_attrib = #{attrib}
    and a.status_cd = 1000
    and b.org_id = a.org_id
  </select>

  <select id="getStaffByC3orC4" resultType="java.lang.String">
    SELECT p2.STAFF_CODE
    FROM
	staff_attr p1
    LEFT JOIN staff p2 ON p1.STAFF_ID = p2.STAFF_ID
    LEFT JOIN staff_org_rel p3 ON p3.STAFF_ID = p2.STAFF_ID
    WHERE p1.ATTR_ID = '30001032'
    AND p1.ATTR_VALUE = 10
    AND p1.STATUS_CD = 1000
    AND p2.STATUS_CD = 1000
    AND p3.REL_TYPE = 1900
    AND p3.ORG_ID = #{orgId}
  </select>

  <select id="getStaffByOrgPath" resultType="java.lang.String">
    SELECT
	c.salesstaff_code
    FROM
	organization a,
	staff_org_rel b,
	staff c,
	staff_attr d
    WHERE a.org_path like concat('%',concat(#{orgPath},'%'))
    AND a.status_cd = '1000'
    AND b.org_id = a.org_id
    AND b.rel_type = '1900'
    AND b.status_cd = '1000'
    AND c.staff_id = b.staff_id
    AND c.status_cd = '1000'
    AND d.staff_id = c.staff_id
    AND d.attr_id = '30001032'
    AND d.attr_value = '10'
    AND d.status_cd = '1000'
  </select>

  <select id="getOrgPathByOrgId" resultType="java.lang.String">
   select org_path from organization where org_id= #{orgId}
  </select>



  <select id="getStaffByOrgPath" resultType="java.lang.String">
    SELECT
	c.salesstaff_code
    FROM
	organization a,
	staff_org_rel b,
	staff c,
	staff_attr d
    WHERE a.org_path like concat('%',concat(#{orgPath},'%'))
    AND a.status_cd = '1000'
    AND b.org_id = a.org_id
    AND b.rel_type = '1900'
    AND b.status_cd = '1000'
    AND c.staff_id = b.staff_id
    AND c.status_cd = '1000'
    AND d.staff_id = c.staff_id
    AND d.attr_id = '30001032'
    AND d.attr_value = '10'
    AND d.status_cd = '1000'
  </select>

  <select id="getOrgPathByOrgId" resultType="java.lang.String">
   select org_path from organization where org_id= #{orgId}
  </select>








</mapper>