<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.grouping.TrialOperationMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.grouping.TrialOperation">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CAMPAIGN_ID" jdbcType="BIGINT" property="campaignId" />
    <result column="CAMPAIGN_NAME" jdbcType="VARCHAR" property="campaignName" />
    <result column="STRATEGY_ID" jdbcType="BIGINT" property="strategyId" />
    <result column="STRATEGY_NAME" jdbcType="VARCHAR" property="strategyName" />
    <result column="BATCH_NUM" jdbcType="BIGINT" property="batchNum" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <sql id="selectColumn">
    ID, CAMPAIGN_ID, CAMPAIGN_NAME, STRATEGY_ID, STRATEGY_NAME, BATCH_NUM, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from trial_operation
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.grouping.TrialOperation" useGeneratedKeys="true" keyProperty="id">
    insert into trial_operation (ID, CAMPAIGN_ID, CAMPAIGN_NAME, 
      STRATEGY_ID, STRATEGY_NAME, BATCH_NUM,  STATUS_CD,
      CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, 
      STATUS_DATE, UPDATE_DATE, REMARK
      )
    values (#{id,jdbcType=BIGINT}, #{campaignId,jdbcType=BIGINT}, #{campaignName,jdbcType=VARCHAR}, 
      #{strategyId,jdbcType=BIGINT}, #{strategyName,jdbcType=VARCHAR}, #{batchNum,jdbcType=BIGINT}, 
      #{statusCd,jdbcType=VARCHAR},
      #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, now(3),
      #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.grouping.TrialOperation">
    update trial_operation
    set
    <if test="campaignId != null and campaignId != ''">
      CAMPAIGN_ID = #{campaignId,jdbcType=BIGINT},
    </if>
    <if test="campaignName != null and campaignName != ''">
      CAMPAIGN_NAME = #{campaignName,jdbcType=VARCHAR},
    </if>
    <if test="strategyId != null and strategyId != ''">
      STRATEGY_ID = #{strategyId,jdbcType=BIGINT},
    </if>
    <if test="strategyName != null and strategyName != ''">
      STRATEGY_NAME = #{strategyName,jdbcType=VARCHAR},
    </if>
    <if test="batchNum != null and batchNum != ''">
      BATCH_NUM = #{batchNum,jdbcType=BIGINT},
    </if>
    <if test="statusCd != null and statusCd != ''">
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
    </if>
    <if test="createStaff != null and createStaff != ''">
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
    </if>
    <if test="updateStaff != null and updateStaff != ''">
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
    </if>
    <if test="createDate != null">
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
    </if>
    <if test="statusDate != null">
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
    </if>
    <if test="remark != null and remark != ''">
      REMARK = #{remark,jdbcType=VARCHAR},
    </if>
    UPDATE_DATE = now(3)
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selectColumn"/>
    from trial_operation
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="selectColumn"/>
    from trial_operation
  </select>

  <select id="findOperationListByRuleId" resultMap="BaseResultMap">
    select <include refid="selectColumn"/>
    from trial_operation
    where RULE_ID = #{ruleId}
  </select>

  <select id="findOperationListByStrategyId" resultMap="BaseResultMap">
    select <include refid="selectColumn"/>
    from trial_operation
    where STRATEGY_ID = #{strategyId}
    and CREATE_STAFF = #{createStaff}
    order by CREATE_DATE desc
  </select>

  <select id="listOperationByUpdateTime" resultMap="BaseResultMap">
    select <include refid="selectColumn"/>
    from trial_operation
    where
    <![CDATA[
          UPDATE_DATE >= #{updateTime}
    ]]>
    <if test="campaignId !=null">
    and CAMPAIGN_ID = #{campaignId}
    </if>
    and STATUS_CD in
    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="listOperationByCreateTime" resultMap="BaseResultMap">
    select <include refid="selectColumn"/>
    from trial_operation
    where
    <![CDATA[
          CREATE_DATE <= #{createTime}
    ]]>
    <if test="campaignId !=null">
      and CAMPAIGN_ID = #{campaignId}
    </if>
    and STATUS_CD in
    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

    <select id="selectByBatchNum" resultMap="BaseResultMap">
    select <include refid="selectColumn"/>
    from trial_operation
    where BATCH_NUM = #{batchNum}
  </select>


  <select id="listOperationByStatusCd" resultMap="BaseResultMap">
    select <include refid="selectColumn"/>
    from trial_operation
    where STATUS_CD = #{statusCd}
  </select>


  <select id="listOperationCheck" resultMap="BaseResultMap">
    select <include refid="selectColumn"/>
    from trial_operation
    where STATUS_CD in
    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>


  <select id="listOperationByCamIdAndStatusCd" resultMap="BaseResultMap">
    SELECT
    ID, CAMPAIGN_ID, CAMPAIGN_NAME, STRATEGY_ID, STRATEGY_NAME, BATCH_NUM, STATUS_CD,
    CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    FROM trial_operation
    <where>1!=2
    <if test="campaignId != null">
      AND CAMPAIGN_ID = #{campaignId}
    </if>
    <if test="statusCd != null">
      AND STATUS_CD = #{statusCd}
    </if>
    </where>
  </select>


  <select id="queryIssuedSuccess" resultMap="BaseResultMap">
    SELECT ID, CAMPAIGN_ID, CAMPAIGN_NAME, BATCH_NUM, CREATE_DATE
    FROM (
        SELECT *
        FROM trial_operation
        WHERE STATUS_CD IN (7300,8100)
        ORDER BY CREATE_DATE DESC LIMIT 99999
    ) o
    GROUP BY o.CAMPAIGN_ID
  </select>
</mapper>