<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct_prd.dao.campaign.MktCamChlConfPrdMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCamChlConfDO">
    <id column="EVT_CONTACT_CONF_ID" jdbcType="BIGINT" property="evtContactConfId" />
    <result column="EVT_CONTACT_CONF_NAME" jdbcType="VARCHAR" property="evtContactConfName" />
    <result column="MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="mktCampaignId" />
    <result column="CONTACT_CHL_ID" jdbcType="BIGINT" property="contactChlId" />
    <result column="PUSH_TYPE" jdbcType="VARCHAR" property="pushType" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mkt_cam_chl_conf
    where EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="evtContactConfId" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlConfDO">
    insert into mkt_cam_chl_conf (EVT_CONTACT_CONF_ID, EVT_CONTACT_CONF_NAME,
    MKT_CAMPAIGN_ID, CONTACT_CHL_ID, PUSH_TYPE,
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, UPDATE_DATE, STATUS_DATE,
    REMARK)
    values (#{evtContactConfId,jdbcType=BIGINT}, #{evtContactConfName,jdbcType=VARCHAR},
    #{mktCampaignId,jdbcType=BIGINT}, #{contactChlId,jdbcType=BIGINT}, #{pushType,jdbcType=VARCHAR},
    #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT},
    #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP},
    #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlConfDO">
    update mkt_cam_chl_conf
    set EVT_CONTACT_CONF_NAME = #{evtContactConfName,jdbcType=VARCHAR},
    MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT},
    CONTACT_CHL_ID = #{contactChlId,jdbcType=BIGINT},
    PUSH_TYPE = #{pushType,jdbcType=VARCHAR},
    STATUS_CD = #{statusCd,jdbcType=VARCHAR},
    CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
    UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
    CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
    UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
    STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
    REMARK = #{remark,jdbcType=VARCHAR}
    where EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select EVT_CONTACT_CONF_ID, EVT_CONTACT_CONF_NAME, MKT_CAMPAIGN_ID, CONTACT_CHL_ID,
    PUSH_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, STATUS_DATE,
    REMARK
    from mkt_cam_chl_conf
    where EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select EVT_CONTACT_CONF_ID, EVT_CONTACT_CONF_NAME, MKT_CAMPAIGN_ID, CONTACT_CHL_ID,
    PUSH_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, STATUS_DATE,
    REMARK
    from mkt_cam_chl_conf
  </select>
  <select id="selectforName" parameterType="java.lang.Long" resultType="java.lang.String" >
    select EVT_CONTACT_CONF_NAME
    from mkt_cam_chl_conf
    where EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT}
  </select>

</mapper>