<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct_prd.dao.campaign.MktCampaignPrdMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCampaignDO">
        <id column="MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="mktCampaignId"/>
        <result column="TIGGER_TYPE" jdbcType="VARCHAR" property="tiggerType"/>
        <result column="MKT_CAMPAIGN_NAME" jdbcType="VARCHAR" property="mktCampaignName"/>
        <result column="PLAN_BEGIN_TIME" jdbcType="DATE" property="planBeginTime"/>
        <result column="PLAN_END_TIME" jdbcType="DATE" property="planEndTime"/>
        <result column="BEGIN_TIME" jdbcType="DATE" property="beginTime"/>
        <result column="END_TIME" jdbcType="DATE" property="endTime"/>
        <result column="MKT_CAMPAIGN_TYPE" jdbcType="VARCHAR" property="mktCampaignType"/>
        <result column="SERVICE_TYPE" jdbcType="VARCHAR" property="mktCampaignCategory" />
        <result column="MKT_ACTIVITY_NBR" jdbcType="VARCHAR" property="mktActivityNbr"/>
        <result column="MKT_ACTIVITY_TARGET" jdbcType="VARCHAR" property="mktActivityTarget"/>
        <result column="MKT_CAMPAIGN_DESC" jdbcType="VARCHAR" property="mktCampaignDesc"/>
        <result column="CALC_DISPLAY" jdbcType="VARCHAR" property="calcDisplay" />
        <result column="ISALE_DISPLAY" jdbcType="VARCHAR" property="isaleDisplay" />
        <result column="EXEC_TYPE" jdbcType="VARCHAR" property="execType"/>
        <result column="EXEC_INVL" jdbcType="VARCHAR" property="execInvl"/>
        <result column="EXEC_NUM" jdbcType="INTEGER" property="execNum"/>
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from mkt_campaign
      where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO" useGeneratedKeys="true"
            keyProperty="mktCampaignId">
    insert into mkt_campaign (MKT_CAMPAIGN_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME,
      PLAN_BEGIN_TIME, PLAN_END_TIME, BEGIN_TIME,
      END_TIME, MKT_CAMPAIGN_TYPE, SERVICE_TYPE,
      MKT_ACTIVITY_NBR, MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC,
      CALC_DISPLAY,ISALE_DISPLAY,
      EXEC_TYPE, EXEC_INVL, EXEC_NUM,
      STATUS_CD, STATUS_DATE, CREATE_STAFF,
      CREATE_DATE, UPDATE_STAFF, UPDATE_DATE,
      REMARK, LAN_ID)
    values (#{mktCampaignId,jdbcType=BIGINT}, #{tiggerType,jdbcType=VARCHAR}, #{mktCampaignName,jdbcType=VARCHAR},
      #{planBeginTime,jdbcType=DATE}, #{planEndTime,jdbcType=DATE}, #{beginTime,jdbcType=DATE},
      #{endTime,jdbcType=DATE}, #{mktCampaignType,jdbcType=VARCHAR}, #{mktCampaignCategory,jdbcType=VARCHAR},
      #{mktActivityNbr,jdbcType=VARCHAR}, #{mktActivityTarget,jdbcType=VARCHAR}, #{mktCampaignDesc,jdbcType=VARCHAR},
      #{calcDisplay,jdbcType=VARCHAR}, #{isaleDisplay,jdbcType=VARCHAR},
      #{execType,jdbcType=VARCHAR}, #{execInvl,jdbcType=VARCHAR}, #{execNum,jdbcType=INTEGER},
      #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=BIGINT},
      #{createDate,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR}, #{lanId,jdbcType=BIGINT})
    </insert>

<!--
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="mktCampaignId">
        insert into mkt_campaign (MKT_CAMPAIGN_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME,
        PLAN_BEGIN_TIME, PLAN_END_TIME, BEGIN_TIME,
        END_TIME, MKT_CAMPAIGN_TYPE, MKT_CAMPAIGN_CATEGORY,
        MKT_ACTIVITY_NBR, MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC,
        CALC_DISPLAY,ISALE_DISPLAY,
        EXEC_TYPE, EXEC_INVL, EXEC_NUM,
        STATUS_CD, STATUS_DATE, CREATE_STAFF,
        CREATE_DATE, UPDATE_STAFF, UPDATE_DATE,
        REMARK, LAN_ID)
        values
        <foreach collection="list" item="campaign" index="index" separator="," >
            (#{campaign.mktCampaignId,jdbcType=BIGINT}, #{campaign.tiggerType,jdbcType=VARCHAR}, #{campaign.mktCampaignName,jdbcType=VARCHAR},
            #{campaign.planBeginTime,jdbcType=DATE}, #{campaign.planEndTime,jdbcType=DATE}, #{campaign.beginTime,jdbcType=DATE},
            #{campaign.endTime,jdbcType=DATE}, #{campaign.mktCampaignType,jdbcType=VARCHAR}, #{campaign.mktCampaignCategory,jdbcType=VARCHAR},
            #{campaign.mktActivityNbr,jdbcType=VARCHAR}, #{campaign.mktActivityTarget,jdbcType=VARCHAR}, #{campaign.mktCampaignDesc,jdbcType=VARCHAR},
            #{campaign.calcDisplay,jdbcType=VARCHAR}, #{campaign.isaleDisplay,jdbcType=VARCHAR},
            #{campaign.execType,jdbcType=VARCHAR}, #{campaign.execInvl,jdbcType=VARCHAR}, #{campaign.execNum,jdbcType=INTEGER},
            #{campaign.statusCd,jdbcType=VARCHAR}, #{campaign.statusDate,jdbcType=TIMESTAMP}, #{campaign.createStaff,jdbcType=BIGINT},
            #{campaign.createDate,jdbcType=TIMESTAMP}, #{campaign.updateStaff,jdbcType=BIGINT}, #{campaign.updateDate,jdbcType=TIMESTAMP},
            #{campaign.remark,jdbcType=VARCHAR}, #{campaign.lanId,jdbcType=BIGINT})
        </foreach>
    </insert>
-->

    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO">
      update mkt_campaign
   set  <if test= "tiggerType!=null">TIGGER_TYPE = #{tiggerType,jdbcType=VARCHAR},</if>
        <if test= "mktCampaignName!=null">MKT_CAMPAIGN_NAME = #{mktCampaignName,jdbcType=VARCHAR},</if>
        <if test= "planBeginTime!=null">PLAN_BEGIN_TIME = #{planBeginTime,jdbcType=DATE},</if>
        <if test= "planEndTime!=null">PLAN_END_TIME = #{planEndTime,jdbcType=DATE},</if>
        <if test= "beginTime!=null">BEGIN_TIME = #{beginTime,jdbcType=DATE},</if>
        <if test= "endTime!=null">END_TIME = #{endTime,jdbcType=DATE},</if>
        <if test= "mktCampaignType!=null">MKT_CAMPAIGN_TYPE = #{mktCampaignType,jdbcType=VARCHAR},</if>
        <if test= "mktCampaignCategory!=null">SERVICE_TYPE = #{mktCampaignCategory,jdbcType=VARCHAR},</if>
        <if test= "mktActivityNbr!=null">MKT_ACTIVITY_NBR = #{mktActivityNbr,jdbcType=VARCHAR},</if>
        <if test= "mktActivityTarget!=null">MKT_ACTIVITY_TARGET = #{mktActivityTarget,jdbcType=VARCHAR},</if>
        <if test= "mktCampaignDesc!=null">MKT_CAMPAIGN_DESC = #{mktCampaignDesc,jdbcType=VARCHAR},</if>
        <if test= "calcDisplay!=null">CALC_DISPLAY = #{calcDisplay,jdbcType=VARCHAR},</if>
        <if test= "isaleDisplay!=null">ISALE_DISPLAY = #{isaleDisplay,jdbcType=VARCHAR},</if>
        <if test= "execType!=null">EXEC_TYPE = #{execType,jdbcType=VARCHAR},</if>
        <if test= "execInvl!=null">EXEC_INVL = #{execInvl,jdbcType=VARCHAR},</if>
        <if test= "execNum!=null">EXEC_NUM = #{execNum,jdbcType=INTEGER},</if>
        <if test= "statusCd!=null">STATUS_CD = #{statusCd,jdbcType=VARCHAR},</if>
        <if test= "statusDate!=null">STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},</if>
        <if test= "createStaff!=null">CREATE_STAFF = #{createStaff,jdbcType=BIGINT},</if>
        <if test= "createDate!=null">CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},</if>
        <if test= "updateStaff!=null">UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},</if>
        <if test= "updateDate!=null">UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},</if>
        <if test= "remark!=null">REMARK = #{remark,jdbcType=VARCHAR},</if>
        LAN_ID = #{lanId,jdbcType=BIGINT}
    where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_CAMPAIGN_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
    BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, SERVICE_TYPE, MKT_ACTIVITY_NBR,
    MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC, CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD,
    STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID
    from mkt_campaign
    where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
    select MKT_CAMPAIGN_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
    BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, SERVICE_TYPE, MKT_ACTIVITY_NBR,
    MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC, CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD,
    STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID
    from mkt_campaign order by UPDATE_DATE desc
    </select>

    <select id="qryMktCampaignListPage" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, SERVICE_TYPE, MKT_ACTIVITY_NBR, MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC,
        CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD, STATUS_DATE, CREATE_STAFF, CREATE_DATE,
        UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID
        from mkt_campaign
        where 1 = 1
        <if test="mktCampaignName != null and mktCampaignName != ''">
            AND MKT_CAMPAIGN_NAME like CONCAT('%',#{mktCampaignName,jdbcType=VARCHAR},'%')
        </if>
        <if test="statusCd != null and statusCd != ''">
            AND STATUS_CD = #{statusCd,jdbcType=VARCHAR}
        </if>
        <if test="tiggerType != null and tiggerType != ''">
            AND TIGGER_TYPE = #{tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="mktCampaignType != null and mktCampaignType != ''">
            AND MKT_CAMPAIGN_TYPE = #{mktCampaignType,jdbcType=VARCHAR}
        </if>
        order by UPDATE_DATE desc
    </select>

    <update id="changeMktCampaignStatus">
        update mkt_campaign
        set STATUS_CD = #{statusCd,jdbcType=VARCHAR}
        where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
    </update>

    <select id="qryMktCampaignListByCondition" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, SERVICE_TYPE, MKT_ACTIVITY_NBR, MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC,
        CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD, STATUS_DATE, CREATE_STAFF, CREATE_DATE,
        UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID
        from mkt_campaign
        where 1 = 1
        <if test="mktCampaignId != null and mktCampaignId != ''">
            AND MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
        </if>
        <if test="mktCampaignName != null and mktCampaignName != ''">
            AND MKT_CAMPAIGN_NAME like CONCAT('%',#{mktCampaignName,jdbcType=VARCHAR},'%')
        </if>
        <if test="statusCd != null and statusCd != ''">
            AND STATUS_CD = #{statusCd,jdbcType=VARCHAR}
        </if>
        <if test="tiggerType != null and tiggerType != ''">
            AND TIGGER_TYPE = #{tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="mktCampaignType != null and mktCampaignType != ''">
            AND MKT_CAMPAIGN_TYPE = #{mktCampaignType,jdbcType=VARCHAR}
        </if>
        <if test="planBeginTime != null and planBeginTime != ''">
            AND PLAN_BEGIN_TIME = #{planBeginTime,jdbcType=DATE}
        </if>
        <if test="PLAN_END_TIME != null and PLAN_END_TIME != ''">
            AND PLAN_END_TIME = #{PLAN_END_TIME,jdbcType=DATE}
        </if>
        <if test="mktCampaignCategory != null and mktCampaignCategory != ''">
            AND SERVICE_TYPE = #{mktCampaignCategory,jdbcType=VARCHAR}
        </if>
        <if test="mktActivityNbr != null and mktActivityNbr != ''">
            AND MKT_ACTIVITY_NBR = #{mktActivityNbr,jdbcType=VARCHAR}
        </if>
        <if test="mktActivityTarget != null and mktActivityTarget != ''">
            AND MKT_ACTIVITY_TARGET like CONCAT('%',#{mktActivityTarget,jdbcType=VARCHAR},'%')
        </if>
        <if test="mktCampaignDesc != mktCampaignDesc and statusCd != ''">
            AND mktCampaignDesc like CONCAT('%',#{mktCampaignDesc,jdbcType=VARCHAR},'%')
        </if>
        <if test="calcDisplay != null and calcDisplay != ''">
            AND CALC_DISPLAY = #{calcDisplay,jdbcType=VARCHAR}
        </if>
        <if test="isaleDisplay != null and isaleDisplay != ''">
            AND ISALE_DISPLAY = #{isaleDisplay,jdbcType=VARCHAR}
        </if>
        <if test="statusDate != null and statusDate != ''">
            AND STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP}
        </if>
        <if test="createStaff != null and createStaff != ''">
            AND CREATE_STAFF = #{createStaff,jdbcType=BIGINT}
        </if>
        <if test="createDate != null and createDate != ''">
            AND CREATE_DATE = #{statusCd,jdbcType=TIMESTAMP}
        </if>
        <if test="updateStaff != null and updateStaff != ''">
            AND UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT}
        </if>
        <if test="updateDate != null and updateDate != ''">
            AND UPDATE_DATE = #{statusCd,jdbcType=TIMESTAMP}
        </if>
        order by UPDATE_DATE desc
    </select>
</mapper>