<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct_prd.dao.grouping.TarGrpConditionPrdMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.dto.grouping.TarGrpCondition">
        <id column="CONDITION_ID" jdbcType="BIGINT" property="conditionId"/>
        <result column="TAR_GRP_ID" jdbcType="BIGINT" property="tarGrpId"/>
        <result column="ROOT_FLAG" jdbcType="VARCHAR" property="rootFlag"/>
        <result column="LEFT_PARAM" jdbcType="VARCHAR" property="leftParam"/>
        <result column="LEFT_PARAM_TYPE" jdbcType="VARCHAR" property="leftParamType"/>
        <result column="OPER_TYPE" jdbcType="VARCHAR" property="operType"/>
        <result column="RIGHT_PARAM" jdbcType="VARCHAR" property="rightParam"/>
        <result column="RIGHT_PARAM_TYPE" jdbcType="VARCHAR" property="rightParamType"/>
        <result column="CONDITION_TEXT" jdbcType="VARCHAR" property="conditionText"/>
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tar_grp_condition
    where CONDITION_ID = #{conditionId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByTarGrpId" parameterType="java.lang.Long">
        delete from tar_grp_condition
        where TAR_GRP_ID = #{tarGrpId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.zjtelcom.cpct.dto.grouping.TarGrpCondition">
    insert into tar_grp_condition (CONDITION_ID, TAR_GRP_ID, ROOT_FLAG,
      LEFT_PARAM, LEFT_PARAM_TYPE, OPER_TYPE, 
      RIGHT_PARAM, RIGHT_PARAM_TYPE, CONDITION_TEXT, 
      STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
      CREATE_DATE, STATUS_DATE, UPDATE_DATE, 
      REMARK)
    values (#{conditionId,jdbcType=BIGINT}, #{tarGrpId,jdbcType=BIGINT}, #{rootFlag,jdbcType=VARCHAR},
      #{leftParam,jdbcType=VARCHAR}, #{leftParamType,jdbcType=VARCHAR}, #{operType,jdbcType=VARCHAR}, 
      #{rightParam,jdbcType=VARCHAR}, #{rightParamType,jdbcType=VARCHAR}, #{conditionText,jdbcType=VARCHAR}, 
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.dto.grouping.TarGrpCondition">
        update tar_grp_condition
        set
        <if test="rootFlag != null and rootFlag != ''">
            ROOT_FLAG = #{rootFlag,jdbcType=VARCHAR},
        </if>
        <if test="leftParamType != null and leftParamType != ''">
            LEFT_PARAM_TYPE = #{leftParamType,jdbcType=VARCHAR},
        </if>
        <if test="tarGrpId != null and tarGrpId != 0">
            TAR_GRP_ID = #{tarGrpId,jdbcType=BIGINT},
        </if>
        <if test="leftParam != null and leftParam != ''">
            LEFT_PARAM = #{leftParam,jdbcType=VARCHAR},
        </if>
        <if test="operType != null and operType != ''">
            OPER_TYPE = #{operType,jdbcType=VARCHAR},
        </if>
        <if test="rightParam != null and rightParam != ''">
            RIGHT_PARAM = #{rightParam,jdbcType=VARCHAR},
        </if>
        <if test="rightParamType != null and rightParamType != ''">
            RIGHT_PARAM_TYPE = #{rightParamType,jdbcType=VARCHAR},
        </if>
        <if test="conditionText != null and conditionText != ''">
            CONDITION_TEXT = #{conditionText,jdbcType=VARCHAR},
        </if>
        <if test="statusCd != null and statusCd != ''">
            STATUS_CD = #{statusCd,jdbcType=VARCHAR},
        </if>
        <if test="createStaff != null and createStaff != 0">
            CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
        </if>
        <if test="updateStaff != null and updateStaff != 0">
            UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        </if>
        <if test="createDate != null and createDate != ''">
            CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="statusDate != null and statusDate != ''">
            STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
        </if>
        <if test="updateDate != null and updateDate != ''">
            UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="remark != null and remark != ''">
            REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        CONDITION_ID = #{conditionId,jdbcType=BIGINT}
        where CONDITION_ID = #{conditionId,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select CONDITION_ID, TAR_GRP_ID, ROOT_FLAG, LEFT_PARAM, LEFT_PARAM_TYPE, OPER_TYPE, 
    RIGHT_PARAM, RIGHT_PARAM_TYPE, CONDITION_TEXT, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from tar_grp_condition
    where CONDITION_ID = #{conditionId,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select CONDITION_ID, TAR_GRP_ID, ROOT_FLAG, LEFT_PARAM, LEFT_PARAM_TYPE, OPER_TYPE, 
    RIGHT_PARAM, RIGHT_PARAM_TYPE, CONDITION_TEXT, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from tar_grp_condition
  </select>

    <select id="getTarGrpCondition" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select CONDITION_ID, TAR_GRP_ID, ROOT_FLAG, LEFT_PARAM, LEFT_PARAM_TYPE, OPER_TYPE,
    RIGHT_PARAM, RIGHT_PARAM_TYPE, CONDITION_TEXT, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from tar_grp_condition
    where CONDITION_ID = #{conditionId,jdbcType=BIGINT}
  </select>

    <select id="listTarGrpCondition" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select CONDITION_ID, TAR_GRP_ID, ROOT_FLAG, LEFT_PARAM, LEFT_PARAM_TYPE, OPER_TYPE,
        RIGHT_PARAM, RIGHT_PARAM_TYPE, CONDITION_TEXT, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
        CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
        from tar_grp_condition
        WHERE 1 = 1
        <if test="tarGrpId != null and tarGrpId != 0">
            AND TAR_GRP_ID = #{tarGrpId,jdbcType=BIGINT}
        </if>
    </select>

    <select id="selectByActivityId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select tgc.CONDITION_ID, tgc.TAR_GRP_ID, tgc.ROOT_FLAG, tgc.LEFT_PARAM, tgc.LEFT_PARAM_TYPE, tgc.OPER_TYPE,
        tgc.RIGHT_PARAM, tgc.RIGHT_PARAM_TYPE, tgc.CONDITION_TEXT
        from tar_grp_condition tgc
        left join tar_grp tg
        on tg.TAR_GRP_ID = tgc.TAR_GRP_ID
        left join mkt_cam_grp_rul mcgr
        on mcgr.TAR_GRP_ID = tg.TAR_GRP_ID
        WHERE mcgr.MKT_CAMPAIGN_ID = #{activityId,jdbcType=BIGINT}
    </select>

    <update id="modTarGrpCondition" parameterType="com.zjtelcom.cpct.dto.grouping.TarGrpCondition">
        update tar_grp_condition
        set
        <if test="rootFlag != null and rootFlag != ''">
            ROOT_FLAG = #{rootFlag,jdbcType=VARCHAR},
        </if>
        <if test="leftParamType != null and leftParamType != ''">
            LEFT_PARAM_TYPE = #{leftParamType,jdbcType=VARCHAR},
        </if>
        <if test="tarGrpId != null and tarGrpId != 0">
            TAR_GRP_ID = #{tarGrpId,jdbcType=BIGINT},
        </if>
        <if test="leftParam != null and leftParam != ''">
            LEFT_PARAM = #{leftParam,jdbcType=VARCHAR},
        </if>
        <if test="operType != null and operType != ''">
            OPER_TYPE = #{operType,jdbcType=VARCHAR},
        </if>
        <if test="rightParam != null and rightParam != ''">
            RIGHT_PARAM = #{rightParam,jdbcType=VARCHAR},
        </if>
        <if test="rightParamType != null and rightParamType != ''">
            RIGHT_PARAM_TYPE = #{rightParamType,jdbcType=VARCHAR},
        </if>
        <if test="conditionText != null and conditionText != ''">
            CONDITION_TEXT = #{conditionText,jdbcType=VARCHAR},
        </if>
        <if test="statusCd != null and statusCd != ''">
            STATUS_CD = #{statusCd,jdbcType=VARCHAR},
        </if>
        <if test="createStaff != null and createStaff != 0">
            CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
        </if>
        <if test="updateStaff != null and updateStaff != 0">
            UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        </if>
        <if test="createDate != null">
            CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="statusDate != null">
            STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
        </if>
        <if test="updateDate != null">
            UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="remark != null and remark != ''">
            REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        CONDITION_ID = #{conditionId,jdbcType=BIGINT}
        where CONDITION_ID = #{conditionId,jdbcType=BIGINT}
    </update>

    <delete id="delTarGrpCondition" parameterType="java.lang.Long">
        delete from tar_grp_condition
        where CONDITION_ID = #{conditionId,jdbcType=BIGINT}
    </delete>


    <insert id="insertByBatch" parameterType="java.util.List" keyProperty="conditionId" useGeneratedKeys="true">
        insert into tar_grp_condition (CONDITION_ID, TAR_GRP_ID, ROOT_FLAG,
        LEFT_PARAM, LEFT_PARAM_TYPE, OPER_TYPE,
        RIGHT_PARAM, RIGHT_PARAM_TYPE, CONDITION_TEXT,
        STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
        CREATE_DATE, STATUS_DATE, UPDATE_DATE,
        REMARK) values
        <foreach collection="list" item="item" separator="," index="i">
            ( #{item.conditionId,jdbcType=BIGINT},#{item.tarGrpId,jdbcType=BIGINT}, #{item.rootFlag,jdbcType=VARCHAR},
            #{item.leftParam,jdbcType=VARCHAR}, #{item.leftParamType,jdbcType=VARCHAR}, #{item.operType,jdbcType=VARCHAR},
            #{item.rightParam,jdbcType=VARCHAR}, #{item.rightParamType,jdbcType=VARCHAR}, #{item.conditionText,jdbcType=VARCHAR},
            #{item.statusCd,jdbcType=VARCHAR}, #{item.createStaff,jdbcType=BIGINT}, #{item.updateStaff,jdbcType=BIGINT},
            #{item.createDate,jdbcType=TIMESTAMP}, #{item.statusDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP},
            #{item.remark,jdbcType=VARCHAR})
        </foreach>
    </insert>

</mapper>