<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct_prd.dao.strategy.MktStrategyPrdMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.dto.strategy.MktStrategy">
    <id column="STRATEGY_ID" jdbcType="BIGINT" property="strategyId" />
    <result column="STRATEGY_NAME" jdbcType="VARCHAR" property="strategyName" />
    <result column="STRATEGY_TYPE" jdbcType="VARCHAR" property="strategyType" />
    <result column="STRATEGY_DESC" jdbcType="VARCHAR" property="strategyDesc" />
    <result column="RULE_EXPRESSION" jdbcType="VARCHAR" property="ruleExpression" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="LAN_ID" jdbcType="BIGINT" property="lanId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mkt_strategy
    where STRATEGY_ID = #{strategyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="strategyId" parameterType="com.zjtelcom.cpct.dto.strategy.MktStrategy">
    insert into mkt_strategy (STRATEGY_ID, STRATEGY_NAME, STRATEGY_TYPE,
    STRATEGY_DESC, RULE_EXPRESSION, STATUS_CD,
    STATUS_DATE, CREATE_STAFF, CREATE_DATE,
    UPDATE_STAFF, UPDATE_DATE, REMARK,
    LAN_ID)
    values (#{strategyId,jdbcType=BIGINT}, #{strategyName,jdbcType=VARCHAR}, #{strategyType,jdbcType=VARCHAR},
    #{strategyDesc,jdbcType=VARCHAR}, #{ruleExpression,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR},
    #{statusDate,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP},
    #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
    #{lanId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.dto.strategy.MktStrategy">
    update mkt_strategy
    set STRATEGY_NAME = #{strategyName,jdbcType=VARCHAR},
    STRATEGY_TYPE = #{strategyType,jdbcType=VARCHAR},
    STRATEGY_DESC = #{strategyDesc,jdbcType=VARCHAR},
    RULE_EXPRESSION = #{ruleExpression,jdbcType=VARCHAR},
    STATUS_CD = #{statusCd,jdbcType=VARCHAR},
    STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
    CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
    CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
    UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
    UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
    REMARK = #{remark,jdbcType=VARCHAR},
    LAN_ID = #{lanId,jdbcType=BIGINT}
    where STRATEGY_ID = #{strategyId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select STRATEGY_ID, STRATEGY_NAME, STRATEGY_TYPE, STRATEGY_DESC, RULE_EXPRESSION,
    STATUS_CD, STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK,
    LAN_ID
    from mkt_strategy
    where STRATEGY_ID = #{strategyId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select STRATEGY_ID, STRATEGY_NAME, STRATEGY_TYPE, STRATEGY_DESC, RULE_EXPRESSION,
    STATUS_CD, STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK,
    LAN_ID
    from mkt_strategy
  </select>




  <select id="queryList" parameterType="com.zjtelcom.cpct.dto.strategy.MktStrategy" resultMap="BaseResultMap">
    select STRATEGY_ID, STRATEGY_NAME, STRATEGY_TYPE, STRATEGY_DESC, RULE_EXPRESSION,
    STATUS_CD, STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK,
    LAN_ID
    from mkt_strategy
    <where>1!=2
    <if test="strategyId != null and strategyId != ''">
      AND STRATEGY_ID = #{strategyId,jdbcType=VARCHAR}
    </if>
    <if test="strategyName != null and strategyName != '' ">
      AND STRATEGY_NAME = #{strategyName,jdbcType=VARCHAR}
    </if>
    </where>

  </select>


</mapper>