<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.system.SysStaffMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.system.SysStaff">
        <id column="STAFF_ID" jdbcType="BIGINT" property="staffId"/>
        <result column="STAFF_CODE" jdbcType="VARCHAR" property="staffCode"/>
        <result column="STAFF_ACCOUNT" jdbcType="VARCHAR" property="staffAccount"/>
        <result column="STAFF_NAME" jdbcType="VARCHAR" property="staffName"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="STAFF_PHONE" jdbcType="VARCHAR" property="staffPhone"/>
        <result column="STAFF_TELEPHONE" jdbcType="VARCHAR" property="staffTelephone"/>
        <result column="STAFF_EMAIL" jdbcType="VARCHAR" property="staffEmail"/>
        <result column="CHANNEL_ID" jdbcType="BIGINT" property="channelId"/>
        <result column="CITY_ID" jdbcType="BIGINT" property="cityId"/>
        <result column="STATUS" jdbcType="BIGINT" property="status"/>
        <result column="LOGIN_STATUS" jdbcType="BIGINT" property="loginStatus"/>
        <result column="LAST_LOGIN" jdbcType="TIMESTAMP" property="lastLogin"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="CONTACT_CHL_NAME" jdbcType="VARCHAR" property="channelName"/>
        <result column="name" jdbcType="VARCHAR" property="cityName"/>
        <result column="PARAM_NAME" jdbcType="VARCHAR" property="loginName"/>
    </resultMap>

    <!-- 根据用户名查询用户信息 -->
    <select id="queryUserByName" resultMap="BaseResultMap" parameterType="String">
        select STAFF_ID, STAFF_CODE, STAFF_ACCOUNT,STAFF_NAME, PASSWORD, STAFF_PHONE, STAFF_TELEPHONE,
        STAFF_EMAIL, CHANNEL_ID, CITY_ID, STATUS, LAST_LOGIN
        from sys_staff
        where STAFF_ACCOUNT = #{staffAccount,jdbcType=VARCHAR}
        and STATUS != 2
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from sys_staff
      where STAFF_ID = #{staffId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.zjtelcom.cpct.domain.system.SysStaff" keyProperty="staffId"
            useGeneratedKeys="true">
      insert into sys_staff (STAFF_CODE,STAFF_ACCOUNT, STAFF_NAME,
        PASSWORD, STAFF_PHONE, STAFF_TELEPHONE,
        STAFF_EMAIL, CHANNEL_ID, CITY_ID,
        STATUS, LAST_LOGIN, CREATE_DATE,
        CREATE_STAFF, UPDATE_DATE, UPDATE_STAFF
        )
      values (#{staffCode,jdbcType=VARCHAR}, #{staffAccount,jdbcType=VARCHAR},#{staffName,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{staffPhone,jdbcType=VARCHAR}, #{staffTelephone,jdbcType=VARCHAR},
        #{staffEmail,jdbcType=VARCHAR}, #{channelId,jdbcType=BIGINT}, #{cityId,jdbcType=BIGINT},
        #{status,jdbcType=BIGINT}, #{lastLogin,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP},
        #{createStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=BIGINT}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.system.SysStaff">
      update sys_staff
      set STAFF_CODE = #{staffCode,jdbcType=VARCHAR},
        STAFF_ACCOUNT = #{staffAccount,jdbcType=VARCHAR},
        STAFF_NAME = #{staffName,jdbcType=VARCHAR},
        STAFF_PHONE = #{staffPhone,jdbcType=VARCHAR},
        STAFF_TELEPHONE = #{staffTelephone,jdbcType=VARCHAR},
        STAFF_EMAIL = #{staffEmail,jdbcType=VARCHAR},
        CHANNEL_ID = #{channelId,jdbcType=BIGINT},
        CITY_ID = #{cityId,jdbcType=BIGINT},
        STATUS = #{status,jdbcType=BIGINT},
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT}
      where STAFF_ID = #{staffId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
      select STAFF_ID, STAFF_CODE, STAFF_ACCOUNT,STAFF_NAME, STAFF_PHONE, STAFF_TELEPHONE,
      STAFF_EMAIL, CHANNEL_ID, CITY_ID, STATUS, LAST_LOGIN, CREATE_DATE, CREATE_STAFF,
      UPDATE_DATE, UPDATE_STAFF
      from sys_staff
      where STAFF_ID = #{staffId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select sf.STAFF_ID, sf.STAFF_CODE, sf.STAFF_ACCOUNT, sf.STAFF_NAME, sf.STAFF_PHONE, sf.STAFF_TELEPHONE,
        sf.STAFF_EMAIL, sf.CHANNEL_ID, sf.CITY_ID, sf.STATUS, sf.LOGIN_STATUS, sf.LAST_LOGIN, sf.CREATE_DATE,
        sf.CREATE_STAFF, sf.UPDATE_DATE, sf.UPDATE_STAFF, re.ROLE_NAME, cc.CONTACT_CHL_NAME, sa.name, sp.PARAM_NAME
        from sys_staff as sf
        left join sys_staff_role as sr on sf.STAFF_ID = sr.STAFF_ID
        left join sys_role as re on sr.ROLE_ID = re.ROLE_ID
        left join contact_channel as cc on sf.CHANNEL_ID = cc.CONTACT_CHL_ID
        left join sys_area as sa on sf.CITY_ID = sa.area_id
        left join sys_params as sp on sf.LOGIN_STATUS = sp.PARAM_VALUE and sp.PARAM_KEY = "SYSYTEM_LOGIN_STATUS"
        where 1=1
        <if test="staffAccount != null and staffAccount != ''">
            and sf.STAFF_ACCOUNT like CONCAT('%',#{staffAccount,jdbcType=VARCHAR},'%')
        </if>
        <if test="staffName != null and staffName != ''">
            and sf.STAFF_NAME like CONCAT('%',#{staffName,jdbcType=VARCHAR},'%')
        </if>
        <if test="status != null and status != 0">
            and sf.STATUS = #{status,jdbcType=BIGINT}
        </if>
        <if test="cityId != null and cityId != 0">
            and sf.CITY_ID = #{cityId,jdbcType=BIGINT}
        </if>
        <if test="channelId != null and channelId != 0">
            and sf.CHANNEL_ID = #{channelId,jdbcType=BIGINT}
        </if>
        <if test="loginStatus != null and loginStatus != 0">
            and sf.LOGIN_STATUS = #{loginStatus,jdbcType=BIGINT}
        </if>
        order by sf.CREATE_DATE desc
    </select>

    <update id="changeStatus" parameterType="com.zjtelcom.cpct.domain.system.SysStaff">
      update sys_staff
      set STATUS = #{status,jdbcType=BIGINT},
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT}
      where STAFF_ID = #{staffId,jdbcType=BIGINT}
    </update>

    <update id="updatePassword" parameterType="com.zjtelcom.cpct.domain.system.SysStaff">
      update sys_staff
      set PASSWORD = #{password,jdbcType=BIGINT}
      where STAFF_ID = #{staffId,jdbcType=BIGINT}
    </update>

    <select id="checkCodeRepeat" parameterType="java.lang.String" resultType="java.lang.Integer">
      select count(0)
      from sys_staff
      where STAFF_ACCOUNT = #{staffAccount,jdbcType=VARCHAR}
    </select>

    <update id="lastLogin" parameterType="java.lang.String">
      update sys_staff
      set LAST_LOGIN = now()
      where STAFF_ACCOUNT = #{staffAccount,jdbcType=VARCHAR}
    </update>
</mapper>