<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.campaign.MktCamChlResultConfRelMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCamChlResultConfRelDO">
        <id column="MKT_CAM_CHL_RESULT_CONF_REL_ID" jdbcType="BIGINT" property="mktCamChlResultConfRelId"/>
        <result column="MKT_CAM_CHL_RESULT_ID" jdbcType="BIGINT" property="mktCamChlResultId"/>
        <result column="EVT_CONTACT_CONF_ID" jdbcType="BIGINT" property="evtContactConfId"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mkt_cam_chl_result_conf_rel
    where MKT_CAM_CHL_RESULT_CONF_REL_ID = #{mktCamChlResultConfRelId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByMktCamChlResultId" parameterType="java.lang.Long">
    delete from mkt_cam_chl_result_conf_rel
    where MKT_CAM_CHL_RESULT_ID = #{mktCamChlResultId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="mktCamChlResultConfRelId"
            parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlResultConfRelDO">
    insert into mkt_cam_chl_result_conf_rel (MKT_CAM_CHL_RESULT_CONF_REL_ID, MKT_CAM_CHL_RESULT_ID, 
      EVT_CONTACT_CONF_ID, CREATE_STAFF, CREATE_DATE, 
      UPDATE_STAFF, UPDATE_DATE)
    values (#{mktCamChlResultConfRelId,jdbcType=BIGINT}, #{mktCamChlResultId,jdbcType=BIGINT}, 
      #{evtContactConfId,jdbcType=BIGINT}, #{createStaff,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlResultConfRelDO">
        update mkt_cam_chl_result_conf_rel
        set
        <if test="mktCamChlResultId != null and mktCamChlResultId != ''">
            MKT_CAM_CHL_RESULT_ID = #{mktCamChlResultId,jdbcType=BIGINT},
        </if>
        <if test="evtContactConfId != null and evtContactConfId != ''">
            EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT},
        </if>
        <if test="createStaff != null and createStaff != ''">
            CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
        </if>
        <if test="createDate != null and createDate != ''">
            CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        </if>
        UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
        where MKT_CAM_CHL_RESULT_CONF_REL_ID = #{mktCamChlResultConfRelId,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_CAM_CHL_RESULT_CONF_REL_ID, MKT_CAM_CHL_RESULT_ID, EVT_CONTACT_CONF_ID, 
    CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
    from mkt_cam_chl_result_conf_rel
    where MKT_CAM_CHL_RESULT_CONF_REL_ID = #{mktCamChlResultConfRelId,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select MKT_CAM_CHL_RESULT_CONF_REL_ID, MKT_CAM_CHL_RESULT_ID, EVT_CONTACT_CONF_ID, 
    CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
    from mkt_cam_chl_result_conf_rel
  </select>
    <select id="selectByMktCamChlResultId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_CAM_CHL_RESULT_CONF_REL_ID, MKT_CAM_CHL_RESULT_ID, EVT_CONTACT_CONF_ID,
    CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
    from mkt_cam_chl_result_conf_rel
    where MKT_CAM_CHL_RESULT_ID = #{mktCamChlResultId,jdbcType=BIGINT}
  </select>


</mapper>