<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.campaign.MktCamChlResultMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCamChlResultDO">
    <id column="MKT_CAM_CHL_RESULT_ID" jdbcType="BIGINT" property="mktCamChlResultId" />
    <result column="MKT_CAM_CHL_RESULT_NAME" jdbcType="VARCHAR" property="mktCamChlResultName" />
    <result column="RESULT" jdbcType="BIGINT" property="result" />
    <result column="REASON" jdbcType="BIGINT" property="reason" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mkt_cam_chl_result
    where MKT_CAM_CHL_RESULT_ID = #{mktCamChlResultId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="mktCamChlResultId" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlResultDO">
    insert into mkt_cam_chl_result (MKT_CAM_CHL_RESULT_ID, MKT_CAM_CHL_RESULT_NAME, 
      RESULT, REASON, CREATE_STAFF, 
      CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
      )
    values (#{mktCamChlResultId,jdbcType=BIGINT}, #{mktCamChlResultName,jdbcType=VARCHAR}, 
      #{result,jdbcType=BIGINT}, #{reason,jdbcType=BIGINT}, #{createStaff,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlResultDO">
    update mkt_cam_chl_result
    set
    <if test="mktCamChlResultName != null and mktCamChlResultName != ''">
      MKT_CAM_CHL_RESULT_NAME = #{mktCamChlResultName,jdbcType=VARCHAR},
    </if>
    <if test="result != null and result != ''">
      RESULT = #{result,jdbcType=BIGINT},
    </if>
    <if test="reason != null and reason != ''">
      REASON = #{reason,jdbcType=BIGINT},
    </if>
    <if test="createStaff != null and createStaff != ''">
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
    </if>
    <if test="createDate != null and createDate != ''">
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
    </if>
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where MKT_CAM_CHL_RESULT_ID = #{mktCamChlResultId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_CAM_CHL_RESULT_ID, MKT_CAM_CHL_RESULT_NAME, RESULT, REASON, CREATE_STAFF, 
    CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
    from mkt_cam_chl_result
    where MKT_CAM_CHL_RESULT_ID = #{mktCamChlResultId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MKT_CAM_CHL_RESULT_ID, MKT_CAM_CHL_RESULT_NAME, RESULT, REASON, CREATE_STAFF, 
    CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
    from mkt_cam_chl_result
  </select>
</mapper>