<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.campaign.MktCampaignReportMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCampaignDO">
        <id column="MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="mktCampaignId"/>
        <result column="INIT_ID" jdbcType="BIGINT" property="initId"/>
        <result column="TIGGER_TYPE" jdbcType="VARCHAR" property="tiggerType"/>
        <result column="MKT_CAMPAIGN_NAME" jdbcType="VARCHAR" property="mktCampaignName"/>
        <result column="PLAN_BEGIN_TIME" jdbcType="DATE" property="planBeginTime"/>
        <result column="PLAN_END_TIME" jdbcType="DATE" property="planEndTime"/>
        <result column="BEGIN_TIME" jdbcType="DATE" property="beginTime"/>
        <result column="END_TIME" jdbcType="DATE" property="endTime"/>
        <result column="MKT_CAMPAIGN_TYPE" jdbcType="VARCHAR" property="mktCampaignType"/>
        <result column="MANAGE_TYPE" jdbcType="VARCHAR" property="mktCampaignCategory" />
        <result column="MKT_ACTIVITY_NBR" jdbcType="VARCHAR" property="mktActivityNbr"/>
        <result column="MKT_ACTIVITY_TARGET" jdbcType="VARCHAR" property="mktActivityTarget"/>
        <result column="MKT_CAMPAIGN_DESC" jdbcType="VARCHAR" property="mktCampaignDesc"/>
        <result column="CALC_DISPLAY" jdbcType="BIGINT" property="calcDisplay" />
        <result column="ISALE_DISPLAY" jdbcType="BIGINT" property="isaleDisplay" />
        <result column="EXEC_TYPE" jdbcType="VARCHAR" property="execType"/>
        <result column="EXEC_INVL" jdbcType="VARCHAR" property="execInvl"/>
        <result column="EXEC_NUM" jdbcType="INTEGER" property="execNum"/>
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
        <result column="CREATE_CHANNEL" jdbcType="VARCHAR" property="createChannel" />
        <result column="DIRECTORY_ID" jdbcType="BIGINT" property="directoryId" />
        <result column="CAM_LEVEL" jdbcType="BIGINT" property="camLevel" />
        <result column="IS_CHECK_RULE" jdbcType="VARCHAR" property="isCheckRule" />
        <result column="SRC_ID" jdbcType="VARCHAR" property="srcId" />
        <result column="SRC_TYPE" jdbcType="VARCHAR" property="srcType" />
        <result column="SERVICE_TYPE" jdbcType="VARCHAR" property="serviceType" />
        <result column="SERVICE_CANCLE_FLAG" jdbcType="BIGINT" property="serviceCancleFlag" />
        <result column="REGION_ID" jdbcType="BIGINT" property="regionId" />
        <result column="LIFE_STAGE" jdbcType="VARCHAR" property="lifeStage" />
        <result column="EXT_MKT_CAMPAIGN_ID" jdbcType="VARCHAR" property="extMktCampaignId" />
        <result column="EXEC_INIT_TIME" jdbcType="VARCHAR" property="execInitTime" />
        <result column="LAN_ID_FOUR" jdbcType="BIGINT" property="lanIdFour"/>
        <result column="LAN_ID_FIVE" jdbcType="BIGINT" property="lanIdFive"/>
        <result column="ONE_CHANNEL_FLG" jdbcType="VARCHAR" property="oneChannelFlg" />
        <result column="THE_ME" jdbcType="VARCHAR" property="theMe" />
        <result column="REGION_FLG" jdbcType="VARCHAR" property="regionFlg" />
    </resultMap>

    <sql id="ssss">
        AND STATUS_CD IN ('2002', '2006', '2008', '2010')
        AND MKT_CAMPAIGN_TYPE = #{map.campaignType}
        AND PLAN_BEGIN_TIME > #{map.startDate,jdbcType=TIMESTAMP}
        AND PLAN_END_TIME > #{map.endDate,jdbcType=TIMESTAMP}
    </sql>


    <select id="countByStatus" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT (1)
        from mkt_campaign
        where 1 = 1
        <if test="map.startDate != null">
            AND PLAN_BEGIN_TIME > #{map.startDate,jdbcType=TIMESTAMP}
        </if>
        <if test="map.endDate != null">
            AND PLAN_END_TIME > #{map.endDate,jdbcType=TIMESTAMP}
        </if>
        <if test="map.statusCd != null and map.statusCd != ''">
            AND STATUS_CD IN ${map.statusCd}
        </if>
        <if test="map.lanId != null and map.lanId != ''">
            AND LAN_ID = #{map.lanId,jdbcType=BIGINT}
        </if>
        <if test="map.mktCampaignType != null and map.mktCampaignType != ''">
            AND MKT_CAMPAIGN_TYPE = #{map.mktCampaignType}
        </if>
        <if test="map.tiggerType != null and map.tiggerType != ''">
            AND TIGGER_TYPE = #{map.tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="map.oneChannelFlg != null and map.oneChannelFlg != ''">
            AND ONE_CHANNEL_FLG = #{map.oneChannelFlg}
        </if>
    </select>


    <select id="countByTime" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT (1)
        from mkt_campaign
        where  #{map.endDate,jdbcType=TIMESTAMP} > PLAN_END_TIME
        AND PLAN_BEGIN_TIME > #{map.startDate,jdbcType=TIMESTAMP}
        AND PLAN_END_TIME > #{map.startDate,jdbcType=TIMESTAMP}
        <if test="map.statusCd != null and map.statusCd != ''">
            AND STATUS_CD IN ${map.statusCd}
        </if>
        <if test="map.lanId != null and map.lanId != ''">
            AND LAN_ID = #{map.lanId,jdbcType=BIGINT}
        </if>
        <if test="map.mktCampaignType != null and map.mktCampaignType != ''">
            AND MKT_CAMPAIGN_TYPE = #{map.mktCampaignType}
        </if>
        <if test="map.tiggerType != null and map.tiggerType != ''">
            AND TIGGER_TYPE = #{map.tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="map.oneChannelFlg != null and map.oneChannelFlg != ''">
            AND ONE_CHANNEL_FLG = #{map.oneChannelFlg}
        </if>
    </select>

    <select id="selectByStatus" parameterType="map" resultMap="BaseResultMap">
        SELECT t.MKT_CAMPAIGN_ID, t.INIT_ID, t.TIGGER_TYPE, t.MKT_CAMPAIGN_NAME,
        t.PLAN_BEGIN_TIME, t.PLAN_END_TIME, t.BEGIN_TIME,
        t.END_TIME, t.MKT_CAMPAIGN_TYPE, t.MANAGE_TYPE,
        t.MKT_ACTIVITY_NBR, t.MKT_ACTIVITY_TARGET, t.MKT_CAMPAIGN_DESC,
        t.CALC_DISPLAY, t.ISALE_DISPLAY,
        t.EXEC_TYPE, t.EXEC_INVL, t.EXEC_NUM,
        t.STATUS_CD, t.STATUS_DATE, t.CREATE_STAFF,
        t.CREATE_DATE, t.UPDATE_STAFF, t.UPDATE_DATE,
        t.REMARK, t.LAN_ID, t.CREATE_CHANNEL, t.DIRECTORY_ID,
        t.CAM_LEVEL, t.IS_CHECK_RULE, t.SRC_TYPE, t.SRC_ID,
        t.SERVICE_CANCLE_FLAG, t.REGION_ID, t.LIFE_STAGE, t.SERVICE_TYPE, t.EXT_MKT_CAMPAIGN_ID, t.EXEC_INIT_TIME, t.LAN_ID_FOUR, t.LAN_ID_FIVE, t.ONE_CHANNEL_FLG,
        t.THE_ME, t.REGION_FLG
        from mkt_campaign t
        where 1 = 1
        <if test="map.startDate != null">
            AND PLAN_BEGIN_TIME > #{map.startDate,jdbcType=TIMESTAMP}
        </if>
        <if test="map.endDate != null">
            AND PLAN_END_TIME > #{map.endDate,jdbcType=TIMESTAMP}
        </if>
        <if test="map.statusCd != null and map.statusCd != ''">
            AND STATUS_CD IN ${map.statusCd}
        </if>
        <if test="map.lanId != null and map.lanId != ''">
            AND LAN_ID = #{map.lanId,jdbcType=BIGINT}
        </if>
        <if test="map.mktCampaignType != null and map.mktCampaignType != ''">
            AND MKT_CAMPAIGN_TYPE = #{map.mktCampaignType}
        </if>
        <if test="map.tiggerType != null and map.tiggerType != ''">
            AND TIGGER_TYPE = #{map.tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="map.oneChannelFlg != null and map.oneChannelFlg != ''">
            AND ONE_CHANNEL_FLG = #{map.oneChannelFlg}
        </if>
    </select>


    <select id="selectByTrial" parameterType="map" resultMap="BaseResultMap">
        SELECT t.MKT_CAMPAIGN_ID, t.INIT_ID, t.TIGGER_TYPE, t.MKT_CAMPAIGN_NAME,
        t.PLAN_BEGIN_TIME, t.PLAN_END_TIME, t.BEGIN_TIME,
        t.END_TIME, t.MKT_CAMPAIGN_TYPE, t.MANAGE_TYPE,
        t.MKT_ACTIVITY_NBR, t.MKT_ACTIVITY_TARGET, t.MKT_CAMPAIGN_DESC,
        t.CALC_DISPLAY, t.ISALE_DISPLAY,
        t.EXEC_TYPE, t.EXEC_INVL, t.EXEC_NUM,
        t.STATUS_CD, t.STATUS_DATE, t.CREATE_STAFF,
        t.CREATE_DATE, t.UPDATE_STAFF, t.UPDATE_DATE,
        t.REMARK, t.LAN_ID, t.CREATE_CHANNEL, t.DIRECTORY_ID,
        t.CAM_LEVEL, t.IS_CHECK_RULE, t.SRC_TYPE, t.SRC_ID,
        t.SERVICE_CANCLE_FLAG, t.REGION_ID, t.LIFE_STAGE, t.SERVICE_TYPE, t.EXT_MKT_CAMPAIGN_ID, t.EXEC_INIT_TIME, t.LAN_ID_FOUR, t.LAN_ID_FIVE, t.ONE_CHANNEL_FLG,
        t.THE_ME, t.REGION_FLG
        from mkt_campaign t
        where 1 = 1
        <if test="map.startDate != null and map.endDate != null">
            AND PLAN_END_TIME BETWEEN  #{map.startDate,jdbcType=TIMESTAMP} AND #{map.endDate,jdbcType=TIMESTAMP}
        </if>
        <if test="map.statusCd != null and map.statusCd != ''">
            AND t.STATUS_CD IN ${map.statusCd}
        </if>
        <if test="map.lanId != null and map.lanId != ''">
            AND t.LAN_ID = #{map.lanId,jdbcType=BIGINT}
        </if>
        <if test="map.mktCampaignType != null and map.mktCampaignType != ''">
            AND t.MKT_CAMPAIGN_TYPE IN ${map.mktCampaignType}
        </if>
        <if test="map.tiggerType != null and map.tiggerType != ''">
            AND t.TIGGER_TYPE = #{map.tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="map.trilType != null and map.trilType != '' and map.trilType == '1000' ">
            AND t.MKT_CAMPAIGN_ID IN (
            SELECT
            tril.CAMPAIGN_ID
            FROM
            trial_operation tril
            WHERE
            tril.CREATE_STAFF = 1000)
        </if>
        <if test="map.trilType != null and map.trilType != '' and map.trilType == '2000' ">
            AND t.MKT_CAMPAIGN_ID NOT IN (
            SELECT
            tril.CAMPAIGN_ID
            FROM
            trial_operation tril
            WHERE
            tril.CREATE_STAFF = 1000 )
        </if>
    </select>


    <select id="selectCamSumByArea" resultType="java.util.Map" parameterType="map">
        SELECT a.name,t1.c3, t2.c4c5
        FROM sys_area a
        LEFT JOIN (SELECT COUNT(1) c3, LAN_ID
        FROM mkt_campaign
        WHERE REGION_FLG = 'C3'
        <include refid="ssss"/>
        GROUP BY LAN_ID
        ) t1 ON a.area_id = t1.LAN_ID
        LEFT JOIN (SELECT COUNT(1) c4c5, LAN_ID
        FROM mkt_campaign
        WHERE REGION_FLG IN ('C4','C5')
        <include refid="ssss"/>
        GROUP BY LAN_ID
        ) t2 ON a.area_id = t2.LAN_ID
        WHERE a.area_level = '1'
        GROUP BY a.name
    </select>


    <select id="selectCamSumByArea1" resultType="java.util.Map" parameterType="map">
        SELECT
        (SELECT COUNT(1)
        FROM mkt_campaign
        WHERE REGION_FLG = 'C2' <include refid="ssss"/>) C2,
        (SELECT COUNT(1)
        FROM mkt_campaign
        WHERE REGION_FLG = 'C3' <include refid="ssss"/>) C3,
        (SELECT COUNT(1)
        FROM mkt_campaign
        WHERE REGION_FLG IN ('C4','C5') <include refid="ssss"/>) C4,
        (SELECT COUNT(1)
        FROM mkt_campaign
        WHERE MKT_ACTIVITY_NBR NOT LIKE CONCAT('%MKT%')<include refid="ssss"/>) C1,


        COUNT(1) SUM
        FROM mkt_campaign WHERE 1 = 1 <include refid="ssss"/>
    </select>

    <select id="selectServiceCamList" resultType="Map">
        select MKT_CAMPAIGN_ID campaignId, MKT_CAMPAIGN_NAME campaignName,
        from mkt_campaign
        where SRC_TYPE = #{map.serviceType}
        and MKT_CAMPAIGN_TYPE = #{map.mktCampaignType}
        AND STATUS_CD IN (2002, 2006, 2007, 2008, 2010)
        group by INIT_ID
    </select>

    <select id="selectCamListByCampaignType" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID
        from mkt_campaign
        where  MKT_CAMPAIGN_TYPE = #{map.mktCampaignType}
        AND STATUS_CD IN (2002, 2006, 2007, 2008, 2010)
        group by INIT_ID
    </select>

</mapper>