<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.campaign.MktCamEvtRelMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCamEvtRelDO">
    <id column="MKT_CAMP_EVT_REL_ID" jdbcType="DECIMAL" property="mktCampEvtRelId" />
    <result column="MKT_CAMPAIGN_ID" jdbcType="DECIMAL" property="mktCampaignId" />
    <result column="EVENT_ID" jdbcType="DECIMAL" property="eventId" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="CREATE_STAFF" jdbcType="DECIMAL" property="createStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_STAFF" jdbcType="DECIMAL" property="updateStaff" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mkt_cam_evt_rel
    where MKT_CAMP_EVT_REL_ID = #{mktCampEvtRelId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamEvtRelDO">
    insert into mkt_cam_evt_rel (MKT_CAMP_EVT_REL_ID, MKT_CAMPAIGN_ID, EVENT_ID, 
      STATUS_CD, STATUS_DATE, CREATE_STAFF, 
      CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
      )
    values (#{mktCampEvtRelId,jdbcType=DECIMAL}, #{mktCampaignId,jdbcType=DECIMAL}, #{eventId,jdbcType=DECIMAL}, 
      #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=DECIMAL}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=DECIMAL}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamEvtRelDO">
    update mkt_cam_evt_rel
    set MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=DECIMAL},
      EVENT_ID = #{eventId,jdbcType=DECIMAL},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=DECIMAL},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where MKT_CAMP_EVT_REL_ID = #{mktCampEvtRelId,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_CAMP_EVT_REL_ID, MKT_CAMPAIGN_ID, EVENT_ID, STATUS_CD, STATUS_DATE, CREATE_STAFF, 
    CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
    from mkt_cam_evt_rel
    where MKT_CAMP_EVT_REL_ID = #{mktCampEvtRelId,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MKT_CAMP_EVT_REL_ID, MKT_CAMPAIGN_ID, EVENT_ID, STATUS_CD, STATUS_DATE, CREATE_STAFF, 
    CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
    from mkt_cam_evt_rel
  </select>
</mapper>