<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.campaign.MktCampaignMapper">
    <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCampaignDO">
        <id column="MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="mktCampaignId"/>
        <result column="INIT_ID" jdbcType="BIGINT" property="initId"/>
        <result column="TIGGER_TYPE" jdbcType="VARCHAR" property="tiggerType"/>
        <result column="MKT_CAMPAIGN_NAME" jdbcType="VARCHAR" property="mktCampaignName"/>
        <result column="PLAN_BEGIN_TIME" jdbcType="DATE" property="planBeginTime"/>
        <result column="PLAN_END_TIME" jdbcType="DATE" property="planEndTime"/>
        <result column="BEGIN_TIME" jdbcType="DATE" property="beginTime"/>
        <result column="END_TIME" jdbcType="DATE" property="endTime"/>
        <result column="MKT_CAMPAIGN_TYPE" jdbcType="VARCHAR" property="mktCampaignType"/>
        <result column="MANAGE_TYPE" jdbcType="VARCHAR" property="mktCampaignCategory" />
        <result column="MKT_ACTIVITY_NBR" jdbcType="VARCHAR" property="mktActivityNbr"/>
        <result column="MKT_ACTIVITY_TARGET" jdbcType="VARCHAR" property="mktActivityTarget"/>
        <result column="MKT_CAMPAIGN_DESC" jdbcType="VARCHAR" property="mktCampaignDesc"/>
        <result column="CALC_DISPLAY" jdbcType="BIGINT" property="calcDisplay" />
        <result column="ISALE_DISPLAY" jdbcType="BIGINT" property="isaleDisplay" />
        <result column="EXEC_TYPE" jdbcType="VARCHAR" property="execType"/>
        <result column="EXEC_INVL" jdbcType="VARCHAR" property="execInvl"/>
        <result column="EXEC_NUM" jdbcType="INTEGER" property="execNum"/>
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
        <result column="CREATE_CHANNEL" jdbcType="VARCHAR" property="createChannel" />
        <result column="DIRECTORY_ID" jdbcType="BIGINT" property="directoryId" />
        <result column="CAM_LEVEL" jdbcType="BIGINT" property="camLevel" />
        <result column="IS_CHECK_RULE" jdbcType="VARCHAR" property="isCheckRule" />
        <result column="SRC_ID" jdbcType="VARCHAR" property="srcId" />
        <result column="SRC_TYPE" jdbcType="VARCHAR" property="srcType" />
        <result column="SERVICE_TYPE" jdbcType="VARCHAR" property="serviceType" />
        <result column="SERVICE_CANCLE_FLAG" jdbcType="BIGINT" property="serviceCancleFlag" />
        <result column="REGION_ID" jdbcType="BIGINT" property="regionId" />
        <result column="LIFE_STAGE" jdbcType="VARCHAR" property="lifeStage" />
        <result column="EXT_MKT_CAMPAIGN_ID" jdbcType="VARCHAR" property="extMktCampaignId" />
        <result column="EXEC_INIT_TIME" jdbcType="VARCHAR" property="execInitTime" />
        <result column="LAN_ID_FOUR" jdbcType="BIGINT" property="lanIdFour"/>
        <result column="LAN_ID_FIVE" jdbcType="BIGINT" property="lanIdFive"/>
    </resultMap>

    <resultMap id="countResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCampaignCountDO">
        <id column="MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="mktCampaignId"/>
        <result column="INIT_ID" jdbcType="BIGINT" property="initId"/>
        <result column="TIGGER_TYPE" jdbcType="VARCHAR" property="tiggerType"/>
        <result column="MKT_CAMPAIGN_NAME" jdbcType="VARCHAR" property="mktCampaignName"/>
        <result column="PLAN_BEGIN_TIME" jdbcType="DATE" property="planBeginTime"/>
        <result column="PLAN_END_TIME" jdbcType="DATE" property="planEndTime"/>
        <result column="MKT_CAMPAIGN_TYPE" jdbcType="VARCHAR" property="mktCampaignType"/>
        <result column="MANAGE_TYPE" jdbcType="VARCHAR" property="mktCampaignCategory" />
        <result column="MKT_ACTIVITY_NBR" jdbcType="VARCHAR" property="mktActivityNbr"/>
        <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
        <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
        <result column="CREATE_CHANNEL" jdbcType="VARCHAR" property="createChannel" />
        <result column="REL_COUNT" javaType="INT" property="relCount" />
        <result column="A_MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="preMktCampaignId"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    </resultMap>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mkt_campaign
        where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO" useGeneratedKeys="true"
            keyProperty="mktCampaignId">
        insert into mkt_campaign (MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME,
        PLAN_BEGIN_TIME, PLAN_END_TIME, BEGIN_TIME,
        END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE,
        MKT_ACTIVITY_NBR, MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC,
        CALC_DISPLAY,ISALE_DISPLAY,
        EXEC_TYPE, EXEC_INVL, EXEC_NUM,
        STATUS_CD, STATUS_DATE, CREATE_STAFF,
        CREATE_DATE, UPDATE_STAFF, UPDATE_DATE,
        REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID,
        CAM_LEVEL,IS_CHECK_RULE, SRC_TYPE, SRC_ID,
        SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID, EXEC_INIT_TIME, LAN_ID_FOUR, LAN_ID_FIVE)
        values (#{mktCampaignId,jdbcType=BIGINT}, #{initId,jdbcType=BIGINT}, #{tiggerType,jdbcType=VARCHAR}, #{mktCampaignName,jdbcType=VARCHAR},
        #{planBeginTime,jdbcType=DATE}, #{planEndTime,jdbcType=DATE}, #{beginTime,jdbcType=DATE},
        #{endTime,jdbcType=DATE}, #{mktCampaignType,jdbcType=VARCHAR}, #{mktCampaignCategory,jdbcType=VARCHAR},
        #{mktActivityNbr,jdbcType=VARCHAR}, #{mktActivityTarget,jdbcType=VARCHAR}, #{mktCampaignDesc,jdbcType=VARCHAR},
        #{calcDisplay,jdbcType=BIGINT}, #{isaleDisplay,jdbcType=BIGINT},
        #{execType,jdbcType=VARCHAR}, #{execInvl,jdbcType=VARCHAR}, #{execNum,jdbcType=INTEGER},
        #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=BIGINT},
        #{createDate,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP},
        #{remark,jdbcType=VARCHAR}, #{lanId,jdbcType=BIGINT}, #{createChannel,jdbcType=VARCHAR},
        #{directoryId,jdbcType=BIGINT},#{camLevel,jdbcType=BIGINT}, #{isCheckRule,jdbcType=VARCHAR},
        #{srcType,jdbcType=VARCHAR}, #{srcId,jdbcType=VARCHAR}, #{serviceCancleFlag,jdbcType=BIGINT}, #{regionId,jdbcType=BIGINT},
        #{lifeStage,jdbcType=VARCHAR}, #{serviceType,jdbcType=VARCHAR}, #{extMktCampaignId,jdbcType=VARCHAR}, #{execInitTime,jdbcType=VARCHAR}, #{lanIdFour,jdbcType=BIGINT}, #{lanIdFive,jdbcType=BIGINT})
    </insert>


    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO">
        update mkt_campaign
        set
        <if test="initId!=null">INIT_ID =#{initId,jdbcType=BIGINT},</if>
        TIGGER_TYPE = #{tiggerType,jdbcType=VARCHAR},
        MKT_CAMPAIGN_NAME = #{mktCampaignName,jdbcType=VARCHAR},
        PLAN_BEGIN_TIME = #{planBeginTime,jdbcType=DATE},
        PLAN_END_TIME = #{planEndTime,jdbcType=DATE},
        BEGIN_TIME = #{beginTime,jdbcType=DATE},
        END_TIME = #{endTime,jdbcType=DATE},
        MKT_CAMPAIGN_TYPE = #{mktCampaignType,jdbcType=VARCHAR},
        MANAGE_TYPE = #{mktCampaignCategory,jdbcType=VARCHAR},
        <if test= "mktActivityNbr!=null">MKT_ACTIVITY_NBR = #{mktActivityNbr,jdbcType=VARCHAR},</if>
        MKT_ACTIVITY_TARGET = #{mktActivityTarget,jdbcType=VARCHAR},
        MKT_CAMPAIGN_DESC = #{mktCampaignDesc,jdbcType=VARCHAR},
        CALC_DISPLAY = #{calcDisplay,jdbcType=BIGINT},
        ISALE_DISPLAY = #{isaleDisplay,jdbcType=BIGINT},
        EXEC_TYPE = #{execType,jdbcType=VARCHAR},
        EXEC_INVL = #{execInvl,jdbcType=VARCHAR},
        EXEC_NUM = #{execNum,jdbcType=INTEGER},
        STATUS_CD = #{statusCd,jdbcType=VARCHAR},
        <if test= "statusDate!=null">STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},</if>
        <if test= "createStaff!=null">CREATE_STAFF = #{createStaff,jdbcType=BIGINT},</if>
        <if test= "createDate!=null">CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},</if>
        <if test= "updateStaff!=null">UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},</if>
        REMARK = #{remark,jdbcType=VARCHAR},
        <if test= "createChannel!=null">CREATE_CHANNEL = #{createChannel,jdbcType=VARCHAR},</if>
        DIRECTORY_ID = #{directoryId,jdbcType=BIGINT},
        <if test= "lanId!=null">LAN_ID = #{lanId,jdbcType=BIGINT},</if>
        CAM_LEVEL = #{camLevel,jdbcType=BIGINT},
        IS_CHECK_RULE = #{isCheckRule,jdbcType=VARCHAR},
        <if test= "srcId!=null"> SRC_ID = #{srcId,jdbcType=VARCHAR},</if>
        <if test= "srcType!=null">SRC_TYPE = #{srcType,jdbcType=VARCHAR},</if>
        <if test= "serviceCancleFlag!=null">SERVICE_CANCLE_FLAG = #{serviceCancleFlag,jdbcType=BIGINT},</if>
        <if test= "regionId!=null">REGION_ID = #{regionId,jdbcType=BIGINT},</if>
        <if test= "lifeStage!=null">LIFE_STAGE = #{lifeStage,jdbcType=VARCHAR},</if>
        <if test= "serviceType!=null">SERVICE_TYPE = #{serviceType,jdbcType=VARCHAR},</if>
        <if test= "extMktCampaignId!=null">EXT_MKT_CAMPAIGN_ID = #{extMktCampaignId,jdbcType=VARCHAR},</if>
        <if test= "execInitTime!=null">EXEC_INIT_TIME = #{execInitTime,jdbcType=VARCHAR},</if>
        <if test= "lanIdFour!=null">LAN_ID_FOUR = #{lanIdFour,jdbcType=BIGINT},</if>
        <if test= "lanIdFive!=null">LAN_ID_FIVE = #{lanIdFive,jdbcType=BIGINT},</if>
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
        where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
    </update>



    <!--    <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO">
          update mkt_campaign
       set  <if test= "tiggerType!=null">TIGGER_TYPE = #{tiggerType,jdbcType=VARCHAR},</if>
            <if test= "mktCampaignName!=null">MKT_CAMPAIGN_NAME = #{mktCampaignName,jdbcType=VARCHAR},</if>
            <if test= "planBeginTime!=null">PLAN_BEGIN_TIME = #{planBeginTime,jdbcType=DATE},</if>
            <if test= "planEndTime!=null">PLAN_END_TIME = #{planEndTime,jdbcType=DATE},</if>
            <if test= "beginTime!=null">BEGIN_TIME = #{beginTime,jdbcType=DATE},</if>
            <if test= "endTime!=null">END_TIME = #{endTime,jdbcType=DATE},</if>
            <if test= "mktCampaignType!=null">MKT_CAMPAIGN_TYPE = #{mktCampaignType,jdbcType=VARCHAR},</if>
            <if test= "mktCampaignCategory!=null">MANAGE_TYPE = #{mktCampaignCategory,jdbcType=VARCHAR},</if>
            <if test= "mktActivityNbr!=null">MKT_ACTIVITY_NBR = #{mktActivityNbr,jdbcType=VARCHAR},</if>
            <if test= "mktActivityTarget!=null">MKT_ACTIVITY_TARGET = #{mktActivityTarget,jdbcType=VARCHAR},</if>
            <if test= "mktCampaignDesc!=null">MKT_CAMPAIGN_DESC = #{mktCampaignDesc,jdbcType=VARCHAR},</if>
            <if test= "calcDisplay!=null">CALC_DISPLAY = #{calcDisplay,jdbcType=BIGINT},</if>
            <if test= "isaleDisplay!=null">ISALE_DISPLAY = #{isaleDisplay,jdbcType=BIGINT},</if>
            <if test= "execType!=null">EXEC_TYPE = #{execType,jdbcType=VARCHAR},</if>
            <if test= "execInvl!=null">EXEC_INVL = #{execInvl,jdbcType=VARCHAR},</if>
            <if test= "execNum!=null">EXEC_NUM = #{execNum,jdbcType=INTEGER},</if>
            <if test= "statusCd!=null">STATUS_CD = #{statusCd,jdbcType=VARCHAR},</if>
            <if test= "statusDate!=null">STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},</if>
            <if test= "createStaff!=null">CREATE_STAFF = #{createStaff,jdbcType=BIGINT},</if>
            <if test= "createDate!=null">CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},</if>
            <if test= "updateStaff!=null">UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},</if>
            <if test= "remark!=null">REMARK = #{remark,jdbcType=VARCHAR},</if>
            <if test= "createChannel!=null">CREATE_CHANNEL = #{createChannel,jdbcType=VARCHAR},</if>
            <if test= "directoryId!=null">DIRECTORY_ID = #{directoryId,jdbcType=BIGINT},</if>
            <if test= "lanId!=null">LAN_ID = #{lanId,jdbcType=BIGINT},</if>
            <if test= "camLevel!=null">CAM_LEVEL = #{camLevel,jdbcType=BIGINT},</if>
            UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}

        where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
        </update>-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE, MKT_ACTIVITY_NBR,
        MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC, CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD,
        STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID,
        CAM_LEVEL, IS_CHECK_RULE, SRC_ID, SRC_TYPE, SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID,EXEC_INIT_TIME, LAN_ID_FOUR, LAN_ID_FIVE
        from mkt_campaign
        where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
    </select>

    <select id="selectByInitId" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE, MKT_ACTIVITY_NBR,
        MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC, CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD,
        STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID,
        CAM_LEVEL, IS_CHECK_RULE, SRC_ID, SRC_TYPE, SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID,EXEC_INIT_TIME, LAN_ID_FOUR, LAN_ID_FIVE
        from mkt_campaign
        where INIT_ID = #{initId,jdbcType=BIGINT}
        AND (STATUS_CD = 2002 or STATUS_CD = 2008)
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE, MKT_ACTIVITY_NBR,
        MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC, CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD,
        STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID,
        CAM_LEVEL, IS_CHECK_RULE, SRC_ID, SRC_TYPE, SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID,EXEC_INIT_TIME, LAN_ID_FOUR, LAN_ID_FIVE
        from mkt_campaign order by UPDATE_DATE desc
    </select>


    <select id="qryMktCampaignListPage4Sync" parameterType="map" resultMap="countResultMap">
        select
        MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        MKT_CAMPAIGN_TYPE,  MANAGE_TYPE, MKT_ACTIVITY_NBR,  STATUS_CD, LAN_ID, CREATE_CHANNEL, CREATE_DATE,UPDATE_DATE,CREATE_STAFF
        from mkt_campaign
        where 1 = 1
        <if test="map.mktCampaignName != null and map.mktCampaignName != ''">
            AND MKT_CAMPAIGN_NAME like CONCAT('%',#{map.mktCampaignName,jdbcType=VARCHAR},'%')
        </if>
        <if test="map.statusCd != null and map.statusCd == 1000">
            AND (STATUS_CD = 2002 or STATUS_CD = 2003)
        </if>
        <if test="map.statusCd != null and map.statusCd == 2000">
            AND STATUS_CD != 2002 and STATUS_CD != 2003 AND STATUS_CD != 2005
        </if>
        <if test="map.statusCd != null and map.statusCd == 3000">
            AND STATUS_CD = 2005
        </if>
        <if test="map.tiggerType != null and map.tiggerType != ''">
            AND TIGGER_TYPE = #{map.tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="map.mktCampaignType != null and map.mktCampaignType != ''">
            AND MKT_CAMPAIGN_TYPE = #{map.mktCampaignType,jdbcType=VARCHAR}
        </if>
        <if test="map.mktCampaignCategory != null and map.mktCampaignCategory != ''">
            AND MANAGE_TYPE = #{map.mktCampaignCategory,jdbcType=VARCHAR}
        </if>
        <if test="map.activityNbr != null and map.activityNbr != ''">
            AND MKT_ACTIVITY_NBR like CONCAT('%',#{map.activityNbr,jdbcType=VARCHAR},'%')
        </if>
        <if test="map.channel != null and map.channel != ''">
            AND CREATE_CHANNEL like CONCAT('%',#{map.channel,jdbcType=VARCHAR},'%')
        </if>
        AND STATUS_CD != 2001
        order by UPDATE_DATE desc
    </select>



    <select id="qryMktCampaignListPage" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO" resultMap="countResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        MKT_CAMPAIGN_TYPE,  MANAGE_TYPE, MKT_ACTIVITY_NBR,  STATUS_CD, LAN_ID, CREATE_CHANNEL, CREATE_DATE,CREATE_STAFF, LAN_ID_FOUR, LAN_ID_FIVE,
        (
        SELECT
        count(*)
        FROM
        mkt_campaign_rel r
        WHERE
        (
        r.A_MKT_CAMPAIGN_ID = t.MKT_CAMPAIGN_ID
        AND r.STATUS_CD = 1000
        AND r.REL_TYPE = 1000
        )
        OR (
        r.Z_MKT_CAMPAIGN_ID = t.MKT_CAMPAIGN_ID
        AND r.STATUS_CD = 1000
        AND r.REL_TYPE = 1000
        )
        ) AS REL_COUNT,
        (
        SELECT
        r.A_MKT_CAMPAIGN_ID
        FROM
        mkt_campaign_rel r
        WHERE
        t.MKT_CAMPAIGN_ID = r.Z_MKT_CAMPAIGN_ID
        ) AS A_MKT_CAMPAIGN_ID
        from mkt_campaign t
        where 1 = 1
        <if test="mktCampaignName != null and mktCampaignName != ''">
            AND t.MKT_CAMPAIGN_NAME like CONCAT('%',#{mktCampaignName,jdbcType=VARCHAR},'%')
        </if>
        <if test="statusCd != null and statusCd != ''">
            AND t.STATUS_CD IN ${statusCd}
        </if>
        <if test="tiggerType != null and tiggerType != ''">
            AND t.TIGGER_TYPE = #{tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="mktCampaignCategory != null and mktCampaignCategory != ''">
            AND t.MANAGE_TYPE = #{mktCampaignCategory,jdbcType=VARCHAR}
        </if>
        <if test="mktCampaignType != null and mktCampaignType != ''">
            AND t.MKT_CAMPAIGN_TYPE = #{mktCampaignType,jdbcType=VARCHAR}
        </if>
        <if test="lanId != null and lanId != ''">
            AND t.LAN_ID = #{lanId,jdbcType=BIGINT}
        </if>
        <if test="createChannel != null and createChannel != ''">
            AND t.CREATE_CHANNEL = #{createChannel,jdbcType=VARCHAR}
        </if>
        <if test="createStaff != null and createStaff != ''">
            AND t.CREATE_STAFF = #{createStaff,jdbcType=BIGINT}
        </if>
        <if test="lanIdFour != null and lanIdFour != ''">
            AND t.LAN_ID_FOUR = #{lanIdFour,jdbcType=BIGINT}
        </if>
        <if test="lanIdFive != null and lanIdFive != ''">
            AND t.LAN_ID_FIVE = #{lanIdFive,jdbcType=BIGINT}
        </if>
        order by t.UPDATE_DATE desc
    </select>

    <!-- 没有发布状态的活动总览 -->
    <select id="qryMktCampaignListPageForNoPublish" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO" resultMap="countResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        MKT_CAMPAIGN_TYPE,  MANAGE_TYPE, MKT_ACTIVITY_NBR,  STATUS_CD, LAN_ID, CREATE_CHANNEL, CREATE_DATE,CREATE_STAFF, CREATE_DATE,CREATE_STAFF, LAN_ID_FOUR, LAN_ID_FIVE,
        (
        SELECT
        count(*)
        FROM
        mkt_campaign_rel r
        WHERE
        (
        r.A_MKT_CAMPAIGN_ID = t.MKT_CAMPAIGN_ID
        AND r.STATUS_CD = 1000
        AND r.REL_TYPE = 1000
        )
        OR (
        r.Z_MKT_CAMPAIGN_ID = t.MKT_CAMPAIGN_ID
        AND r.STATUS_CD = 1000
        AND r.REL_TYPE = 1000
        )
        ) AS REL_COUNT,
        (
        SELECT
        r.A_MKT_CAMPAIGN_ID
        FROM
        mkt_campaign_rel r
        WHERE
        t.MKT_CAMPAIGN_ID = r.Z_MKT_CAMPAIGN_ID
        ) AS A_MKT_CAMPAIGN_ID
        from mkt_campaign t
        where  t.STATUS_CD NOT IN (2002, 2006, 2007, 2008, 2010)
        <if test="mktCampaignName != null and mktCampaignName != ''">
            AND t.MKT_CAMPAIGN_NAME like CONCAT('%',#{mktCampaignName,jdbcType=VARCHAR},'%')
        </if>
        <if test="statusCd != null and statusCd != ''">
            AND t.STATUS_CD = #{statusCd,jdbcType=VARCHAR}
        </if>
        <if test="tiggerType != null and tiggerType != ''">
            AND t.TIGGER_TYPE = #{tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="mktCampaignCategory != null and mktCampaignCategory != ''">
            AND t.MANAGE_TYPE = #{mktCampaignCategory,jdbcType=VARCHAR}
        </if>
        <if test="mktCampaignType != null and mktCampaignType != ''">
            AND t.MKT_CAMPAIGN_TYPE = #{mktCampaignType,jdbcType=VARCHAR}
        </if>
        <if test="lanId != null and lanId != ''">
            AND t.LAN_ID = #{lanId,jdbcType=BIGINT}
        </if>
        <if test="createChannel != null and createChannel != ''">
            AND t.CREATE_CHANNEL = #{createChannel,jdbcType=VARCHAR}
        </if>
        <if test="createStaff != null and createStaff != ''">
            AND t.CREATE_STAFF = #{createStaff,jdbcType=BIGINT}
        </if>
        <if test="lanIdFour != null and lanIdFour != ''">
            AND t.LAN_ID_FOUR = #{lanIdFour,jdbcType=BIGINT}
        </if>
        <if test="lanIdFive != null and lanIdFive != ''">
            AND t.LAN_ID_FIVE = #{lanIdFive,jdbcType=BIGINT}
        </if>
        order by t.UPDATE_DATE desc
    </select>

    <!-- 发布状态的活动总览 -->
    <select id="qryMktCampaignListPageForPublish" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO" resultMap="countResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        MKT_CAMPAIGN_TYPE,  MANAGE_TYPE, MKT_ACTIVITY_NBR,  STATUS_CD, LAN_ID, CREATE_CHANNEL, CREATE_DATE,CREATE_STAFF, CREATE_DATE,CREATE_STAFF, LAN_ID_FOUR, LAN_ID_FIVE,
        (
        SELECT
        count(*)
        FROM
        mkt_campaign_rel r
        WHERE
        (
        r.A_MKT_CAMPAIGN_ID = t.MKT_CAMPAIGN_ID
        AND r.STATUS_CD = 1000
        AND r.REL_TYPE = 1000
        )
        OR (
        r.Z_MKT_CAMPAIGN_ID = t.MKT_CAMPAIGN_ID
        AND r.STATUS_CD = 1000
        AND r.REL_TYPE = 1000
        )
        ) AS REL_COUNT,
        (
        SELECT
        r.A_MKT_CAMPAIGN_ID
        FROM
        mkt_campaign_rel r
        WHERE
        t.MKT_CAMPAIGN_ID = r.Z_MKT_CAMPAIGN_ID
        ) AS A_MKT_CAMPAIGN_ID
        from mkt_campaign t
        where t.STATUS_CD IN (2002, 2006, 2008, 2010)
        <if test="mktCampaignName != null and mktCampaignName != ''">
            AND t.MKT_CAMPAIGN_NAME like CONCAT('%',#{mktCampaignName,jdbcType=VARCHAR},'%')
        </if>
        <if test="statusCd != null and statusCd != ''">
            AND t.STATUS_CD = #{statusCd,jdbcType=VARCHAR}
        </if>
        <if test="tiggerType != null and tiggerType != ''">
            AND t.TIGGER_TYPE = #{tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="mktCampaignCategory != null and mktCampaignCategory != ''">
            AND t.MANAGE_TYPE = #{mktCampaignCategory,jdbcType=VARCHAR}
        </if>
        <if test="mktCampaignType != null and mktCampaignType != ''">
            AND t.MKT_CAMPAIGN_TYPE = #{mktCampaignType,jdbcType=VARCHAR}
        </if>
        <if test="lanId != null and lanId != ''">
            AND t.LAN_ID = #{lanId,jdbcType=BIGINT}
        </if>
        <if test="createChannel != null and createChannel != ''">
            AND t.CREATE_CHANNEL = #{createChannel,jdbcType=VARCHAR}
        </if>
        <if test="createStaff != null and createStaff != ''">
            AND t.CREATE_STAFF = #{createStaff,jdbcType=BIGINT}
        </if>
        <if test="lanIdFour != null and lanIdFour != ''">
            AND t.LAN_ID_FOUR = #{lanIdFour,jdbcType=BIGINT}
        </if>
        <if test="lanIdFive != null and lanIdFive != ''">
            AND t.LAN_ID_FIVE = #{lanIdFive,jdbcType=BIGINT}
        </if>
        order by t.UPDATE_DATE desc
    </select>



    <update id="changeMktCampaignStatus">
        update mkt_campaign
        set STATUS_CD = #{statusCd,jdbcType=VARCHAR},
        UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
        where MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
    </update>

    <select id="qryMktCampaignListByCondition" parameterType="com.zjtelcom.cpct.domain.campaign.MktCampaignDO" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE, MKT_ACTIVITY_NBR, MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC,
        CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD, STATUS_DATE, CREATE_STAFF, CREATE_DATE,
        UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID, CAM_LEVEL, IS_CHECK_RULE, SRC_ID, SRC_TYPE,
        SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID,EXEC_INIT_TIME, LAN_ID_FOUR, LAN_ID_FIVE
        from mkt_campaign
        where 1 = 1
        <if test="mktCampaignId != null and mktCampaignId != ''">
            AND MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT}
        </if>
        <if test="initId != null and initId != ''">
            AND INIT_ID = #{initId,jdbcType=BIGINT}
        </if>

        <if test="mktCampaignName != null and mktCampaignName != ''">
            AND MKT_CAMPAIGN_NAME like CONCAT('%',#{mktCampaignName,jdbcType=VARCHAR},'%')
        </if>
        <if test="statusCd != null and statusCd != ''">
            AND STATUS_CD IN ${statusCd}
        </if>
        <if test="tiggerType != null and tiggerType != ''">
            AND TIGGER_TYPE = #{tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="mktCampaignType != null and mktCampaignType != ''">
            AND MKT_CAMPAIGN_TYPE = #{mktCampaignType,jdbcType=VARCHAR}
        </if>
        <if test="planBeginTime != null">
            AND PLAN_BEGIN_TIME = #{planBeginTime,jdbcType=DATE}
        </if>
        <if test="planEndTime != null">
            AND PLAN_END_TIME = #{planEndTime,jdbcType=DATE}
        </if>
        <if test="mktCampaignCategory != null and mktCampaignCategory != ''">
            AND MANAGE_TYPE = #{mktCampaignCategory,jdbcType=VARCHAR}
        </if>
        <if test="mktActivityNbr != null and mktActivityNbr != ''">
            AND MKT_ACTIVITY_NBR = #{mktActivityNbr,jdbcType=VARCHAR}
        </if>
        <if test="mktActivityTarget != null and mktActivityTarget != ''">
            AND MKT_ACTIVITY_TARGET like CONCAT('%',#{mktActivityTarget,jdbcType=VARCHAR},'%')
        </if>
        <if test="mktCampaignDesc != mktCampaignDesc and statusCd != ''">
            AND mktCampaignDesc like CONCAT('%',#{mktCampaignDesc,jdbcType=VARCHAR},'%')
        </if>
        <if test="calcDisplay != null and calcDisplay != 0">
            AND CALC_DISPLAY = #{calcDisplay,jdbcType=BIGINT}
        </if>
        <if test="isaleDisplay != null and isaleDisplay != 0">
            AND ISALE_DISPLAY = #{isaleDisplay,jdbcType=BIGINT}
        </if>
        <if test="statusDate != null">
            AND STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP}
        </if>
        <if test="createStaff != null and createStaff != ''">
            AND CREATE_STAFF = #{createStaff,jdbcType=BIGINT}
        </if>
        <if test="createDate != null">
            AND CREATE_DATE = #{statusCd,jdbcType=TIMESTAMP}
        </if>
        <if test="updateStaff != null and updateStaff != ''">
            AND UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT}
        </if>
        <if test="updateDate != null">
            AND UPDATE_DATE = #{statusCd,jdbcType=TIMESTAMP}
        </if>
        <if test="createChannel != null and createChannel != ''">
            AND CREATE_CHANNEL = #{createChannel,jdbcType=VARCHAR}
        </if>
        <if test="directoryId != null and directoryId != ''">
            AND DIRECTORY_ID = #{directoryId,jdbcType=BIGINT}
        </if>
        <if test="camLevel != null and camLevel != ''">
            AND CAM_LEVEL = #{camLevel,jdbcType=BIGINT}
        </if>
        <if test="isCheckRule != null and isCheckRule != ''">
            AND IS_CHECK_RULE = #{isCheckRule,jdbcType=VARCHAR}
        </if>
        <if test="srcId != null and srcId != ''">
            AND SRC_ID #{srcId,jdbcType=VARCHAR},
        </if>
        <if test="srcType != null and srcType != ''">
            AND SRC_TYPE = #{srcType,jdbcType=VARCHAR},
        </if>
        <if test="serviceCancleFlag != null and serviceCancleFlag != ''">
            AND SERVICE_CANCLE_FLAG = #{serviceCancleFlag,jdbcType=BIGINT},
        </if>
        <if test="regionId != null and regionId != ''">
            AND REGION_ID = #{regionId,jdbcType=BIGINT},
        </if>
        <if test="lifeStage != null and lifeStage != ''">
            AND LIFE_STAGE =  #{lifeStage,jdbcType=VARCHAR}
        </if>
        <if test="serviceType != null and serviceType != ''">
            AND SERVICE_TYPE =  #{serviceType,jdbcType=VARCHAR}
        </if>
        <if test="extMktCampaignId != null and extMktCampaignId != ''">
            AND EXT_MKT_CAMPAIGN_ID =  #{extMktCampaignId,jdbcType=VARCHAR}
        </if>
        <if test="execInitTime != null and execInitTime != ''">
            AND EXEC_INIT_TIME =  #{execInitTime,jdbcType=VARCHAR}
        </if>
        <if test="lanIdFour != null and lanIdFour != ''">
            AND t.LAN_ID_FOUR = #{lanIdFour,jdbcType=BIGINT}
        </if>
        <if test="lanIdFive != null and lanIdFive != ''">
            AND t.LAN_ID_FIVE = #{lanIdFive,jdbcType=BIGINT}
        </if>
        order by UPDATE_DATE desc
    </select>

    <select id="qryMktCampaignListByTypeAndStatus" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE, MKT_ACTIVITY_NBR, MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC,
        CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD, STATUS_DATE, CREATE_STAFF, CREATE_DATE,
        UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID, CAM_LEVEL, IS_CHECK_RULE, SRC_ID, SRC_TYPE,
        SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID, EXEC_INIT_TIME, LAN_ID_FOUR, LAN_ID_FIVE
        from mkt_campaign
        where 1 = 1
        <if test="execType != null and execType != ''">
            AND EXEC_TYPE = #{execType,jdbcType=VARCHAR}
        </if>
        <if test="statusCd != null and statusCd != ''">
            AND STATUS_CD = #{statusCd,jdbcType=VARCHAR}
        </if>
        order by UPDATE_DATE desc
    </select>

    <select id="selectByRuleId" resultMap="BaseResultMap">
        select cam.MKT_CAMPAIGN_ID, cam.TIGGER_TYPE, cam.MKT_CAMPAIGN_NAME, cam.PLAN_BEGIN_TIME, cam.PLAN_END_TIME
        from mkt_campaign cam left join mkt_cam_strategy_conf_rel csrel on csrel.MKT_CAMPAIGN_ID = cam.MKT_CAMPAIGN_ID
        left join mkt_strategy_conf_rule_rel srrel on srrel.MKT_STRATEGY_CONF_ID = csrel.STRATEGY_CONF_ID
        where srrel.MKT_STRATEGY_CONF_RULE_ID = #{ruleId}
    </select>

    <select id="selectAllGroupByCamId" resultType="com.zjtelcom.cpct.domain.campaign.MktCamDisplayColumnRel">
        select cam.MKT_CAMPAIGN_ID mktCampaignId, cam.CALC_DISPLAY displayId, label.INJECTION_LABEL_ID injectionLabelId, label.LABEL_DISPLAY_TYPE labelDisplayType, label.MESSAGE_TYPE remark
        from mkt_campaign cam, display_column_label label
        where label.DISPLAY_ID = cam.CALC_DISPLAY
    </select>

    <select id="selectPrimaryKeyByInitId" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE, MKT_ACTIVITY_NBR,
        MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC, CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD,
        STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID,
        CAM_LEVEL, IS_CHECK_RULE, SRC_ID, SRC_TYPE, SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID,EXEC_INIT_TIME,
        from mkt_campaign
        where INIT_ID = #{initId,jdbcType=BIGINT}
        AND STATUS_CD = #{statusCd,jdbcType=VARCHAR}
    </select>

    <select id="selectByInitForRollBack" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE, MKT_ACTIVITY_NBR,
        MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC, CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD,
        STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID,
        CAM_LEVEL, IS_CHECK_RULE, SRC_ID, SRC_TYPE, SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID,EXEC_INIT_TIME
        from mkt_campaign
        where INIT_ID = #{initId,jdbcType=BIGINT}
        AND (STATUS_CD = 2001 OR STATUS_CD = 2003 or STATUS_CD = 2004 or STATUS_CD = 2005 or STATUS_CD = 2009 )
    </select>

    <select id="queryRptBatchOrderForMktCampaign" parameterType="java.util.Map" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE, MKT_ACTIVITY_NBR,
        MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC, CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD,
        STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID,
        CAM_LEVEL, IS_CHECK_RULE, SRC_ID, SRC_TYPE, SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID,EXEC_INIT_TIME,INIT_ID
        from mkt_campaign
        where 1 = 1
        <if test="mktCampaignId != null and mktCampaignId != ''">
            AND MKT_CAMPAIGN_ID = #{mktCampaignId}
        </if>
        <choose>
            <when test="statusCd != null and statusCd!='' and statusCd!='all'">
                AND STATUS_CD = #{statusCd}
            </when>
            <otherwise>
                AND STATUS_CD IN (2002,2008)
            </otherwise>
        </choose>
        <choose>
            <when test="mktCampaignType != null and mktCampaignType!='' and mktCampaignType !='all'">
                AND MKT_CAMPAIGN_TYPE = #{mktCampaignType}
            </when>
            <otherwise>
                AND MKT_CAMPAIGN_TYPE IN (1000,2000,3000,4000,5000,6000)
            </otherwise>
        </choose>
        <if test="mktCampaignName != null and mktCampaignName != ''">
            AND MKT_CAMPAIGN_NAME LIKE CONCAT('%',#{mktCampaignName},'%')
        </if>
        <if test="lanId != null and lanId != '' and lanId != '1'">
            AND LAN_ID IN #{lanId}
        </if>
        ORDER BY CREATE_DATE DESC
    </select>




    <select id="countByStatus" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT (1)
        from mkt_campaign
        where 1 = 1
        <if test="map.startTime != null and map.endTime != null">
            AND CREATE_DATE BETWEEN  #{map.startTime,jdbcType=TIMESTAMP} AND #{map.endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="map.statusCd != null and map.statusCd != ''">
            AND STATUS_CD IN ${map.statusCd}
        </if>
        <if test="map.lanId != null and map.lanId != ''">
            AND LAN_ID = #{map.lanId,jdbcType=BIGINT}
        </if>
        <if test="map.mktCampaignType != null and map.mktCampaignType != ''">
            AND MKT_CAMPAIGN_TYPE IN ${map.mktCampaignType}
        </if>
        <if test="map.tiggerType != null and map.tiggerType != ''">
            AND TIGGER_TYPE = #{map.tiggerType,jdbcType=VARCHAR}
        </if>
    </select>


    <select id="countBylanIdFour" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT (1)
        from mkt_campaign
        where 1 = 1
        <if test="map.startTime != null and map.endTime != null">
            AND CREATE_DATE BETWEEN  #{map.startTime,jdbcType=TIMESTAMP} AND #{map.endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="map.statusCd != null and map.statusCd != ''">
            AND STATUS_CD IN ${map.statusCd}
        </if>
        <if test="map.lanId != null and map.lanId != ''">
            AND LAN_ID = #{map.lanId,jdbcType=BIGINT}
        </if>
        <if test="map.lanIdFour != null and map.lanIdFour != ''">
            AND LAN_ID_FOUR = #{map.lanIdFour,jdbcType=BIGINT}
        </if>
        <if test="map.mktCampaignType != null and map.mktCampaignType != ''">
            AND MKT_CAMPAIGN_TYPE IN ${map.mktCampaignType}
        </if>
        <if test="map.tiggerType != null and map.tiggerType != ''">
            AND TIGGER_TYPE = #{map.tiggerType,jdbcType=VARCHAR}
        </if>
    </select>


    <select id="countByTrial" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT (1)
        from mkt_campaign t
        where 1 = 1
        <if test="map.startTime != null and map.endTime != null">
            AND CREATE_DATE BETWEEN  #{map.startTime,jdbcType=TIMESTAMP} AND #{map.endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="map.statusCd != null and map.statusCd != ''">
            AND t.STATUS_CD IN ${map.statusCd}
        </if>
        <if test="map.lanId != null and map.lanId != ''">
            AND t.LAN_ID = #{map.lanId,jdbcType=BIGINT}
        </if>
        <if test="map.mktCampaignType != null and map.mktCampaignType != ''">
            AND t.MKT_CAMPAIGN_TYPE IN ${map.mktCampaignType}
        </if>
        <if test="map.tiggerType != null and map.tiggerType != ''">
            AND t.TIGGER_TYPE = #{map.tiggerType,jdbcType=VARCHAR}
        </if>
        <if test="map.trilType != null and map.trilType != '' and map.trilType == '1000' ">
            AND t.MKT_CAMPAIGN_ID IN (
            SELECT
            tril.CAMPAIGN_ID
            FROM
            trial_operation tril
            WHERE
            tril.CREATE_STAFF = 1000)
        </if>
        <if test="map.trilType != null and map.trilType != '' and map.trilType == '2000' ">
            AND t.MKT_CAMPAIGN_ID NOT IN (
            SELECT
            tril.CAMPAIGN_ID
            FROM
            trial_operation tril
            WHERE
            tril.CREATE_STAFF = 1000 )
        </if>


    </select>

    <select id="getMktCampaignDetails" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        t.MKT_CAMPAIGN_ID,
        t.INIT_ID,
        t.MKT_CAMPAIGN_NAME,
        t.CREATE_DATE,
        t.MKT_ACTIVITY_NBR,
        (
        CASE t.LAN_ID
        WHEN '570' THEN
        '衢州'
        WHEN '571' THEN
        '杭州'
        WHEN '572' THEN
        '湖州'
        WHEN '573' THEN
        '嘉兴'
        WHEN '574' THEN
        '宁波'
        WHEN '575' THEN
        '绍兴'
        WHEN '576' THEN
        '台州'
        WHEN '577' THEN
        '温州'
        WHEN '578' THEN
        '丽水'
        WHEN '579' THEN
        '金华'
        WHEN '580' THEN
        '舟山'
        WHEN '1' THEN
        '浙江省'
        END
        ) SRC_ID
        FROM
        mkt_campaign t
        LEFT JOIN trial_operation p1 ON p1.CAMPAIGN_ID = t.MKT_CAMPAIGN_ID
        WHERE
        t.STATUS_CD IN ('2002', '2008')
        AND t.MKT_CAMPAIGN_TYPE NOT IN ('5000', '6000')
        AND t.TIGGER_TYPE = #{tiggerType}
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%测试%'
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%模板%'
        AND t.MKT_CAMPAIGN_NAME != ''
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%test%'
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%演示%'
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%勿动%'
        AND t.MKT_CAMPAIGN_ID NOT IN (
        SELECT
        p1.CAMPAIGN_ID
        FROM
        mkt_campaign t
        LEFT JOIN trial_operation p1 ON p1.CAMPAIGN_ID = t.MKT_CAMPAIGN_ID
        WHERE
        t.STATUS_CD IN ('2002', '2008')
        AND t.MKT_CAMPAIGN_TYPE NOT IN ('5000', '6000')
        AND t.TIGGER_TYPE = #{tiggerType}
        AND p1.CREATE_DATE > #{createDate}
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%测试%'
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%模板%'
        AND t.MKT_CAMPAIGN_NAME != ''
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%test%'
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%演示%'
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%勿动%'
        )
        GROUP BY
        t.INIT_ID
    </select>

    <select id="getMktCampaignDetailsForDate" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        t.MKT_CAMPAIGN_ID,t.MKT_ACTIVITY_NBR,t.MKT_CAMPAIGN_NAME,t.CREATE_DATE
        FROM
        mkt_campaign t
        WHERE
        t.STATUS_CD in ('2002','2008') # 2002-发布状态
        AND t.MKT_CAMPAIGN_TYPE not in ('5000','6000') # 1000-营销活动, 5000-服务活动 6000-随销活动
        AND t.TIGGER_TYPE != '1000' # 2000-实时, 1000-批量
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%测试%'
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%模板%'
        AND t.MKT_CAMPAIGN_NAME != ''
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%test%'
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%演示%'
        AND t.MKT_CAMPAIGN_NAME NOT LIKE '%勿动%'
        AND t.MKT_CAMPAIGN_ID not in
        <foreach item="item" index="index" collection="mktCampaignId"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY t.CREATE_DATE DESC
    </select>

    <select id="selectAllMktCampaignDetailsByStatus" parameterType="java.util.List" resultMap="BaseResultMap">
        select MKT_CAMPAIGN_ID, INIT_ID, TIGGER_TYPE, MKT_CAMPAIGN_NAME, PLAN_BEGIN_TIME, PLAN_END_TIME,
        BEGIN_TIME, END_TIME, MKT_CAMPAIGN_TYPE, MANAGE_TYPE, MKT_ACTIVITY_NBR,
        MKT_ACTIVITY_TARGET, MKT_CAMPAIGN_DESC, CALC_DISPLAY, ISALE_DISPLAY, EXEC_TYPE, EXEC_INVL, EXEC_NUM, STATUS_CD,
        STATUS_DATE, CREATE_STAFF, CREATE_DATE, UPDATE_STAFF, UPDATE_DATE, REMARK, LAN_ID, CREATE_CHANNEL, DIRECTORY_ID,
        CAM_LEVEL, IS_CHECK_RULE, SRC_ID, SRC_TYPE, SERVICE_CANCLE_FLAG, REGION_ID, LIFE_STAGE, SERVICE_TYPE, EXT_MKT_CAMPAIGN_ID,EXEC_INIT_TIME
        from mkt_campaign
        where STATUS_CD in
        <foreach item="item" index="index" collection="status" open="(" separator="," close=")">
          #{item}
        </foreach>
        <if test="staff != null">
          and CREATE_STAFF = #{staff}
        </if>

    </select>

</mapper>