<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.campaign.MktCamChlConfAttrMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCamChlConfAttrDO">
    <id column="CONTACT_CHL_ATTR_RSTR_ID" jdbcType="BIGINT" property="contactChlAttrRstrId" />
    <result column="EVT_CONTACT_CONF_ID" jdbcType="BIGINT" property="evtContactConfId" />
    <result column="ATTR_ID" jdbcType="BIGINT" property="attrId" />
    <result column="ATTR_VALUE_ID" jdbcType="BIGINT" property="attrValueId" />
    <result column="ATTR_VALUE" jdbcType="VARCHAR" property="attrValue" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mkt_cam_chl_conf_attr
    where CONTACT_CHL_ATTR_RSTR_ID = #{contactChlAttrRstrId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByEvtContactConfId" parameterType="java.lang.Long">
    delete from mkt_cam_chl_conf_attr
    where EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="contactChlAttrRstrId" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlConfAttrDO">
    insert into mkt_cam_chl_conf_attr (CONTACT_CHL_ATTR_RSTR_ID, EVT_CONTACT_CONF_ID,
    ATTR_ID, ATTR_VALUE_ID, ATTR_VALUE,
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, UPDATE_DATE, STATUS_DATE,
    REMARK)
    values (#{contactChlAttrRstrId,jdbcType=BIGINT}, #{evtContactConfId,jdbcType=BIGINT},
    #{attrId,jdbcType=BIGINT}, #{attrValueId,jdbcType=BIGINT}, #{attrValue,jdbcType=VARCHAR},
    #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT},
    #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP},
    #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="contactChlAttrRstrId" parameterType="java.util.List">
    insert into mkt_cam_chl_conf_attr (CONTACT_CHL_ATTR_RSTR_ID, EVT_CONTACT_CONF_ID,
    ATTR_ID, ATTR_VALUE_ID, ATTR_VALUE,
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, UPDATE_DATE, STATUS_DATE,
    REMARK)
    values
    <foreach collection="list" item="item" index="i" separator="," >
     (#{item.contactChlAttrRstrId}, #{item.evtContactConfId},
      #{item.attrId}, #{item.attrValueId}, #{item.attrValue},
      #{item.statusCd}, #{item.createStaff}, #{item.updateStaff},
      #{item.createDate}, #{item.updateDate}, #{item.statusDate},
      #{item.remark})
    </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlConfAttrDO">
    update mkt_cam_chl_conf_attr
    set EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT},
    ATTR_ID = #{attrId,jdbcType=BIGINT},
    ATTR_VALUE_ID = #{attrValueId,jdbcType=BIGINT},
    ATTR_VALUE = #{attrValue,jdbcType=VARCHAR},
    STATUS_CD = #{statusCd,jdbcType=VARCHAR},
    CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
    UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
    CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
    UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
    STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
    REMARK = #{remark,jdbcType=VARCHAR}
    where CONTACT_CHL_ATTR_RSTR_ID = #{contactChlAttrRstrId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select CONTACT_CHL_ATTR_RSTR_ID, EVT_CONTACT_CONF_ID, ATTR_ID, ATTR_VALUE_ID, ATTR_VALUE,
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, STATUS_DATE, REMARK
    from mkt_cam_chl_conf_attr
    where CONTACT_CHL_ATTR_RSTR_ID = #{contactChlAttrRstrId,jdbcType=BIGINT}
  </select>
  <select id="selectByEvtContactConfId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select CONTACT_CHL_ATTR_RSTR_ID, EVT_CONTACT_CONF_ID, ATTR_ID, ATTR_VALUE_ID, ATTR_VALUE,
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, STATUS_DATE, REMARK
    from mkt_cam_chl_conf_attr
    where EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CONTACT_CHL_ATTR_RSTR_ID, EVT_CONTACT_CONF_ID, ATTR_ID, ATTR_VALUE_ID, ATTR_VALUE,
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, STATUS_DATE, REMARK
    from mkt_cam_chl_conf_attr
  </select>

  <select id="selectByCampaignId" resultType="java.lang.Long">
     select p1.ATTR_ID
    from mkt_cam_chl_conf_attr p1 LEFT JOIN mkt_cam_chl_conf p2 on p1.EVT_CONTACT_CONF_ID = p2.EVT_CONTACT_CONF_ID
    WHERE p2.MKT_CAMPAIGN_ID = #{campaignId}
  </select>

  <select id="selectAttrLabelValueByCampaignId" resultType="java.lang.String">
     select p1.ATTR_VALUE
    from mkt_cam_chl_conf_attr p1 LEFT JOIN mkt_cam_chl_conf p2 on p1.EVT_CONTACT_CONF_ID = p2.EVT_CONTACT_CONF_ID
    WHERE p2.MKT_CAMPAIGN_ID = #{campaignId}
    AND (p1.ATTR_ID = 500600010021 OR p1.ATTR_ID = 500600010022)
  </select>

  <select id="selectAttrLabelRemarkByCampaignId" resultType="java.lang.String">
    select p3.LABEL
    from mkt_cam_chl_conf_attr p1
    LEFT JOIN mkt_cam_chl_conf p2 on p1.EVT_CONTACT_CONF_ID = p2.EVT_CONTACT_CONF_ID
    LEFT JOIN service_package p3 on p1.ATTR_VALUE = p3.SERVICE_PACKAGE_ID
    WHERE p2.MKT_CAMPAIGN_ID = #{campaignId}
    AND p1.ATTR_ID = 500600010024
  </select>

  <select id="selectAttrEndDateByCampaignId" resultMap="BaseResultMap">
    select p1.CONTACT_CHL_ATTR_RSTR_ID, p1.EVT_CONTACT_CONF_ID, p1.ATTR_ID, p1.ATTR_VALUE_ID, p1.ATTR_VALUE,
    p1.STATUS_CD, p1.CREATE_STAFF, p1.UPDATE_STAFF, p1.CREATE_DATE, p1.UPDATE_DATE, p1.STATUS_DATE, p1.REMARK
    from mkt_cam_chl_conf_attr p1 LEFT JOIN mkt_cam_chl_conf p2 on p1.EVT_CONTACT_CONF_ID = p2.EVT_CONTACT_CONF_ID
    WHERE p2.MKT_CAMPAIGN_ID = #{campaignId}
    AND (p1.ATTR_ID = 500600010007)
  </select>

  <update id="updateByPrimaryKeyBatch" parameterType="java.util.ArrayList">
    update mkt_cam_chl_conf_attr
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="ATTR_ID = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.attrId !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.attrId}
          </if>
        </foreach>
      </trim>
      <trim prefix="ATTR_VALUE_ID = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.attrValueId !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.attrValueId}
          </if>
        </foreach>
      </trim>

      <trim prefix="ATTR_VALUE = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.attrValue !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.attrValue}
          </if>
        </foreach>
      </trim>

      <trim prefix="STATUS_CD = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.statusCd !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.statusCd}
          </if>
        </foreach>
      </trim>

      <trim prefix="CREATE_STAFF = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.createStaff !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.createStaff}
          </if>
        </foreach>
      </trim>

      <trim prefix="UPDATE_STAFF = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.updateStaff !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.updateStaff}
          </if>
        </foreach>
      </trim>

      <trim prefix="CREATE_DATE = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.createDate !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.createDate}
          </if>
        </foreach>
      </trim>

      <trim prefix="UPDATE_DATE = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.updateDate !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.updateDate}
          </if>
        </foreach>
      </trim>

      <trim prefix="STATUS_DATE = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.statusDate !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.statusDate}
          </if>
        </foreach>
      </trim>

      <trim prefix="REMARK = case" suffix="end," >
        <foreach collection="list" item="item">
          <if test="item.remark !=null">
            WHEN  EVT_CONTACT_CONF_ID = #{item.evtContactConfId} THEN #{item.remark}
          </if>
        </foreach>
      </trim>
    </trim>

    <where>
      <foreach collection="list" separator="or" item="item">
        EVT_CONTACT_CONF_ID = #{item.evtContactConfId}
      </foreach>
    </where>
  </update>
</mapper>