<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.MktCamChlConfAttrMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCamChlConfAttrDO">
    <id column="CONTACT_CHL_ATTR_RSTR_ID" jdbcType="DECIMAL" property="contactChlAttrRstrId" />
    <result column="EVT_CONTACT_CONF_ID" jdbcType="DECIMAL" property="evtContactConfId" />
    <result column="ATTR_ID" jdbcType="DECIMAL" property="attrId" />
    <result column="ATTR_VALUE_ID" jdbcType="DECIMAL" property="attrValueId" />
    <result column="ATTR_VALUE" jdbcType="VARCHAR" property="attrValue" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="DECIMAL" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="DECIMAL" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mkt_cam_chl_conf_attr
    where CONTACT_CHL_ATTR_RSTR_ID = #{contactChlAttrRstrId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlConfAttrDO">
    insert into mkt_cam_chl_conf_attr (CONTACT_CHL_ATTR_RSTR_ID, EVT_CONTACT_CONF_ID, 
      ATTR_ID, ATTR_VALUE_ID, ATTR_VALUE, 
      STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
      CREATE_DATE, UPDATE_DATE, STATUS_DATE, 
      REMARK)
    values (#{contactChlAttrRstrId,jdbcType=DECIMAL}, #{evtContactConfId,jdbcType=DECIMAL}, 
      #{attrId,jdbcType=DECIMAL}, #{attrValueId,jdbcType=DECIMAL}, #{attrValue,jdbcType=VARCHAR}, 
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=DECIMAL}, #{updateStaff,jdbcType=DECIMAL}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamChlConfAttrDO">
    update mkt_cam_chl_conf_attr
    set EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=DECIMAL},
      ATTR_ID = #{attrId,jdbcType=DECIMAL},
      ATTR_VALUE_ID = #{attrValueId,jdbcType=DECIMAL},
      ATTR_VALUE = #{attrValue,jdbcType=VARCHAR},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=DECIMAL},
      UPDATE_STAFF = #{updateStaff,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where CONTACT_CHL_ATTR_RSTR_ID = #{contactChlAttrRstrId,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select CONTACT_CHL_ATTR_RSTR_ID, EVT_CONTACT_CONF_ID, ATTR_ID, ATTR_VALUE_ID, ATTR_VALUE, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, STATUS_DATE, REMARK
    from mkt_cam_chl_conf_attr
    where CONTACT_CHL_ATTR_RSTR_ID = #{contactChlAttrRstrId,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CONTACT_CHL_ATTR_RSTR_ID, EVT_CONTACT_CONF_ID, ATTR_ID, ATTR_VALUE_ID, ATTR_VALUE, 
    STATUS_CD, CREATE_STAFF, UPDATE_STAFF, CREATE_DATE, UPDATE_DATE, STATUS_DATE, REMARK
    from mkt_cam_chl_conf_attr
  </select>
</mapper>