<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.campaign.MktCamDirectoryMapper">
<resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.campaign.MktCamDirectoryDO">
  <id column="MKT_CAM_DIRECTORY_ID" jdbcType="BIGINT" property="mktCamDirectoryId" />
  <result column="MKT_CAM_DIRECTORY_NAME" jdbcType="VARCHAR" property="mktCamDirectoryName" />
  <result column="MKT_CAM_DIRECTORY_PARENT_ID" jdbcType="BIGINT" property="mktCamDirectoryParentId" />
</resultMap>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
  delete from mkt_cam_directory
  where MKT_CAM_DIRECTORY_ID = #{mktCamDirectoryId,jdbcType=BIGINT}
</delete>
<insert id="insert" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamDirectoryDO">
  insert into mkt_cam_directory (MKT_CAM_DIRECTORY_ID, MKT_CAM_DIRECTORY_NAME,
  MKT_CAM_DIRECTORY_PARENT_ID)
  values (#{mktCamDirectoryId,jdbcType=BIGINT}, #{mktCamDirectoryName,jdbcType=VARCHAR},
  #{mktCamDirectoryParentId,jdbcType=BIGINT})
</insert>
<update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.campaign.MktCamDirectoryDO">
  update mkt_cam_directory
  set MKT_CAM_DIRECTORY_NAME = #{mktCamDirectoryName,jdbcType=VARCHAR},
  MKT_CAM_DIRECTORY_PARENT_ID = #{mktCamDirectoryParentId,jdbcType=BIGINT}
  where MKT_CAM_DIRECTORY_ID = #{mktCamDirectoryId,jdbcType=BIGINT}
</update>
<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select MKT_CAM_DIRECTORY_ID, MKT_CAM_DIRECTORY_NAME, MKT_CAM_DIRECTORY_PARENT_ID
  from mkt_cam_directory
  where MKT_CAM_DIRECTORY_ID = #{mktCamDirectoryId,jdbcType=BIGINT}
</select>
<select id="selectByParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select MKT_CAM_DIRECTORY_ID, MKT_CAM_DIRECTORY_NAME, MKT_CAM_DIRECTORY_PARENT_ID
  from mkt_cam_directory
  where MKT_CAM_DIRECTORY_PARENT_ID = #{mktCamDirectoryParentId,jdbcType=BIGINT}
</select>
<select id="selectAll" resultMap="BaseResultMap">
  select MKT_CAM_DIRECTORY_ID, MKT_CAM_DIRECTORY_NAME, MKT_CAM_DIRECTORY_PARENT_ID
  from mkt_cam_directory
</select>
</mapper>