<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct_prd.dao.event.InterfaceCfgPrdMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.event.InterfaceCfg">
    <id column="INTERFACE_CFG_ID" jdbcType="BIGINT" property="interfaceCfgId" />
    <result column="EVT_SRC_ID" jdbcType="BIGINT" property="evtSrcId" />
    <result column="INTERFACE_NAME" jdbcType="VARCHAR" property="interfaceName" />
    <result column="INTERFACE_DESC" jdbcType="VARCHAR" property="interfaceDesc" />
    <result column="INTERFACE_NBR" jdbcType="VARCHAR" property="interfaceNbr" />
    <result column="INTERFACE_TYPE" jdbcType="VARCHAR" property="interfaceType" />
    <result column="PROVIDER" jdbcType="VARCHAR" property="provider" />
    <result column="CALLER" jdbcType="VARCHAR" property="caller" />
    <result column="PROTOCOL_TYPE" jdbcType="VARCHAR" property="protocolType" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from interface_cfg
    where INTERFACE_CFG_ID = #{interfaceCfgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.event.InterfaceCfg" keyProperty="interfaceCfgId" useGeneratedKeys="true">
    insert into interface_cfg (INTERFACE_CFG_ID, EVT_SRC_ID, INTERFACE_NAME, 
      INTERFACE_DESC, INTERFACE_NBR, INTERFACE_TYPE, 
      PROVIDER, CALLER, PROTOCOL_TYPE, 
      STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
      CREATE_DATE, STATUS_DATE, UPDATE_DATE, 
      REMARK)
    values (#{interfaceCfgId,jdbcType=BIGINT}, #{evtSrcId,jdbcType=BIGINT}, #{interfaceName,jdbcType=VARCHAR}, 
      #{interfaceDesc,jdbcType=VARCHAR}, #{interfaceNbr,jdbcType=VARCHAR}, #{interfaceType,jdbcType=VARCHAR}, 
      #{provider,jdbcType=VARCHAR}, #{caller,jdbcType=VARCHAR}, #{protocolType,jdbcType=VARCHAR}, 
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.event.InterfaceCfg">
    update interface_cfg
    set EVT_SRC_ID = #{evtSrcId,jdbcType=BIGINT},
      INTERFACE_NAME = #{interfaceName,jdbcType=VARCHAR},
      INTERFACE_DESC = #{interfaceDesc,jdbcType=VARCHAR},
      INTERFACE_NBR = #{interfaceNbr,jdbcType=VARCHAR},
      INTERFACE_TYPE = #{interfaceType,jdbcType=VARCHAR},
      PROVIDER = #{provider,jdbcType=VARCHAR},
      CALLER = #{caller,jdbcType=VARCHAR},
      PROTOCOL_TYPE = #{protocolType,jdbcType=VARCHAR},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where INTERFACE_CFG_ID = #{interfaceCfgId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select INTERFACE_CFG_ID, EVT_SRC_ID, INTERFACE_NAME, INTERFACE_DESC, INTERFACE_NBR, 
    INTERFACE_TYPE, PROVIDER, CALLER, PROTOCOL_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from interface_cfg
    where INTERFACE_CFG_ID = #{interfaceCfgId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select INTERFACE_CFG_ID, EVT_SRC_ID, INTERFACE_NAME, INTERFACE_DESC, INTERFACE_NBR, 
    INTERFACE_TYPE, PROVIDER, CALLER, PROTOCOL_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from interface_cfg
  </select>


  <insert id="insertInterfaceCfgSelective" parameterType="com.zjtelcom.cpct.domain.event.InterfaceCfg" >
    insert into INTERFACE_CFG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="interfaceCfgId != null" >
        INTERFACE_CFG_ID,
      </if>
      <if test="contactSrcId != null" >
        EVT_SRC_ID,
      </if>
      <if test="interfaceName != null" >
        INTERFACE_NAME,
      </if>
      <if test="interfaceDesc != null" >
        INTERFACE_DESC,
      </if>
      <if test="interfaceCode != null" >
        INTERFACE_NBR,
      </if>
      <if test="interfaceType != null" >
        INTERFACE_TYPE,
      </if>
      <if test="provider != null" >
        PROVIDER,
      </if>
      <if test="caller != null" >
        CALLER,
      </if>
      <if test="protocolType != null" >
        PROTOCOL_TYPE,
      </if>
      <if test="statusCd != null" >
        STATUS_CD,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="statusDate != null" >
        STATUS_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="interfaceCfgId != null" >
        #{interfaceCfgId,jdbcType=DECIMAL},
      </if>
      <if test="contactSrcId != null" >
        #{contactSrcId,jdbcType=DECIMAL},
      </if>
      <if test="interfaceName != null" >
        #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="interfaceDesc != null" >
        #{interfaceDesc,jdbcType=VARCHAR},
      </if>
      <if test="interfaceCode != null" >
        #{interfaceCode,jdbcType=VARCHAR},
      </if>
      <if test="interfaceType != null" >
        #{interfaceType,jdbcType=VARCHAR},
      </if>
      <if test="provider != null" >
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="caller != null" >
        #{caller,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null" >
        #{protocolType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null" >
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=DECIMAL},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null" >
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <select id="findInterfaceCfgListByParam" resultMap="BaseResultMap" parameterType="com.zjtelcom.cpct.domain.event.InterfaceCfg">
    select INTERFACE_CFG_ID, EVT_SRC_ID, INTERFACE_NAME, INTERFACE_DESC, INTERFACE_NBR,
    INTERFACE_TYPE, PROVIDER, CALLER, PROTOCOL_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from interface_cfg
    where 1=1
    <if test="evtSrcId != null ">
      and EVT_SRC_ID = #{evtSrcId,jdbcType=BIGINT}
    </if>
    <if test="interfaceName != null and interfaceName != ''">
      and INTERFACE_NAME  LIKE CONCAT(CONCAT('%',#{interfaceName}),'%')
    </if>
    <if test="interfaceType != null and interfaceType != ''">
      and INTERFACE_TYPE = #{interfaceType,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByProvider" resultMap="BaseResultMap">
    select INTERFACE_CFG_ID, EVT_SRC_ID, INTERFACE_NAME, INTERFACE_DESC, INTERFACE_NBR,
    INTERFACE_TYPE, PROVIDER, CALLER, PROTOCOL_TYPE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF,
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, REMARK
    from interface_cfg
    where PROVIDER = #{provider}
  </select>


</mapper>