<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct.dao.strategy.MktStrategyConfRuleMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.strategy.MktStrategyConfRuleDO">
    <id column="MKT_STRATEGY_CONF_RULE_ID" jdbcType="BIGINT" property="mktStrategyConfRuleId" />
    <result column="INIT_ID" jdbcType="BIGINT" property="initId"/>
    <result column="MKT_STRATEGY_CONF_RULE_NAME" jdbcType="VARCHAR" property="mktStrategyConfRuleName" />
    <result column="TAR_GRP_ID" jdbcType="BIGINT" property="tarGrpId" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="EVT_CONTACT_CONF_ID" jdbcType="VARCHAR" property="evtContactConfId" />
    <result column="MKT_CAM_CHL_RESULT_ID" jdbcType="VARCHAR" property="mktCamChlResultId" />
    <result column="CREATE_STAFF" jdbcType="VARCHAR" property="createStaff" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_STAFF" jdbcType="VARCHAR" property="updateStaff" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mkt_strategy_conf_rule
    where MKT_STRATEGY_CONF_RULE_ID = #{mktStrategyConfRuleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="mktStrategyConfRuleId" parameterType="com.zjtelcom.cpct.domain.strategy.MktStrategyConfRuleDO">
    insert into mkt_strategy_conf_rule (MKT_STRATEGY_CONF_RULE_ID, INIT_ID, MKT_STRATEGY_CONF_RULE_NAME,
      TAR_GRP_ID, PRODUCT_ID, EVT_CONTACT_CONF_ID,
      MKT_CAM_CHL_RESULT_ID, CREATE_STAFF,
      CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
      )
    values (#{mktStrategyConfRuleId,jdbcType=BIGINT}, #{initId,jdbcType=BIGINT}, #{mktStrategyConfRuleName,jdbcType=VARCHAR},
      #{tarGrpId,jdbcType=BIGINT}, #{productId,jdbcType=VARCHAR}, #{evtContactConfId,jdbcType=VARCHAR},
      #{mktCamChlResultId,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT},
      #{createDate,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertByBatch" parameterType="java.util.List">
    insert into mkt_strategy_conf_rule (MKT_STRATEGY_CONF_RULE_ID, INIT_ID, MKT_STRATEGY_CONF_RULE_NAME, TAR_GRP_ID, PRODUCT_ID,
    EVT_CONTACT_CONF_ID, CREATE_STAFF,
    CREATE_DATE, UPDATE_STAFF, UPDATE_DATE
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{mktStrategyConfRuleId,jdbcType=BIGINT}, #{initId,jdbcType=BIGINT}, #{mktStrategyConfRuleName,jdbcType=VARCHAR}, #{tarGrpId,jdbcType=BIGINT}, #{productId,jdbcType=VARCHAR},
      #{evtContactConfId,jdbcType=VARCHAR}, #{createStaff,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.strategy.MktStrategyConfRuleDO">
    update mkt_strategy_conf_rule
    set
    <if test="initId!=null">
      INIT_ID = #{initId,jdbcType=BIGINT},
    </if>
    <if test="mktStrategyConfRuleName != null and mktStrategyConfRuleName != ''">
      MKT_STRATEGY_CONF_RULE_NAME = #{mktStrategyConfRuleName,jdbcType=VARCHAR},
    </if>
    <if test="tarGrpId != null">
      TAR_GRP_ID = #{tarGrpId,jdbcType=BIGINT},
    </if>
    <if test="productId != null">
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
    </if>
    <if test="evtContactConfId != null">
      EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=VARCHAR},
    </if>
    <if test="mktCamChlResultId != null">
      MKT_CAM_CHL_RESULT_ID = #{mktCamChlResultId,jdbcType=VARCHAR},
    </if>
    <if test="createStaff != null">
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
    </if>
    <if test="createDate != null">
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
    </if>
    UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
    UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where MKT_STRATEGY_CONF_RULE_ID = #{mktStrategyConfRuleId,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MKT_STRATEGY_CONF_RULE_ID, INIT_ID, MKT_STRATEGY_CONF_RULE_NAME, TAR_GRP_ID, PRODUCT_ID,
    EVT_CONTACT_CONF_ID, MKT_CAM_CHL_RESULT_ID, CREATE_STAFF, CREATE_DATE,
    UPDATE_STAFF, UPDATE_DATE
    from mkt_strategy_conf_rule
    where MKT_STRATEGY_CONF_RULE_ID = #{mktStrategyConfRuleId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MKT_STRATEGY_CONF_RULE_ID, INIT_ID, MKT_STRATEGY_CONF_RULE_NAME, TAR_GRP_ID, PRODUCT_ID,
    EVT_CONTACT_CONF_ID, MKT_CAM_CHL_RESULT_ID, CREATE_STAFF, CREATE_DATE,
    UPDATE_STAFF, UPDATE_DATE
    from mkt_strategy_conf_rule
  </select>
  <select id="selectMktStrategyConfRuleName" parameterType="java.lang.Long"  resultType="java.lang.String">
    select MKT_STRATEGY_CONF_RULE_NAME
    from mkt_strategy_conf_rule
    where MKT_STRATEGY_CONF_RULE_ID = #{mktStrategyConfRuleId,jdbcType=BIGINT}
  </select>
  <select id="selectByMktStrategyConfId" resultMap="BaseResultMap" parameterType="Long">
    select cr.MKT_STRATEGY_CONF_RULE_ID, cr.INIT_ID, cr.MKT_STRATEGY_CONF_RULE_NAME,cr.MKT_CAM_CHL_RESULT_ID, cr.TAR_GRP_ID, cr.PRODUCT_ID, cr.EVT_CONTACT_CONF_ID
    from mkt_strategy_conf_rule cr
    left join mkt_strategy_conf_rule_rel crr
    on cr.MKT_STRATEGY_CONF_RULE_ID = crr.MKT_STRATEGY_CONF_RULE_ID
    where crr.MKT_STRATEGY_CONF_ID = #{mktStrategyConfId,jdbcType=BIGINT}
  </select>

  <select id="selectByTarGrpId" resultMap="BaseResultMap" parameterType="Long">
   select MKT_STRATEGY_CONF_RULE_ID, INIT_ID, MKT_STRATEGY_CONF_RULE_NAME, TAR_GRP_ID, PRODUCT_ID,
    EVT_CONTACT_CONF_ID, MKT_CAM_CHL_RESULT_ID, CREATE_STAFF, CREATE_DATE,
    UPDATE_STAFF, UPDATE_DATE
    from mkt_strategy_conf_rule
    where TAR_GRP_ID = #{tarGrpId,jdbcType=BIGINT}
  </select>

  <select id="listTarGrpIdList" resultType="java.lang.Long">
    select TAR_GRP_ID
    from mkt_strategy_conf_rule
  </select>

  <select id="selectByCampaignId" resultMap="BaseResultMap" parameterType="Long">
    select cr.MKT_STRATEGY_CONF_RULE_ID, cr.INIT_ID, cr.MKT_STRATEGY_CONF_RULE_NAME,cr.MKT_CAM_CHL_RESULT_ID, cr.TAR_GRP_ID, cr.PRODUCT_ID, cr.EVT_CONTACT_CONF_ID
    from mkt_strategy_conf_rule cr
    left join mkt_strategy_conf_rule_rel crr on cr.MKT_STRATEGY_CONF_RULE_ID = crr.MKT_STRATEGY_CONF_RULE_ID
    left join mkt_cam_strategy_conf_rel camrel on camrel.STRATEGY_CONF_ID = crr.MKT_STRATEGY_CONF_ID
    where camrel.MKT_CAMPAIGN_ID = #{campaignId,jdbcType=BIGINT}
  </select>

  <select id="selectAllLabelByStrategyConfId" resultType="Map" parameterType="Long">
  SELECT
	INJECTION_LABEL_CODE AS code,
	LABEL_TYPE AS type
FROM
	injection_label
WHERE
	INJECTION_LABEL_ID IN (
		SELECT DISTINCT
			LEFT_PARAM
		FROM
			tar_grp_condition
		WHERE
			TAR_GRP_ID IN (
				SELECT
					cr.TAR_GRP_ID
				FROM
					mkt_strategy_conf_rule cr
				LEFT JOIN mkt_strategy_conf_rule_rel crr ON cr.MKT_STRATEGY_CONF_RULE_ID = crr.MKT_STRATEGY_CONF_RULE_ID
				WHERE
					crr.MKT_STRATEGY_CONF_ID = #{mktStrategyConfId,jdbcType=BIGINT}
			)
	)
  </select>


</mapper>