<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtelcom.cpct_offer.dao.inst.RequestInstRelMapper">
  <resultMap id="BaseResultMap" type="com.zjtelcom.cpct.domain.channel.RequestInstRel">
    <id column="request_inst_rel_id" jdbcType="BIGINT" property="requestInstRelId" />
    <result column="request_info_id" jdbcType="BIGINT" property="requestInfoId" />
    <result column="request_obj_id" jdbcType="BIGINT" property="requestObjId" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff" />
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="request_obj_type" jdbcType="VARCHAR" property="requestObjType" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from request_inst_rel
    where request_inst_rel_id = #{requestInstRelId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjtelcom.cpct.domain.channel.RequestInstRel">
    <selectKey keyProperty="request_inst_rel_id" resultType="Long" order="BEFORE">
      select smt_bss_cpc_sftt_sequence.nextval
    </selectKey>
    insert into request_inst_rel (request_inst_rel_id, request_info_id, request_obj_id, 
      STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
      STATUS_DATE, CREATE_DATE, UPDATE_DATE, 
      REMARK, request_obj_type)
    values (#{requestInstRelId,jdbcType=BIGINT}, #{requestInfoId,jdbcType=BIGINT}, #{requestObjId,jdbcType=BIGINT}, 
      #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=BIGINT}, #{updateStaff,jdbcType=BIGINT}, 
      #{statusDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{requestObjType,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjtelcom.cpct.domain.channel.RequestInstRel">
    update request_inst_rel
    set request_info_id = #{requestInfoId,jdbcType=BIGINT},
      request_obj_id = #{requestObjId,jdbcType=BIGINT},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      request_obj_type = #{requestObjType,jdbcType=VARCHAR}
    where request_inst_rel_id = #{requestInstRelId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select request_inst_rel_id, request_info_id, request_obj_id, STATUS_CD, CREATE_STAFF, 
    UPDATE_STAFF, STATUS_DATE, CREATE_DATE, UPDATE_DATE, REMARK, request_obj_type
    from request_inst_rel
    where request_inst_rel_id = #{requestInstRelId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select request_inst_rel_id, request_info_id, request_obj_id, STATUS_CD, CREATE_STAFF,
    UPDATE_STAFF, STATUS_DATE, CREATE_DATE, UPDATE_DATE, REMARK, request_obj_type
    from request_inst_rel
  </select>

  <select id="selectByRequestId" resultMap="BaseResultMap">
    select request_inst_rel_id, request_info_id, request_obj_id, STATUS_CD, CREATE_STAFF,
    UPDATE_STAFF, STATUS_DATE, CREATE_DATE, UPDATE_DATE, REMARK, request_obj_type
    from request_inst_rel where request_info_id = #{requestId} and request_obj_type = #{type}
  </select>

</mapper>